

<div id="container">

  

<% unless current_user.nil? %>
  <% @user = current_user %>
  <div id="box1" class="box">
  


<% unless current_user.songkickID.nil? %>
  <div id="hiddenSongkickID"><%= current_user.songkickID %></div>
    <div id="hiddenGigsIDs">
        <% uGarray = [] %>
        <% current_user.gigs.each do |uG| %>
        <% uGarray.push(uG.songkick_id) %>
        <% end %>
        <%= uGarray.map(&:inspect).join(', ') %>
    </div>

     <div id="hiddenPastGigsIDs">
        <% pGarray = [] %>
        <% current_user.past_gigs.each do |pG| %>
        <% pGarray.push(pG.songkick_id) %>
        <% end %>
        <%= pGarray %>
    </div>

    

<% end %>

<div id="hiddenFolloweesIDs">
        <% fArray = [] %>
        <% fArray.push(current_user.uid.to_i) %>
        <% current_user.followees(User).each do |f| %>
        <% fArray.push(f.uid.to_i) %>
        <% end %>
        <%= fArray.map(&:inspect).join(', ') %>
</div>

<div id="hiddenLevel"><%= current_user.level %></div>
<div id="getBadge"></div>

<div id="hub">

<% @user = current_user %>

  <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Share with:</h4>
      </div>
      <div class="modal-body">

        <select id="shareCurrentInput" ></select>
        <%= image_tag "ResnateShareIcon.png", id: "shareCurrentImg" %>
        <%= form_tag({controller: "messages", action: "create"}, method: :post, remote:true) do %>
        
        <input type="textbox" name="user" id="shareCurrentID">
        <%= text_field_tag :content, nil, tabindex: '-1', class: 'lol' %>
        <%= text_field_tag :subject, nil, id: "messageURL" %>
        <div class="messageAlert"></div>
        <%= text_area_tag :body,  "Check this out!", rows: 4, maxlength: 140, placeholder: "Add a message! 140 characters max.", class: "shareTextarea" %>
        <%= submit_tag 'Send message', id: "shareSubmit" %>
        <% end %>
        
        
      </div>
    </div>
  </div>
</div>


  <div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content genericContent">
      
        
    </div>
  </div>
</div>


<div class="modal fade" id="setlistModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content setlistBody">
        
    </div>
  </div>
</div>

<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content "><button type="button" class="close reviewClose" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="reviewModalBody"></div>
    </div>
  </div>
</div>



      <div id="YTtest">
        
       
        
       
        <div id="InfoShare">
          <div id="likeOrNot"></div>
          <div id="stopID">
          </div>
          <div id="infoTitle">
            
          </div>
          <div id="infoIDstuff">
            <% if !current_user.nil? %>
            <%= form_for(@user.songs.create, remote:true) do |f| %>
            <%= text_field_tag :content, nil, tabindex: '-1', class: 'lol' %>
      <%= f.text_field :content, id: "infoID" %>
      <%= f.text_field :name, id: "infoIDName" %>

      <%= f.submit "History ID", id: "subHistory", remote:true %>
    <% end %>
    <% end %>
          </div>
            <div id="likeForm">
           
    </div>
        </div>
        
        
            
        
      </div>

      
        
</div>



<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add to:</h4>
      </div>
      <div class="modal-body">

        
            
            <input id="search_playlists" placeholder="Search Playlists" type="text" autocomplete="off" >
            <input type="hidden" name="newSong" id="newSong" value="" />
      
      <input type="hidden" name="playlistId" id="playlistId" value="" />
      <button id="getPlaylist" type="hidden"></button>

    
      <div id="result2"></div>  
        
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="photoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content photoModalContent">
      <div class="modal-body" id="photoBody">

        
      </div>
    </div>
  </div>
</div>



</div>

<div id="newStuff">

  <div id="mainWriteSongReview">
      <h1>Write About Your Life in Music.</h1>
      <h4>Get points, gain followers, become the No. 1 Music Fan.</h4>
      <input placeholder="Paste YouTube link for a Song or Album here and press Enter to write a Review" id="mainYTPaste">
      <% unless @user.past_gigs.count == 0 %>
        <h6 id="writeGig" data-toggle="modal" data-target="#genericModal" class="seeAllpastHome">Write reviews for concerts you've attended.</h6>
      <% end %>
    </div>


  <div class="featuredContent">
    <h1 class="featuredHeader">Trending Reviews</h1>
    
  </div>


</div>

<div id="feedBox">
</div>

<div id="box2" class="box">

</div>



</div>

<div id="footerPlayer">
  <iframe id="player" frameborder="0" title="YouTube video player"type="text/html"src="https://www.youtube.com/embed/tza3RLAfGzo?html5=1&enablejsapi=1&rel=0&showinfo=0&controls=0&iv_load_policy=3" webkitallowfullscreen mozallowfullscreen allowfullscreen name="player"></iframe>
  <div id="navNslider">
    <div id="navTitle"></div>
    <div id="navButtons"></div>
    
    <div id="slider"></div>
    <div id="currentTime"></div>
    <span class="glyphicon glyphicon-fullscreen"></span>
    <div id="duration"></div>
  </div> 
  
  
  
  <div class="reviewButton writeSongReview" data-toggle="modal" data-target="#reviewModal">Write a Review</div>
  

  <span class="glyphicon glyphicon-chevron-down"></span>

  
  <div id="currentShare"></div>
    
</div>

<div id="maximise"><span class="glyphicon glyphicon-chevron-up"></span></div>

<% end %>

<script type="text/javascript">


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72593344-1', 'auto');
  ga('send', 'pageview');

function getFrameID(id){
    var elem = document.getElementById(id);
    if (elem) {
        if(/^iframe$/i.test(elem.tagName)) return id; //Frame, OK
        // else: Look for frame
        var elems = elem.getElementsByTagName("iframe");
        if (!elems.length) return null; //No iframe found, FAILURE
        for (var i=0; i<elems.length; i++) {
           if (/^https?:\/\/(?:www\.)?youtube(?:-nocookie)?\.com(\/|$)/i.test(elems[i].src)) break;
        }
        elem = elems[i]; //The only, or the best iFrame
        if (elem.id) return elem.id; //Existing ID, return it
        // else: Create a new ID
        do { //Keep postfixing `-frame` until the ID is unique
            id += "-frame";
        } while (document.getElementById(id));
        elem.id = id;
        return id;
    }
    // If no element, return null.
    return null;
}

// Define YT_ready function.
var YT_ready = (function() {
    var onReady_funcs = [], api_isReady = false;
    /* @param func function     Function to execute on ready
     * @param func Boolean      If true, all qeued functions are executed
     * @param b_before Boolean  If true, the func will added to the first
                                 position in the queue*/
    return function(func, b_before) {
        if (func === true) {
            api_isReady = true;
            while (onReady_funcs.length) {
                // Removes the first func from the array, and execute func
                onReady_funcs.shift()();
            }
        } else if (typeof func == "function") {
            if (api_isReady) func();
            else onReady_funcs[b_before?"unshift":"push"](func); 
        }
    }
})();
// This function will be called when the API is fully loaded
function onYouTubeIframeAPIReady() {YT_ready(true)}


// Load YouTube Frame API
(function() { // Closure, to not leak to the scope
  var s = document.createElement("script");
  s.src = (location.protocol == 'https:' ? 'https' : 'http') + "://www.youtube.com/iframe_api";
  var before = document.getElementsByTagName("script")[0];
  before.parentNode.insertBefore(s, before);
})();
var player; 
YT_ready(function(){
    var frameID = getFrameID("player");
    if (frameID) { //If the frame exists
        player = new YT.Player(frameID, {
            events: {
              'onReady': onPlayerReady,
              'onStateChange': stopCycle
            }
        });


        
    }
});

 var playerReady = false;
        function onPlayerReady(event) {
            playerReady = true;
            var $ = document.querySelector.bind(document);
            iframe = $('#player');
            $('.glyphicon-fullscreen').addEventListener('click', playFullscreen);
            function playFullscreen() {
  var requestFullScreen = iframe.requestFullScreen || iframe.mozRequestFullScreen || iframe.webkitRequestFullScreen;
  if (requestFullScreen) {
    requestFullScreen.bind(iframe)();
  }
  
}

        }


        function toHHMMSS(unformat){
          var sec_num = unformat;

          if(sec_num / 3600 <= 1) {
            var minutes = Math.floor(sec_num / 60);
    var seconds = Math.round(sec_num - (minutes * 60));

    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    var time    = minutes+':'+seconds;
  } else {
          var hours   = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = Math.round(sec_num - (hours * 3600) - (minutes * 60));

    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    var time    = hours+':'+minutes+':'+seconds;
  }
    return time;

        }

function stopCycle(event) {

  duration = player.getDuration();
  $('#duration').html(toHHMMSS(duration));
        totalBytes = player.getVideoBytesTotal();

        $("#slider").slider({
        range: "max",
        min: 0,
        max: duration,
        value: 1,
        slide: function( event, ui ) {player.seekTo(ui.value);}
    });

        function loop() {
        var time = player.getCurrentTime(),
            // make loaded a percentage
            loaded = 100 - (player.getVideoBytesLoaded() / totalBytes) * 100;
$('#currentTime').html(toHHMMSS(time));
        // set limit - no one likes negative widths
        if (loaded < 0) { loaded = 0; }

        // update time on slider
        $('#slider')
            .slider('option', 'value', time)
            .find('.ui-widget-header').css('width', loaded + '%');

        // repeat loop as needed
        if (loaded < 0 || time < duration) {
            setTimeout(loop, 500);
        }
    }
    loop(); 


          if (event.data == YT.PlayerState.ENDED) {
               var url = event.target.getVideoUrl();
               var match = url.match(/[?&]v=([^&]+)/);
               var videoId = match[1];
               $('#stopID').html(videoId);
               
                if($('#stopID').html() == videoID){
                  var thisVideo = $('#Playlist').find('li img[src="https://img.youtube.com/vi/'+videoID+'/default.jpg"]');
                  nextVideo = $(thisVideo).parent().next().find('.playlistYT');
                  nextVideo.click();
                }
               

          }

          else if (event.data == YT.PlayerState.PAUSED) {
            
            $('.glyphicon-pause').parent().css('display', 'none');
            $('.glyphicon-play').parent().css('display', 'inline-block');
          }

          else if (event.data == YT.PlayerState.PLAYING) {
            
            $('.glyphicon-play').parent().css('display', 'none');
            $('.glyphicon-pause').parent().css('display', 'inline-block');
          }
      }

function ytSearch()
        {
            var userSearch = document.getElementById('search_query').value;
            var songSearch = document.getElementById('song_query').value;  
            var script = document.createElement('script');
            script.setAttribute('id', 'jsonScript');
            script.setAttribute('type', 'text/javascript');
            if(songSearch.length > 0){
              script.setAttribute('src', 'https://www.googleapis.com/youtube/v3/search?part=snippet&videoCategoryId=10&q='
              + userSearch.replace(/'/g, " ") + '  ' + songSearch.replace(/'/g, " ") + '&type=video&maxResults=50&callback=showMyVideos&order=relevance&sortorder=descending&key=AIzaSyCOXdvVcEfbZ1msV_tb4wfduQOl8wPuMis');
            } else {
              script.setAttribute('src', 'https://www.googleapis.com/youtube/v3/search?part=snippet&videoCategoryId=10&q='
              + userSearch + '&type=video&maxResults=50&callback=showMyVideos&order=relevance&sortorder=descending&key=AIzaSyCOXdvVcEfbZ1msV_tb4wfduQOl8wPuMis');
            }
            

            
            
            document.documentElement.firstChild.appendChild(script);

            $('#videoResultsDiv').on('scroll', function(){
              if($(this).scrollTop() + $(this).innerHeight() >= this.scrollHeight) {
                var userSearch = document.getElementById('search_query').value;
                var songSearch = document.getElementById('song_query').value;
            var script = document.createElement('script');
            script.setAttribute('id', 'jsonScript');
            script.setAttribute('type', 'text/javascript');
                script.setAttribute('src', 'https://www.googleapis.com/youtube/v3/search?part=snippet&videoCategoryId=10&q='
              + userSearch + ' ' + songSearch + '&type=video&maxResults=50&callback=appendVideos&pageToken='+$('.startIndex:last').html() +'&order=relevance&sortorder=descending&key=AIzaSyCOXdvVcEfbZ1msV_tb4wfduQOl8wPuMis');
            
            document.documentElement.firstChild.appendChild(script);
              }
              
            });


        }

        

            



function abracadabra() {
    $('.sidebar-nav').css('width', '500px');
    $('#newStuff').css('width', 'calc(100% - 251px)');
    $('#container').css('margin-left', '510px');
    $('#container').css('width', 'calc(100% - 510px)');
    $("#YTtest, #videoResultsUberDiv, #Gigs, #iframeAmazon").fadeIn().css("display","inline-block");
    $("#PlaylistUberDiv").css("margin-left","10px");
}



$(function(){

  if(window.location.hash) {
    var url = window.location.hash.substr(1);
    if(url[0] == "r"){
      $.get(url, function(result){
      $('#box2').html('<div class="modal-body">'+result+'</div>');
    });
      $('#container').animate({
        top: '-100%'
    });
    } else {
      feed();
    }
    
} else {
      feed();
    }

    $.get('/topReviews', function(result){
    $('.featuredContent').append(result);
  });

  $('#Playlist').on('click', '.glyphicon-remove', function(){
    var updatePlaylistURL = '/playlists/' + $(this).parents('.dropdownPlaylistDiv').siblings('.hiddenPlaylistID').html();
    var playlistContent = [];
      $(this).parents('.dropdownPlaylist').children('li').not($(this).parent()).each(function(){
        name = $(this).find('p').text().trim();
        value = $(this).find('img').attr('src').slice(27,-12);
        var playlistObject = {};
        playlistObject[name] = value;
        playlistContent.push(playlistObject);
      });
    $.ajax({
   url: updatePlaylistURL ,
   type: 'PUT',
   data: {content: JSON.stringify(playlistContent)},
   success: function(response) {
     //...
   }
});
    $(this).parent().remove();
  });

  
    




});

var draggable_opts = {
      scroll: false,
      containment: '#searchNsee',
      zIndex: 1000,
      connectToSortable: '.dropdownPlaylist',
      helper: 'clone',
        start: function(event, ui)
        {
            $(this).hide();
            $('.sidePlaylistName').removeClass('animated bounce');

        },
        stop: function(event, ui)
        {
            
                $(this).show();
              
        }
    }



$('.glyphicon-chevron-down').click(function(){
  $('#footerPlayer').animate({bottom: '-=150'});
  $('#maximise').show();
});

$('#maximise').click(function(){
  $(this).hide();
  $('#footerPlayer').animate({bottom: '+=150'});
});

 $("#shareCurrentInput").select2({
    theme: "bootstrap",
    placeholder: "Name(s)",
    width: "350px",
    quietMillis: 100,
    multiple: true,
    minimumInputLength: 2,
    maximumSelectionSize: 3,
    formatSelectionTooBig: "You can only message 3 users at once",
    ajax: { 
        url: "/search.json",
        dataType: 'json',
        data: function (params) {
            return {
                search: params.term
            };
        },
        processResults: function (data, params) { 
            return {results: data};
        }
    },
    templateResult: userFormatResult,
    templateSelection: userFormatSelection,  
    
    escapeMarkup: function (m) { return m; } 
});


function userFormatResult(user) {
        var markup = "<table class='user-result'><tr>";
        if (user.uid !== undefined ) {
            markup += "<td class='user-image'><img src='https://graph.facebook.com/" + user.uid + "/picture?width=50&height=50'class='multiplePic'/></td>";
        }
        markup += "<td class='multipleName'><div>" + user.name + "</div></td></tr></table>";
        return markup;
    }

    function userFormatSelection(user) {
      /*$('#shareCurrentID').val(function(i,val) { 
        return val + (!val ? '' : ', ') + user.id;
      });*/
        
        return user.name +'<div style="display:none" class="shareCurrentID">'+user.id+'</div>';
    }

$('#shareCurrentImg').click(function(){
  var inputIDs = [];

  $('.shareCurrentID').each(function(){
    inputIDs.push($(this).html());
  });

  $('#shareCurrentID').val(inputIDs);

  if ($('.shareTextarea').val().length > 140) {



  } else {

    if ($('.shareTextarea').val() == '') {
      $('.shareTextarea').val('Check this out!');
    }

    $('#shareSubmit').click();
    $('.modal').modal('hide');

  }

  
});

      

      function deleteAll(){
        $('#Playlist').html('');
      }

      

      <% if !current_user.nil? %>

      function profile() {
        $.get('/<%= current_user.id%>/profile', function(result){
          $('#box2').html(result);
        });
        $('#container').animate({
          top: '-100%'
        });
        $('#box2').scrollTop(0);
      }

  $('body').on('click', '.profileName, .profileImg, .profileNameMsg, .profileFollowName, .feedPic, .reviewerPic, .feedFollowPic, .playlistCreatorFeed, .followNames, .followImgs, .userImg, .playlistCreatorName, .friendsWhoLikeImgs, .commenterName', function(){
    
  $.get('/' + $(this).siblings('.hiddenID').html() + '/profile', function(result){
  $('#box2').html(result);});
  $('.modal').modal('hide');
    $('#container').animate({
        top: '-100%'
    });
  });

 $('.seeAllpastHome').click(function(){
  
  $.get("/<%= @user.id %>/pastGigs", function(result){

  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel">Past Gigs & Reviews</h3></div><div class="modal-body" id="pastGigsBody">'+result+'</div>');});

  
});


  $(document).on('click', '.reviewerName', function(){
    $.get('/' + $(this).siblings('.hiddenReviewerID').html() + '/profile', function(result){
  $('#box2').html(result);});
  $('.modal').modal('hide');
    $('#container').animate({
        top: '-100%'
    });
    $('#box2').scrollTop(0);
  });

      function getConvos(){
  $.get("/<%= current_user.id %>/conversations", function(result){
  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel">Messages</h3></div><div class="modal-body" id="convosBody">'+result+'</div>');});
  $('#recCount').html(0);
}

function getPoints(){
  $.get("/<%= current_user.id %>/notifications", function(result){
  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel">Notifications</h3></div><div class="modal-body" id="ntBody">'+result+'</div>');});
  $('#pointCount').html(0);
}

function getLeaderboard(){
  $.get("/leaderboard", function(result){
  $('.genericContent').html('<div class="modal-body leaderBody">'+result+'</div>');});
}

      function feed(){
        $.get('/<%= current_user.id %>/followeesUIDs', function(result){
      $('#hiddenFolloweesIDs').html(result);
    });
        $.get("/activities", function(result){
  $('#feedBox').html(result);});
  $("#feedBox").scrollTop(0)
    $('#container').animate({
        top: '51px'
    });
    
}


function friendsLikeArtist(){
  $("#searchNsee").scrollTop(0);
  $('#queryFriends').html($('#search_query').val().replace(/\./g, '').replace(/\b./g, function(m){ return m.toUpperCase(); }));
  $.get("/<%= @user.id %>/"+$('#search_query').val().replace(/\./g, '')+"/friendsWhoLike", function(result){
    $('#friendsLikeDiv').html(result);  
  });
  $('#friendsLikeArtist').css('display', 'inline-block');
}

      $(function(){

        $('#mainYTPaste').keydown(function(e){
          if(event.keyCode==13){
            var url = $('#mainYTPaste').val();
            var ytReg = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
            
            if(url.match(ytReg)){
              var songReviewID = url.match(ytReg)[1];
              $.getJSON('https://gdata.youtube.com/feeds/api/videos/' + songReviewID + '?v=2&alt=jsonc', function(json){
                var songName = json["data"]["title"];
                $.post('/songs', { song: { content: songReviewID, name: songName } }).done(function(data) {
                  
                    $.get('/songs/' + data + '/reviewTemplate', function(result){
                      $('#box2').html('<div class="modal-body">'+result+'</div>');
                      $('#container').animate({
                         top: '-100%'
                      });
                  
                  });
                });
              });
            }
          }
        });

  $(document).on('keydown', "#newSongReview", function(event){
  
    if(event.keyCode==13 && !event.shiftKey){
    var contentText = $(this).val();
    var ID = $(this).siblings('#hiddenSongID').html();
  $.post('/reviews', { review: { reviewable_id: ID, reviewable_type: "Song", content: contentText } } ).done(function( data ) {
    $.get('/reviews/' + data, function(result){
      $('#box2').html('<div class="modal-body>'+result+'</div>');
    });
  });
}});

        $('.modal').on('shown.bs.modal', function () {
    $(".modal-content").scrollTop(0);
});


        $(document).on('click', ".saveGigReviewButton", function(event){
  
    
  var contentText = $(this).siblings('.noReview').val();
  var ID = $(this).siblings('.reviewableID').html();
  $.post('/reviews', { review: { reviewable_id: ID, reviewable_type: "PastGig", content: contentText } } ).done(function( data ) {
    $.get('/reviews/' + data, function(review){
      $('.reviewModalBody').html(review);
    });
  });
  $.get("/<%= @user.id %>/pastGigs", function(result){

  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel">Past Gigs & Reviews</h3></div><div class="modal-body" id="pastGigsBody">'+result+'</div>');});
});

        $(document).on('click', ".saveSongReviewButton", function(event){
  
    
  var contentText = $(this).siblings('.noReview').val();
  var ID = $(this).siblings('.reviewableID').html();
  $.post('/reviews', { review: { reviewable_id: ID, reviewable_type: "Song", content: contentText } } ).done(function( data ) {
    $.get('/reviews/' + data, function(review){
      $('.reviewModalBody').html(review);
      $('#reviewModal').modal('show');
    });
  });
});

        $(document).on('click', ".cancelReviewButton", function(event){
          $('#reviewModal').modal('hide');
        });

        $(document).on('click', ".saveReview", function(event){
  
    var reviewContent = $(this).siblings('.updateReview')
  var contentText = $(reviewContent).val();
  var ID = $(this).siblings('.hiddenReviewID').html();
  var updateURL = "/reviews/" + ID;
  $.ajax({
  url: updateURL,
  method: "PUT",
  data: { content : contentText }
});
  var updatedContentText = contentText.replace(/\r?\n|\r/g, "<br>").replace(/(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))([-a-zA-Z0-9_]+)/g, function ($0) {
            return ("<img src='https://img.youtube.com/vi/"+$0.match(/^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/)[1]+"/hqdefault.jpg' class='reviewYouTubeImgs' /><p class='hiddenSongName'></p><p class='hiddenYouTubeURLs'>https://www.googleapis.com/youtube/v3/videos?id=#{youTubeID}&key=AIzaSyCa2qY9zSZWCKyX6HftBDvSSszkjJQSd8Y&part=snippet</p>")
          });
  $(reviewContent).replaceWith('<div class="reviewContent">' + updatedContentText + '</div>');
  $(this).css('display', 'none');
  $(this).siblings('.cancelGigReview').css('display', 'none');
  $(this).siblings('.editReview').css('display', 'inline-block');
});

        $(document).on('click', ".cancelGigReview", function(event){
          var reviewContent = $(this).siblings('.updateReview')
          var contentText = $(reviewContent).val().replace(/\r?\n|\r/g, "<br>").replace(/(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))([-a-zA-Z0-9_]+)/g, function ($0) {
            return ("<img src='https://img.youtube.com/vi/"+$0.match(/^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/)[1]+"/hqdefault.jpg' class='reviewYouTubeImgs' /><p class='hiddenSongName'></p><p class='hiddenYouTubeURLs'>https://www.googleapis.com/youtube/v3/videos?id=#{youTubeID}&key=AIzaSyCa2qY9zSZWCKyX6HftBDvSSszkjJQSd8Y&part=snippet</p>");
          }) ;
          $(reviewContent).replaceWith('<div class="reviewContent">' + contentText + '</div>');
          $(this).css('display', 'none');
          $(this).siblings('.saveReview').css('display', 'none');
          $(this).siblings('.editReview').css('display', 'inline-block');
        });

$(document).on('click', '.editReview', function(){

  var ID = $(this).siblings('.hiddenReviewID').html();

  $.getJSON('/reviews/' + ID + '.json', function(data){

    var reviewContent = data["content"]
    var height = $('#box2 .reviewContent').height();
    $('#box2 .reviewContent').replaceWith('<textarea class="updateReview">' + reviewContent.replace(/(<br>)|(<br \/>)|(<p>)|(<\/p>)/g, "\r\n") + '</textarea>');
    $('.updateReview').height(height);

    $('#box2 .editReview').hide();
    $('#box2 .editReview').siblings('.saveReview, .cancelGigReview').css('display', 'inline-block');

  });
  
});

$(document).on('click', '.deleteReview', function(){
  $(this).siblings('.deleteReviewPrompt, .deleteReviewYes, .deleteReviewNo').addClass('inlinePrompt');
});

$(document).on('click', '.deleteReviewNo', function(){
  $(this).siblings('.deleteReviewPrompt, .deleteReviewYes').removeClass('inlinePrompt');
  $(this).removeClass('inlinePrompt');
});

$(document).on('click', '.deleteReviewYes', function(){
  var reviewURL = '/reviews/' + $(this).siblings('.hiddenReviewID').html().trim();
  $.ajax({
            url: reviewURL ,
            type: 'DELETE'
          });
  $.get('/<%= current_user.id %>/profile', function(result){
  $('#box2').html(result);});
    $('#container').animate({
        top: '-100%'
    });
    $('.modal').modal('hide');
});

$(document).on('click', '.cancelReview', function(){
  $(this).siblings('.cancelReviewPrompt, .cancelReviewYes, .cancelReviewNo').css('display', 'inline-block');
});

$(document).on('click', '.cancelReviewNo', function(){
  $(this).hide();
  $(this).siblings('.cancelReviewPrompt, .cancelReviewYes').hide();
});

$(document).on('click', '.cancelReviewYes', function(){
    $('#box2').html('');
    $('#container').animate({
        top: '51px'
    });
});



$(document).on('keydown', "#songReviewInput", function(event){
  
    if(event.keyCode==13 && !event.shiftKey){
      var contentText = $(this).val();
      var songURL = $('#currentShare .hiddenSongID').html();
      $.post('/reviews', { review: { reviewable_id: songURL, reviewable_type: "Song", content: contentText } } );
      $(this).replaceWith('<div id="songReviewContent">' + contentText.replace(/\r?\n|\r/g, "<br>") + '</div>')
    }
});

$(document).on('click', '#songReviewContent', function(){
  
    var content = $(this).html();
  $(this).replaceWith('<textarea id="songReviewInput">' + content.replace(/(<br>)|(<br \/>)|(<p>)|(<\/p>)/g, "\r\n") + '</textarea>');
  
  
});



  $('.genericContent').on('scroll', function(){
    if($('.genericInfinite-scrolling .pagination .next').length){
      if(!$('.next').hasClass('disabled')) {
        url = $('.genericInfinite-scrolling .next').find('a').attr('href');
        if($('.genericContent').scrollTop() + $('.genericContent').innerHeight()>=$('.genericContent')[0].scrollHeight - 200){
      
          $('.genericInfinite-scrolling').remove();
          $.get(url, function(response){
            setTimeout(
              function() {
                $('#genericModal .modal-body').append(response); 
                }, 2500);
                     });
        }    
      }
          
    } 
  });

  
  


  $('#newStuff').on('scroll', function(){
    if($('.mainInfinite-scrolling .pagination .next').length){
      if(!$('.next').hasClass('disabled')) {
        url = $('.mainInfinite-scrolling .next').find('a').attr('href');
        if($('#newStuff').scrollTop() + $('#newStuff').innerHeight()>=$('#newStuff')[0].scrollHeight - 200){
      
          $('.mainInfinite-scrolling').remove();
          $.get(url, function(response){
            setTimeout(
              function() {
                $('.featuredContent').append(response); 
                }, 200);
                     });
        }    
      }
          
    } 
  });
  


         $('#shareCurrentInput, #shareCurrentID').val('');

         $(document).on('click', '.popup', function (event) {
    event.preventDefault();
    window.open($(this).attr("href"), "popupWindow", "width=600,height=400,scrollbars=yes");
    return false;
});

    $(document).on('click', '.glyphicon-plus' , function(event){
    event.stopPropagation();
    $('.dropdown-menu').html('');
    $.getJSON("../<%= current_user.id %>/userPlaylists.json",function(data){
      if(data == '') {
      $('.dropdown-menu').append('<li>No Playlists Found</li>')
    } else {

        $(data).each(function(i,result){
        $('.dropdown-menu').append('<li><a href="'+result.id+'">'+result.name+'</a></li>')
    });
  }
      
    });

    $(this).siblings('.btn-group').find('.dropdown-menu').toggle();
  });

  $(document).click( function(e){
        $('.dropdown-menu').hide();

        if(e.target.className.indexOf('sideNewPlaylist') != -1){
          return;
        } else {
          $('#newPlaylistInput').replaceWith('<h5 class="sideNewPlaylistName">Create a New Playlist</h5>');  
        }

        if(e.target.className.indexOf('sideEdit') == -1){
          $('.editPlaylistInput').each(function(){
            if($(this).css('display') == 'inline'){
              $(this).css('display', 'none');
            }
          });
          
          $('.sidePlaylistName').css('display', 'inline-block');
        }
        
    });

        

          $(document).on('click', '.feedYT, .inboxSong, .songName, .reviewSongImg, .reviewYouTubeImgs', function(){
            videoID = $(this).attr("src").slice(27,38);
            <%= render 'layouts/videoClick' %>
          });

          $('body').on('click', '#container #feedBox .activity .songThumb', function(){
            $('.shareTextarea').val($(this).siblings('.hiddenActivityID').html().trim());
  if($(this).hasClass('liked')){
    $(this).removeClass('liked');
 $.post("/"+$(this).siblings('.hiddenSongID').html()+"/unlike");

 $.post("/"+$(this).parent().siblings('.activityInfo').find('.hiddenID').html().trim()+"/pointMinus1");
 } else {
  $(this).addClass('liked');
  $.post("/"+$(this).siblings('.hiddenSongID').html()+"/like");

  if($(this).parent().siblings('.activityInfo').find('.hiddenID').html().trim() != "<%= current_user.id %>"){
    $.post("/"+$(this).parent().siblings('.activityInfo').find('.hiddenID').html().trim()+"/point1");

    $('#shareCurrentID').val($(this).parent().siblings('.activityInfo').find('.hiddenID').html().trim());
  $('#messageURL').val('S|'+$(this).siblings('.hiddenSongID').html());
  $('#shareSubmit').click();
  $('#messageURL').val('');
  $('.shareTextarea').val('Check this out!');
  }
  
 }
});

          $('body').on('click', '#container #feedBox .activity .gigThumb', function(){
            $('.shareTextarea').val($(this).siblings('.hiddenActivityID').html().trim());
  if($(this).hasClass('liked')){
    $(this).removeClass('liked');
    $.post("/"+$(this).siblings('.hiddenGigID').html().trim()+"/gigs/unlike");
    $.post("/"+$(this).parent().siblings('.activityInfo').find('.hiddenID').html().trim()+"/pointMinus5");

 }

  else {
  $(this).addClass('liked');
  $.post("/"+$(this).siblings('.hiddenGigID').html().trim()+"/gigs/like");

if($(this).parent().siblings('.activityInfo').find('.hiddenID').html().trim() != "<%= current_user.id %>"){
  $.post("/"+$(this).parent().siblings('.activityInfo').find('.hiddenID').html().trim()+"/point5");
  $('#shareCurrentID').val($(this).parent().siblings('.activityInfo').find('.hiddenID').html().trim());
  $('#messageURL').val('G|'+$(this).siblings('.hiddenGigID').html());
  $('.shareTextarea').val($(this).siblings('.hiddenActivityID').html());
  $('#shareSubmit').click();
  $('#messageURL').val('');
  $('.shareTextarea').val('Check this out!');
  }

 }

 });

          $(document).on('click', '.reviewThumb', function(){
  if($(this).hasClass('liked')){
    $(this).removeClass('liked');
 $.post("/reviews/"+$(this).siblings('.hiddenReviewID').html()+"/reviewUnlike");
 }

  else {
  $(this).addClass('liked');
  $.post("/reviews/"+$(this).siblings('.hiddenReviewID').html()+"/reviewLike");

if($(this).siblings('.hiddenID').html().trim() != "<%= current_user.id %>"){
  $.post("/"+$(this).siblings('.hiddenID').html().trim()+"/point5");
  $('#shareCurrentID').val($(this).siblings('.hiddenID').html().trim());
  $('#messageURL').val('R|'+$(this).siblings('.hiddenReviewID').html());
  $('.shareTextarea').val($(this).siblings('.hiddenReviewID').html());
  $('#shareSubmit').click();
  $('#messageURL').val('');
  $('.shareTextarea').val('Check this out!');
  }

 }

 });




$(document).on('click', '.shareGig', function(){
        $('#messageURL').val('G#'+$(this).siblings('.hiddenGigID').html());
  });

$(document).on('click', '.shareReview', function(){
        $('#messageURL').val('R#'+$(this).siblings('.hiddenReviewID').html());
  });
    
    $(document).on('click', '.feedReview, .msgReviewName, .msgReviewContent, #latestReviewName, #latestReviewImg, .reviewSong, .reviewGigName, .reviewGigImgs, .profileReview, .featuredReviewTitle', function(){
  
  
  $.get('/reviews/' + $(this).siblings('.hiddenReviewID').html(), function(result){
  $('.modal').modal('hide');
  $('#box2').html('<div class="modal-body">'+result+'</div>');
  $('#container').animate({
        top: '-100%'
    });
  $('#box2').scrollTop(0);
});
    
  
});

    $(document).on('keydown', ".inputComment", function(event){
    if(event.keyCode==13 && !event.shiftKey){
      event.preventDefault();
      var text = $(this).val().replace(/\r\n|\r|\n/g,"%0A");
      var url = $(this).siblings('.commentURL').html().trim() + "create";
      
      
      $.post(url, {body: text});
      
      
      $(this).val('');


          
        
          if($(this).siblings('.hiddenReviewID').length > 0) {
            $('#messageURL').val('C|R' + $(this).siblings('.hiddenReviewID').html().trim());
          } else if ($(this).siblings('.hiddenSongID').length > 0) {
            $('#messageURL').val('C|S' + $(this).siblings('.hiddenSongID').html().trim());
            
          } else if ($(this).siblings('.hiddenGigID').length > 0) {
            $('#messageURL').val('C|G' + $(this).siblings('.hiddenGigID').html().trim());
          }  else if ($(this).siblings('.hiddenPlaylistID').length > 0) {
            $('#messageURL').val('C|P' + $(this).siblings('.hiddenPlaylistID').html().trim());
          }
          
          if($(this).siblings('.hiddenReviewID').length > 0) {
            $('.shareTextarea').val($(this).siblings('.hiddenReviewID').html().trim());  
          } else {
            $('.shareTextarea').val($(this).siblings('.hiddenActivityID').html().trim());
          }

          if($(this).siblings('.hiddenLikerID').length > 0 ) {
            if($(this).siblings('.hiddenLikerID').html().trim() != "<%= current_user.id %>") {
              $('#shareCurrentID').val($(this).siblings('.hiddenLikerID').html().trim());
              $('#shareSubmit').click();
            }
            

          } else {
            
            if($(this).siblings('.hiddenID').html().trim() != "<%= current_user.id %>") {
              $('#shareCurrentID').val($(this).siblings('.hiddenID').html().trim());
              $('#shareSubmit').click();

            }

          }
          
          
          $('.shareTextarea').val('Check this out!')
          $('#messageURL').val('');
        }
        
        
        
      
  });


        var pusher = new Pusher('18f25224620c76b2aa21');
        var channel = pusher.subscribe('activities');

        
        channel.bind('feed', function(re) {
          var data = re.message;
          var owner = data.trim().split(',')[1];
    var activity = data.trim().split(',')[0];
    var allFollowees = $('#hiddenFolloweesIDs').html().trim();
    if(allFollowees.indexOf(owner) != -1){
      $.get('/activities/'+activity, function(result){
        var firstFeed = $('#feedBox:first');

        var currentPos = firstFeed.offset().top - $('#feedBox').scrollTop();
    
        $('#feedBox').prepend(result);

        $('#feedBox').scrollTop(firstFeed.offset().top - currentPos)
      });
      
    }
    
        });

        var commentsChannel = pusher.subscribe('comments');

        commentsChannel.bind('comment', function(re) {
          var data = re.message;
          $.get(data + 'index', function(result){
            var commentID = '.'+data.trim().replace(/\//g, '');
            $(commentID).html(result);
          });
        });

        

        var msgChannel = pusher.subscribe('messages');

        msgChannel.bind('inbox', function(re) {
          var data = re.message;
          if('<%= current_user.id%>' == parseInt(data)) {
    $.get('/' + data + '/lastMsg', function(result){
      $('#lastMsgDiv').html(result);

      var lastMessageSenderID = $('#lastMessageSenderID').html();
      var lastMessageSenderUID = $('#lastMessageSenderUID').html();
      var lastMessageSenderName = $('#lastMessageSenderName').html();
      var lastMessageSubject = $('#lastMessageSubject').html();
      var lastMessageBadge = $('#lastMessageBadge').html();

      if(lastMessageSubject.charAt(1) != '|'){
        $('#recCount').html(parseInt($('#recCount').html()) + 1);
        $('#recCount').removeClass('invisCount');
        if(lastMessageSubject.charAt(0) == 'S') {
          lastMessageSubjectType = 'song';
        } else if(lastMessageSubject.charAt(0) == 'P') {
          lastMessageSubjectType = 'playlist';
        } else if(lastMessageSubject == 'G#') {
          lastMessageSubjectType = 'gig';
        } else if(lastMessageSubject == 'R#') {
          lastMessageSubjectType = 'review';
        }

        messageRT = '<div class="ns-thumb inboxNotification"><img src="https://graph.facebook.com/'+lastMessageSenderUID+'/picture?width=100&height=100" class="notificationImg"/></div><div class="ns-content inboxNotification"><p>'+lastMessageSenderName+' shared a '+lastMessageSubjectType+' with you!</p></div>';

      } else {
        $('#pointCount').html(parseInt($('#pointCount').html()) + 1);
        $('#pointCount').removeClass('invisCount');
        $.get('/points', function(result){
          $('.navPoints').html(result);
        });
        

        if(lastMessageSubject != 'B|') {
          if(lastMessageSubject == 'S|') {
            lastMessageSubjectType = '1 point';
            messageRT = '<div class="ns-thumb pointsNotification"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></div><div class="ns-content pointsNotification"><p>You got '+lastMessageSubjectType+'!</p></div>';
          } else if(lastMessageSubject == 'C|') {
            messageRT = '<div class="ns-thumb pointsNotification"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></div><div class="ns-content pointsNotification"><p>'+lastMessageSenderName+' commented on your activity!</p></div>';
          } else if(lastMessageSubject == 'G|' || lastMessageSubject == 'P|' || lastMessageSubject == 'R|' || lastMessageSubject == 'U|') {
            lastMessageSubjectType = '5 points';
            messageRT = '<div class="ns-thumb pointsNotification"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></div><div class="ns-content pointsNotification"><p>You got '+lastMessageSubjectType+'!</p></div>';
          }
          
        } 

        <% unless current_user.badges.last.nil? %>

        else if(lastMessageSubject == 'B|') {
          messageRT = '<div class="ns-thumb pointsNotification"><img src="/assets/'+lastMessageBadge+'" class="notificationImg"></div><div class="ns-content pointsNotification"><p>New level: '+lastMessageBadge+'!</p></div>';
        }

        <% end %>
      } 
      


      var notification = new NotificationFx({

      message : messageRT,      
      layout : 'other',
      ttl : 10000,
      effect : 'thumbslider',
      type : 'notice',
      onClose : function() {
      bttn.disabled = false;
      }
      });

      for(i=1; i <= $('.ns-box').length; i++){
                
                $('.ns-box').eq(i).css('margin-top','+=90px');
              }

            notification.show();

    });  
  }

        });

   
         $("#navTitle").mouseover(function() {

    var maxscroll = $(this).width();
    var speed = maxscroll * 15;
    $(this).animate({
        scrollLeft: maxscroll
    }, speed, "linear");
});

$("#navTitle").mouseout(function() {
    $(this).stop();

    $(this).animate({
        scrollLeft: 0
    }, 'slow');
});

        <% unless current_user.songkickID.nil? %>
  
  var url="https://api.songkick.com/api/3.0/users/" + $('#hiddenSongkickID').html() + "/calendar.json?reason=attendance&apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?";

  var gigsArray = [];

  $.getJSON(url,function(json){ 

      var allGigs = [];

      var allPreviousGigs = $('#hiddenGigsIDs').html().trim();

      allPreviousGigs = allPreviousGigs.split(',').map(function(x){return parseInt(x)});

      var totalEntries = json.resultsPage.totalEntries;

      var totalPages = 1

      if(totalEntries > 50){

        totalPages = totalEntries % 50;

      }

      for (i = 1; i <= totalPages; i++) { 

        var pageUrl = "https://api.songkick.com/api/3.0/users/" + $('#hiddenSongkickID').html() + "/calendar.json?reason=attendance&apikey=Pxms4Lvfx5rcDIuR&page=" + i + "&jsoncallback=?";
        
        $.getJSON(pageUrl,function(pageJson){

          $.each(pageJson.resultsPage.results.calendarEntry,function(j,e){

            allGigs.push(e.event.id);
            
            if($('#hiddenGigsIDs').html().indexOf(e.event.id) == -1){
          
              gigsArray.push({songkick_id: e.event.id , gig_date: e.event.start.date });
            alert(gigsArray)
            }
          });

          <% unless current_user.gigs.count == 0 %>

          $.each(allPreviousGigs, function(i, gigID){
            if(allGigs.indexOf(gigID) == -1){
              deleteURL = '/gigUndo/'+gigID;
              $.post(deleteURL);
            }
          });

          <% end %>
        });
        alert(gigsArray);
        $.post( '/<%= current_user.id %>/multipleCreate', { multiGigs: JSON.stringify(gigsArray) });
      }
     

    
      
          });


  var pGurl="https://api.songkick.com/api/3.0/users/" + $('#hiddenSongkickID').html() + "/gigography.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?";

  var pastGigsArray = [];

  $.getJSON(pGurl,function(json){ 

      var totalEntries = json.resultsPage.totalEntries;

      var totalPages = 1

      if(totalEntries > 50){

        totalPages = totalEntries % 50;

      }

      for (i = 1; i <= totalPages; i++) { 

        var pageUrl = "https://api.songkick.com/api/3.0/users/" + $('#hiddenSongkickID').html() + "/gigography.json?apikey=Pxms4Lvfx5rcDIuR&page=" + i + "&jsoncallback=?";

        $.getJSON(pageUrl,function(json){

          $.each(json.resultsPage.results.event,function(j,e){
        if($('#hiddenPastGigsIDs').html().indexOf(e.id) == -1){
          
          pastGigsArray.push({songkick_id: e.id , gig_date: e.start.date });
          
        }
            });
   $.post( '/<%= current_user.id %>/pastMultipleCreate', { multiGigs: JSON.stringify(pastGigsArray) });

        });
      }
  
    });


  <% end %>

 
  
  

 

  
  
});
 
$('.modal').on('hidden.bs.modal', function () {
  if($(this).attr('id') == 'genericModal'){
    $('.genericContent').html('');  
  }
  
});

$(document).on('click', '.feedCsImgFollow', function(){
     $('#messageURL').val('P#' + $(this).siblings('.sharePlaylistID').html());
  });


$(document).on('mouseenter', '.dropdown-menu li a', function(){
    $(this).css({'color' : 'white', 'background-color': 'red'});
});

$(document).on('mouseleave', '.dropdown-menu li a', function(){

    $(this).css({'color' : 'black', 'background-color': 'white'});
});  

$(document).on('click', '.dropdown-menu li a', function(e){
  e.preventDefault();
  var playlistURL = '/playlists/' + $(this).attr("href") + '.json';
  var updatePlaylistURL = '/playlists/' + $(this).attr("href");
        
  if($(this).parents('.btn-group').siblings('.glyphicon-plus').hasClass('feedPlus')){
    name = $(this).parents('.btn-group').siblings('.jamTitle').html().trim();
    value = $(this).parents('.btn-group').siblings('.jamID').html().trim();
  } else if($(this).parents('.btn-group').parent().hasClass('messageIcons')){
    name = $(this).parents('.messageIcons').siblings('#makeJamLi').find('.jamTitle').html().trim();
    value = $(this).parents('.messageIcons').siblings('#makeJamLi').find('.jamID').html().trim();
  } else {
    name = $('#infoTitle').html();
    value = $('#infoID').val();
  }
      


        $.getJSON(playlistURL, function(json){
          playlistContent = JSON.parse(json["content"]);
            
          var playlistObject = {};
          playlistObject[name] = value;

          if(playlistContent == null) {
            playlistContent = [];
          }
          

          playlistContent.push(playlistObject);
          
          $.ajax({
            url: updatePlaylistURL ,
            type: 'PUT',
            data: {content: JSON.stringify(playlistContent)}
          });
          
          
        });

$('.dropdown-menu').toggle();

});



$('#Playlist').on('click', '.sidePlaylist, .sideFollowed', function(e){
  if(e.target.className.indexOf('playlistSong') != -1){
    return;
  }

  else if(e.target.className.indexOf('glyphicon-remove') != -1){
    return;
  }

  else if(e.target.className.indexOf('descriptTxt') != -1){
    var updatePlaylistURL = '/playlists/' + $(this).find('.hiddenPlaylistID').html();
    $(this).keydown(function(event){
    if(event.keyCode==13 && !event.shiftKey && $(this).find('.descriptTxt').val() != "" ){
      descript = $(this).find('.descriptTxt').val();
      $.ajax({
            url: updatePlaylistURL ,
            type: 'PUT',
            data: {description: descript}
          });
      $(this).find('.descriptTxt').replaceWith('<p class="descriptP">' + descript + '</p>')
    }
  });

    return;
  }

  else if(e.target.className.indexOf('descriptP') != -1){
    if($(this).hasClass('sidePlaylist')){
      text = $(e.target).html();
    $(e.target).replaceWith('<textarea class="descriptTxt">' + text + '</textarea>')
    return;
    }
    
  }
      var playlistURL = '/playlists/' + $(this).find('.hiddenPlaylistID').html();
      var playlistID = $(this).find('.hiddenPlaylistID').html();

        $.get(playlistURL, function(result){
          $('#Playlist').find('#dropdownPlaylist' + playlistID).html(result);
          $('#dropdownPlaylistDiv' + playlistID).toggle();
        });
      
});

function songDroppable(event, ui) {

      var playlistURL = '/playlists/' + $(this).find('.hiddenPlaylistID').html() + '.json';
        var updatePlaylistURL = '/playlists/' + $(this).find('.hiddenPlaylistID').html();
        $.getJSON(playlistURL, function(json){
          playlistContent = JSON.parse(json["content"]);
            name = ui.draggable.find("p").text();
          value = ui.draggable.find("img").attr("src").slice(27,-12);
          var playlistObject = {};
          playlistObject[name] = value;

          if(playlistContent == null) {
            playlistContent = [];
          }
          

          playlistContent.push(playlistObject);
          
          $.ajax({
            url: updatePlaylistURL ,
            type: 'PUT',
            data: {content: JSON.stringify(playlistContent)}
          });
          
          
        });
$(this).find('.sidePlaylistName').addClass('animated bounce');

    }

$(".sidePlaylist").droppable({ 
  accept: ".videoResultsDivLi", 
  zIndex: 1,
  hoverClass: "dropPlaylist",
  drop: songDroppable
});

var sortable_opts = {
    containment: '#searchNsee',
sort: function(event, ui) {
  $('.sidePlaylist').removeClass('dropPlaylist');
  $(ui.helper).removeClass('videoResultsDivLi');
  $(ui.helper).addClass('playlistSong playlistSongLi noclick');
  $(ui.helper).css('width', '238px');
    },
    stop: function(){
    var updatePlaylistURL = '/playlists/' + $(this).parents('.dropdownPlaylistDiv').siblings('.hiddenPlaylistID').html();
    var playlistContent = [];
      $(this).children('li').each(function(){
        name = $(this).find('p').text().trim();
        value = $(this).find('img').attr('src').slice(27,-12);
        var playlistObject = {};
        playlistObject[name] = value;
        playlistContent.push(playlistObject);
      });
    $.ajax({
   url: updatePlaylistURL ,
   type: 'PUT',
   data: {content: JSON.stringify(playlistContent)},
   success: function(response) {
     //...
   }
});
    },
    receive: function(event, ui){

      var updatePlaylistURL = '/playlists/' + $(this).parents('.dropdownPlaylistDiv').siblings('.hiddenPlaylistID').html();
    var playlistContent = [];
      $(this).children('li').each(function(){
        name = $(this).find('p').text().trim();
        value = $(this).find('img').attr('src').slice(27,-12);
        var playlistObject = {};
        playlistObject[name] = value;
        playlistContent.push(playlistObject);
      });
    $.ajax({
   url: updatePlaylistURL ,
   type: 'PUT',
   data: {content: JSON.stringify(playlistContent)},
   success: function(response) {
     //...
   }
});
    }
      }

$(".sidePlaylist .dropdownPlaylist").sortable(sortable_opts);
    


$('#Playlist').on('click', '.sideNewPlaylist', function(e){
  $(this).find('.sideNewPlaylistName').replaceWith('<input id="newPlaylistInput">');
  $('#newPlaylistInput').focus();
  $("#newPlaylistInput").keydown(function(event){
    if(event.keyCode==13 && $('#newPlaylistInput').val() != '' ){
      var newPlaylistName = $('#newPlaylistInput').val();
      $('#playlistName').val(newPlaylistName);
      $('#savePlaylist').click();
      $('#newPlaylistInput').replaceWith('<h5 class="sideNewPlaylistName">Create a New Playlist</h5>');  
      $.get('/newPlaylist', function(result){
        $('.sideNewPlaylist').after($(result).droppable({ 
  accept: ".videoResultsDivLi", 
  zIndex: 1,
  hoverClass: "dropPlaylist",
  drop: songDroppable
}));
dr = '#' + $(result).find('.dropdownPlaylist').attr('id');
$(dr).sortable(sortable_opts);
      });
    }
  });
});

$('#Playlist').on('click', '.sideLiked', function(e){
  if(e.target.className.indexOf('playlistSong') != -1){
    return;
  }


      var likesURL = '/' + $(this).find('.hiddenPlaylistID').html() + '/likes';
      var likestID = $(this).find('.hiddenPlaylistID').html();

        $.get(likesURL, function(result){
          $('#Playlist').find('#dropdownLike' + likestID).html(result);
          $('#dropdownLikeDiv' + likestID).toggle();
        });
      
});

$('#Playlist').on('click', '.dropdownPlaylist li, .dropdownLike li', function(e){
  if ($(this).hasClass('noclick')) {
        $(this).removeClass('noclick');
    }

    else if(e.target.className.indexOf('glyphicon-remove') != -1){
      return;
    }

    else {
        videoID = $(this).find('img').attr("src").slice(27,38);
        
        <%= render "layouts/videoClick" %>
        $('.dropdownPlaylist li, .dropdownLike li').off('click');
    }
      
    });

$(document).on({
   mouseenter: function(){
    
    $(this).find('.glyphicon-remove').show();

  },
  mouseleave:  function(){
    
    $(this).find('.glyphicon-remove').hide();
  }
}, '.dropdownPlaylist .playlistSongLi, .dropdownLike .playlistSongLi, .comment');

$('.dropdownPlaylist, .dropdownLike').on({
   mouseenter: function(){
    $(this).parent().addClass('noclick');

  },
  mouseleave:  function(){
    $(this).parent().removeClass('noclick');
  }
}, '.dropdownPlaylist .playlistSongLi .glyphicon-remove, .dropdownLike .playlistSongLi .glyphicon-remove');



$('.dropdownPlaylistDiv, .dropdownLikeDiv').on({
   mouseenter: function(){
    $(this).addClass('animated pulse');

  },
  mouseleave:  function(){
    $(this).removeClass('animated pulse');
  }
}, '.sideDestroy, .sideEdit, .sideShare, .sideFollow, .sideUnfollow');

$(document).on('click', '.playlistInfo, #latestPlaylist, .userPlaylist, .feedPlaylistName', function(e){
  var playlistURL = '/playlists/' + $(this).find('.hiddenPlaylistID').html().trim();
  var playlistLiURL = '/playlists/' + $(this).find('.hiddenPlaylistID').html().trim() + '/playlistLi';
  $('.modal').modal('hide');
  var playlistID = $(this).find('.hiddenPlaylistID').html().trim();
  if($('#dropdownPlaylist' + playlistID).length < 1){
    $.get(playlistLiURL, function(result){
           $('.sideNewPlaylist').after(result);
           $.get(playlistURL, function(result){
          $('#Playlist').find('#dropdownPlaylist' + playlistID).html(result);
          $('#dropdownPlaylistDiv' + playlistID).toggle();
        });
        });

    

  } else {
    $.get(playlistURL, function(result){
          $('#Playlist').find('#dropdownPlaylist' + playlistID).html(result);
          $('#dropdownPlaylistDiv' + playlistID).toggle();
        });
  }

  if($(e.target).parents('.modal-content').length && e.target.className.indexOf('playlistImgOrName') == -1) {
    return;
  }
  else {
    $('.modal').modal('hide');  
  }
  
});

$(document).on('click', '.feedFollow.fFl',function(){
  $(this).parents('.feedShares').css("display", "none");
  $(this).parents('.feedShares').siblings('.feedShares.fUl').css("display", "inline-block");
  var playlistID = $(this).parents('.feedButtons').siblings('.activityYT').find('.hiddenPlaylistID').html().trim();
  var playlistURL = '/playlists/' + playlistID;
  var playlistLiURL = playlistURL + '/playlistLi';
  $('.modal').modal('hide');
  
  if($('#dropdownPlaylist' + playlistID).length < 1){
    $.get(playlistLiURL, function(result){
           $('.sideNewPlaylist').after(result);
           $.get(playlistURL, function(result){
          $('#Playlist').find('#dropdownPlaylist' + playlistID).html(result);
          $('#dropdownPlaylistDiv' + playlistID).toggle();
        });
        });
}
});

$(document).on('click', '.feedUnfollow.fUl',function(){
  var playlistID = '#dropdownPlaylist' + $(this).parents('.feedButtons').siblings('.activityYT').find('.hiddenPlaylistID').html().trim();
  $(this).parents('.feedShares').css("display", "none");
  $(this).parents('.feedShares').siblings('.feedShares.fFl').css("display", "inline-block");
  $(playlistID).parents('.sidePlaylist').remove();
});

$(document).on('click', '.commentDelete', function(){
  var deleteURL = '/comments/' + $(this).siblings('.hiddenCommentID').html() + '/destroy';
  $.post(deleteURL);
  $(this).parents('.comment').remove();
});

$('#Playlist ul').on('click', '.sideFollow', function(){
  $(this).siblings('.sideUnfollow').show();
  $(this).hide();
});

$('#Playlist ul').on('click', '.sideUnfollow', function(){
  $(this).parents('li').hide();
});



$('#Playlist ul').on('click', '.sideEdit', function(){
  $(this).parent().siblings('.sidePlaylistName').toggle();
  $(this).parent().siblings('.editPlaylistInput').toggle();
  $(this).parent().siblings('.editPlaylistInput').val('');
  $('.editPlaylistInput').focus();
});

$('#Playlist ul').on('click', '.sideDestroy', function(){
  var offset = $(this).offset();
  left = offset.left;
  $('#deletePrompt').css('top', offset["top"] -120 );
  $('#deletePrompt').css('left', left + 220 );
  $('#deletePlaylistName').html($(this).parent().siblings('.sidePlaylistName').html().slice(0, 14));
  var deletePlaylistURL = $(this).parent().siblings('.hiddenPlaylistID').html();
  $('#deletePlaylistID').html(deletePlaylistURL);
  $('#deletePrompt').show();
  
  
});

$('#deletePlaylistYes').on('click', function(){

    $('#dropdownPlaylistDiv'+$('#deletePlaylistID').html()).parent().remove();
    $('#deletePrompt').hide();

    $.ajax({
            url: '/playlists/' + $('#deletePlaylistID').html() ,
            type: 'DELETE'
          });
  });
  $('#deletePlaylistNo').on('click', function(){
    $('#deletePrompt').hide();
  });

$(".editPlaylistInput").keydown(function(event){
    if(event.keyCode==13 && $(this).val() != '' ){
      var updatePlaylistURL = '/playlists/' + $(this).siblings('.hiddenPlaylistID').html();
      var newName = $(this).val();
      $.ajax({
            url: updatePlaylistURL ,
            type: 'PUT',
            data: {name: newName}
          });
      $(this).siblings('.sidePlaylistName').show().html(newName);
      $(this).hide();
    }
  });

$('.sideShare').click(function(){
        $('#messageURL').val('P#' + $(this).parent().siblings('.hiddenPlaylistID').html());
  });

$(document).on('click', '#currentShare #csImg', function(){
        $('#messageURL').val('S#' + $(this).siblings('.hiddenSongID').html());
  });


function appendVideos(data)
        {
          var html = ['<ul>'];
          $.each(data.items, function(i, v){
              var title = v.snippet.title;
              var videoID = v.id.videoId;
              var ytThumbnail = '<img src="https://img.youtube.com/vi/' + videoID + '/default.jpg" class="playlistYT" alt="thumbnail"/>';

              html.push('<li class="videoResultsDivLi">', ytThumbnail, '<span class="glyphicon glyphicon-remove"></span><p class="playlistSongP">', title.trim(), '</p></li><p class="thumbID">'+videoID+'</p>');
            });
            pageToken = data.nextPageToken;
            html.push('</ul><div class="startIndex">'+pageToken+'</div>');

            $('#videoResultsDiv').append(html.join(''));
          }

function showMyVideos(data)
        {
          var html = ['<ul>'];
          $.each(data.items, function(i, v){
              var title = v.snippet.title;
              var videoID = v.id.videoId;
              var ytThumbnail = '<img src="https://img.youtube.com/vi/' + videoID + '/default.jpg" class="playlistYT" alt="thumbnail"/>';

              html.push('<li class="videoResultsDivLi">', ytThumbnail, '<span class="glyphicon glyphicon-remove"></span><p class="playlistSongP">', title.trim(), '</p></li><p class="thumbID">'+videoID+'</p>');
            });
            pageToken = data.nextPageToken;
            html.push('</ul><div class="startIndex">'+pageToken+'</div>');

            $('#videoResultsDiv').html(html.join(''));

            
            $(function() {

            
  
            

              
    $( "#videoResultsDiv li" ).draggable(draggable_opts);

    

    $("#videoResultsDiv").scrollTop(0);


    $("#videoResultsDiv li").click(function(){

        
        videoID = $(this).find('img').attr("src").slice(27,38);
        
        <%= render "layouts/videoClick" %>

            });

    });}

$('#footerPlayer').on('click', '.glyphicon-thumbs-up', function(){
  
    if($(this).hasClass('liked')) {
      $(this).removeClass('liked');
      $.post("/<%= current_user.id %>/"+$('#infoID').val()+"/unlike");
    } else {
      $(this).addClass('liked');
       $.post("/<%= current_user.id %>/"+$('#infoID').val()+"/like");
    }
});

$('#navButtons').on('click', '.glyphicon-pause', function(){
      player.pauseVideo();
      $(this).parent().css('display', 'none');
      $('.glyphicon-play').parent().css('display', 'inline-block');
    });

$('#navButtons').on('click', '.glyphicon-play', function(){
      player.playVideo();
      $(this).parent().css('display', 'none');
      $('.glyphicon-pause').parent().css('display', 'inline-block');
    });

$('#navButtons').on('click', '.glyphicon-fast-forward', function(){
    var thisVideo2 = $('#Playlist').find('li img[src="https://img.youtube.com/vi/'+$('#infoID').val()+'/default.jpg"]');
    var nextVideo2 = $(thisVideo2).parent().next().find('.playlistYT');
    nextVideo2.click();
  });

    $('#navButtons').on('click', '.glyphicon-fast-backward', function(){
    var thisVideo2 = $('#Playlist').find('li img[src="https://img.youtube.com/vi/'+$('#infoID').val()+'/default.jpg"]');
    var nextVideo2 = $(thisVideo2).parent().prev().find('.playlistYT');
    nextVideo2.click();
  });

    function merchNgigsSearch(){
            var userSearch = $('#search_query').val();
            $('#moreMerch').show();
            
            var key="Pxms4Lvfx5rcDIuR";
            var url="https://api.songkick.com/api/3.0/search/artists.json?query=" + userSearch + "&apikey="
            + key + "&jsoncallback=?"; 
            
            $.getJSON(url,function(json){ 
            $.each(json.resultsPage.results.artist,function(i,result){
            if(i==0){
            localGigs = "https://api.songkick.com/api/3.0/events.json?apikey=" + key + "&artist_name=" + userSearch + "&location=clientip&jsoncallback=?";
            artist_url="https://api.songkick.com/api/3.0/artists/" + result.id + "/calendar.json?apikey="
            + key +"&jsoncallback=?";
            $("#Gigs").html("<div id='gig0' class='uberdate threeGigs'></div><div id='shareNfriends0' class='shareNfriends'></div><div id='gig1' class='uberdate threeGigs'></div><div id='shareNfriends1' class='shareNfriends'></div><div id='gig2' class='uberdate threeGigs'></div><div id='shareNfriends2' class='shareNfriends'></div>");
                    $.getJSON(localGigs,function(data){

                        var events = data['resultsPage']['results']['event'];

                        if(!events){
                            $.getJSON(artist_url,function(data){

                        var events = data['resultsPage']['results']['event'];
                            if(!events){
                                $("#Gigs").html("<h4 id='noGigs'>No Gigs Announced</h4>");
                                $("#moreGigs").html('');

                            };

                                var urls = [];

                              for(k=0; k<=2; k++ ){
                                if(events[k] != null){
                                urls.push('/<%= current_user.id %>/'+events[k]['id']+'/gigs/friendsGoing');
                              }
                              }

                              for(k=0; k<=2; k++ ){
                                $("#gig"+k+"").html('<li><div class="date-wrap"><a href="'
                                +events[k]['uri']+'" target="_blank"><span class="month">' + moment(events[k]['start']['date']).format("MMM")
                                +'</span><span class= "day">'
                                + moment(events[k]['start']['date']).format("DD") +'</span></a></div>'
                                +'<div class="gigInfo">' +events[k]['location']['city']+ '<br />' + '<a href="'
                                +events[k]['uri']+'" target="_blank">'
                                +events[k]['displayName']+'</a></li>');

                                $.ajax({
                                  url: urls[k],
                                  indexValue: k,
                                  async: false,
      
                                  success: function(html) {
        
                                  image_link(html , this.indexValue);

                                  function image_link(data, i) {
                                      $("#shareNfriends"+i+"").html(data + '<%= image_tag "ResnateShareIcon.png", class: "shareGig", "data-toggle" => "modal", "data-target" => "#shareModal" %>');
                                  }
                                }
                              });
                                
                                $("#moreGigs").html('<a href="https://www.songkick.com/artists/'
                            + result.id + '" target="_blank">More Gigs at Songkick</a>');

                            
                              }
                        
                            

                            
                            })}

                            else {
                              var urls = [];

                              for(k=0; k<=2; k++ ){
                                if(events[k] != null){
                                urls.push('/'+<%= current_user.id %>+'/'+events[k]['id']+'/gigs/friendsGoing');
                              }
                              }

                              for(k=0; k<=2; k++ ){
                                $("#gig"+k+"").html('<li><div class="date-wrap"><a href="'
                                +events[k]['uri']+'" target="_blank"><span class="month">' + moment(events[k]['start']['date']).format("MMM")
                                +'</span><span class= "day">'
                                + moment(events[k]['start']['date']).format("DD") +'</span></a></div>'
                                +'<div class="gigInfo">' +events[k]['location']['city']+ '<br />' + '<a href="'
                                +events[k]['uri']+'" target="_blank">'
                                +events[k]['displayName']+'</a></li>');

                                var gigID = events[k]['id'];

                                $.ajax({
                                  url: urls[k],
                                  indexValue: k,
                                  async: false,
                                  success: function(html) {
                                    image_link(html , this.indexValue);
                                    function image_link(data, i) {
                                      $("#shareNfriends"+i+"").html(data + '<%= image_tag "ResnateShareIcon.png", class: "shareGig", "data-toggle" => "modal", "data-target" => "#shareModal" %><div class="hiddenGigID">' + gigID + '</div>');
                                    }
                                  }});
                                
                                $("#moreGigs").html('<a href="https://www.songkick.com/artists/'
                            + result.id + '" target="_blank">More Gigs at Songkick</a>');

                            
                              }
                            }

             });}});});}


$('#topPhoto').click(function(){
  $('#photoBody').html('<img src="'+$(this).attr('src')+'">');
});


  $('.writeSongReview').click(function(){
    $.get( '/Song/' + $('#csImg').siblings('.hiddenSongID').html() + '/writeReview/', function(review){
      $('.reviewModalBody').html(review);
    });
  });


<% end %>
</script>