<% if current_user.nil? %>
	<div id="Welcome">
	<h2 id="bigResnate">Resnate.</h2>
      <h3>The social network<br>for people who love music.</h3>

      <div id="Welcome2">
        <%= link_to image_tag("ResnateCropped.png", id: 'rsCrop'), "/auth/facebook" %>
      
        <div id="signIn"><%= link_to simple_format("Sign in with Facebook<br />Follow your Friends"), "/auth/facebook", id: "sign_in" %></div>
        <h4 id="homeFooter">Built using YouTube + Songkick + Amazon<br>+ Setlist.fm APIs. </h4>
      </div>
     </div>
<% else %>
	<div class="mobileHeader">
		<div class="mobileHeaderDiv" id="mobileProfile">
			<%= image_tag "https://graph.facebook.com/#{current_user.uid}/picture?width=100&height=100", id: "mobileHomePic" %>
			<div id="mobileHeaderPoints"><%= current_user.points %></div>
			<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
		</div>
		<div class="mobileHeaderDiv" id="mobileHome">
			<span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home
		</div>
		<div class="mobileHeaderDiv" id="mobileInbox">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Messages
		</div>
		<div class="mobileHeaderDiv" id="mobileArtists">
			<span class="glyphicon glyphicon-music" aria-hidden="true"></span> Artists
		</div>
		<div class="mobileHeaderDiv" id="mobilePeople">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> People
		</div>
	</div>
	<div id="mobileMainBody">
		<div class="mobileInputDivider" id="mobileWriteSongReview">
			Write a Review for a Song or Album
			<%= form_for(current_user.songs.create) do |f| %>
        			<%= f.text_field :content, placeholder: "Paste YouTube Link Here", id: "mobileYTPaste" %>
        			<%= f.submit "Submit Link", id: "mobileYTSubmit" %>
      			<% end %>
		</div>
	</div>

	<script type="text/javascript">
$(function(){

	$.get('/activities', function(result){
		$('#mobileMainBody').append(result);
	});
	
});

$('.mobileHeaderDiv').click(function(){
	$('.mobileHeaderDiv').css('color', 'white');
	$(this).css('color', '#E50049');
});

function getProfile(){
	$.get('/<%=current_user.id %>/profile', function(result){
		$('#mobileMainBody').html(result);
		$('#mobileMainBody').css('overflow', 'hidden');
		$('#mobileMainBody').scrollTop(0);
		$('#mobileMainBody').css('overflow', 'scroll');
	});
}

$('#mobileProfile').click(function(){
	getProfile();
});

$('#mobileHome').click(function(){
	$.get('/activities', function(result){
		$('#mobileMainBody').append(result);
	});
});

$(document).on('click', '.deleteReviewYes', function(){
  var reviewURL = '/reviews/' + $(this).siblings('.hiddenReviewID').html().trim();
  $.ajax({
            url: reviewURL ,
            type: 'DELETE'
          });
  getProfile();
});

$('#mobileMainBody').on('scroll', function(){
    if($('.genericInfinite-scrolling .pagination .next').length){
      if(!$('.next').hasClass('disabled')) {
        url = $('.genericInfinite-scrolling .next').find('a').attr('href');
        if($('#mobileMainBody').scrollTop() + $('#mobileMainBody').innerHeight()>=$('#mobileMainBody')[0].scrollHeight - 200){
      
          $('.genericInfinite-scrolling').remove();
          $.get(url, function(response){
                $('#mobileMainBody').append(response); 
                     });
        }    
      }
          
    } 
  });

</script>
<% end %>