<% if current_user.nil? %>
	<div id="Welcome">
	<h2 id="bigResnate">Resnate.</h2>
      <h3>The social network for people who love music.</h3>

      <div id="Welcome2">
        <%= link_to image_tag("ResnateCropped.png", id: 'rsCrop'), "/auth/facebook" %>
      
        <div id="signIn"><%= link_to simple_format("Sign in with Facebook<br />Follow your Friends"), "/auth/facebook", id: "sign_in" %></div>
        <h4 id="homeFooter">Built using YouTube + Songkick + Amazon + Setlist.fm APIs. </h4>
      </div>
     </div>
<% else %>
	<div class="mobileHeader">
		<div class="mobileHeaderDiv" id="mobileProfile">
			<%= image_tag "https://graph.facebook.com/#{current_user.uid}/picture?width=100&height=100", id: "mobileHomePic" %>
			<div id="mobileHeaderPoints"><%= current_user.points %></div>
			<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
		</div>
		<div class="mobileHeaderDiv" id="mobileFeed">
			<span class="glyphicon glyphicon-list" aria-hidden="true"></span>Feed
		</div>
		<div class="mobileHeaderDiv" id="mobileInbox">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>Messages
		</div>
		<div class="mobileHeaderDiv" id="mobileArtists">
			<span class="glyphicon glyphicon-music" aria-hidden="true"></span> Artists
		</div>
		<div class="mobileHeaderDiv" id="mobilePeople">
			<span class="glyphicon glyphicon-user" aria-hidden="true"></span> People
		</div>
	</div>
	<div id="mobileMainBody">
		
	</div>

	<script type="text/javascript">
$(function(){
	$.get('/activities/index', function(result){
		$('#mobileMainBody').html(result);
	});
	
});

$('.mobileHeaderDiv').click(function(){
	$('.mobileHeaderDiv').css('color', 'white');
	$(this).css('color', '#E50049');
});

$('#mobileProfile').click(function(){
	$.get('/<%=current_user.id %>/profile', function(result){
		$('#mobileMainBody').html(result);
	});
});

</script>
<% end %>