<h4 class="topUsersHeader">Top Users</h4>
    
    <% @sortedUsers.first(10).each do |rankedUser| %>
      
      <% id = rankedUser[:id] %>

      <div class="followDiv leaderDiv">
        <%= image_tag "https://graph.facebook.com/#{User.find(id).uid}/picture?width=200&height=200", class: "followImgs" %>
        <div class="hiddenID">
            <%= User.find(id).id %>
        </div>  

        <div class="reviewerInfo leaderInfo">
          <div class="profileName"><%= User.find(id).name %></div>
          <div class="hiddenID">
            <%= User.find(id).id %>
          </div>
          <br>
          <%= image_tag "#{User.find(id).level_name}.png", class: 'reviewerBadge' %>
        <div class="reviewLevelNameNPoints">
              <%= User.find(id).level_name %> <%= User.find(id).points %> points
            </div>
            <div class="reviewFollowers">
            <% followerCount = User.find(id).followers(User).count %>
            <% if followerCount == 1 %>
              <%= followerCount %> follower
            <% elsif followerCount > 1 %>
              <%= followerCount %> followers
            <% end %>
            </div>
        </div>
      </div>

      <% end %>