<% unless @topReviews.nil? %>
    <% @topReviews.each do |rankedReview| %>
        <div class="featuredReview">
            <% reviewID = rankedReview[:id] %>
            <% review = Review.find(reviewID) %>
            <% activity = PublicActivity::Activity.where(trackable_type: "Review", trackable_id: review.id).first %>
            <% type = review.reviewable_type %>
            <% if type == "Song" %>
                <img src="https://img.youtube.com/vi/<%= Song.find(review.reviewable_id).content %>/hqdefault.jpg" class="featuredImg reviewSongImg" >
                <p class="jamTitle"><%= Song.find(review.reviewable_id).name %></p>
            <% elsif type == "PastGig" %>
                <img src="https://api.songkick.com/api/3.0/events/<%= PastGig.find(review.reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="featuredImg featuredGigs">
            <% end %>
            <div class="reviewT"><div class="featuredReviewTitle">Review of
            <% if review.reviewable_type == "PastGig" %>
                <span class="featuredGigName"></span>
            <% elsif review.reviewable_type == "Song" %>
                <%= Song.find(review.reviewable_id).name %>
            <% end %></div>
            <%= image_tag "https://graph.facebook.com/#{User.find(review.user_id).uid}/picture?width=200&height=200", class: "feedPic" %>
            <div class="hiddenID">
                <%= review.user_id %>
            </div>
            <div class="reviewerInfo">
                <div class="profileName"><%= User.find(review.user_id).name %></div>
                <div class="hiddenID"><%= review.user_id %></div>
                <br>
                <% unless User.find(review.user_id).badges.count == 0 %>
                <%= image_tag (User.find(review.user_id).badges.last.custom_fields[:image]), class: 'reviewerBadge' %>
                <% end %>
                <div class="reviewLevelNameNPoints">
                    <%= User.find(review.user_id).level_name %> <%= User.find(review.user_id).points %> points
                </div>
            </div>
            </div>
            <div class="featuredLikesNComments">
                <div class="likerNumber">
                    <% likers = review.likers(User).count %>
                    <% if likers == 1 %>
                        <%= likers %> like
                    <% elsif likers > 1 %>
                        <%= likers %> likes
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
    <div class="mainInfinite-scrolling">
      <%= will_paginate @topReviews, renderer: BootstrapPagination::Rails %>
    </div>


<script type="text/javascript">

var imgUrls = [];

for(j=0; j<$('.featuredGigs').length; j++){
   imgUrls.push($('.featuredGigs').eq(j).attr('src'));
 }

 for(j=0; j<$('.featuredGigs').length; j++){
    $.ajax({
      url: imgUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.featuredGigs').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/huge_avatar');

                            $('.featuredGigName').eq(i).html(data.resultsPage.results.event.displayName);
                          
                    }
                }
        });
    
    
  }

</script>
<% end %>