<% if @convos.count == 0 %>
       <div id="noMessages">No messages.<br>Share some music with your friends!</div>
<% else %>


       
  <% @convos.each do |conversation| %>
      
    <% receipts = conversation.receipts_for current_user %>
    <% receipts.each do |receipt|%>
        <div class="message">
        <% conversation.mark_as_read(current_user) %>
        <% message = receipt.message %>

        <div class="messageImgs">
        <div class="senderImg"><img src="https://graph.facebook.com/<%= User.find(message.sender_id).uid %>/picture?width=200&height=200"  class="profileImg"><div class="hiddenID" style="display:none"><%= message.sender_id %></div></div>
        <% conversation.participants.each do |participant| %>
          <% if participant != User.find(message.sender_id) %>

            <div class="messageImg"><img src="https://graph.facebook.com/<%= participant.uid %>/picture?width=200&height=200"  class="profileImg"><div class="hiddenID" style="display:none"><%= participant.id %></div></div>
          <% end %>
        <% end %>
        </div>

        <% if message.subject[0] == 'S' %>
        <% songID = message.subject[2..-1] %>
        <% songName = Song.find(songID).name %>
        <% songContent = Song.find(songID).content %>
        
        <img src="https://img.youtube.com/vi/<%= songContent %>/hqdefault.jpg" class="inboxSong" >
        <p class="jamTitle"><%= songName %></p>
        
        <div class="messageDetails">
        <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div><div class="hiddenID" style="display:none"><%= message.sender_id %></div> shared
                    
        
          
          <div class="messageSong songTitle"><%= songName %></div>
          <div>with 
          <% conversation.participants.each do |participant| %>
            <% if participant != User.find(message.sender_id) %>
              <div class="profilePlusID"><div class="profileNameMsg"><%= participant.name %></div><div class="hiddenID" style="display:none"><%= participant.id %></div></div>
            <% end %>
          <% end %>
          </div>
          <br>
          <div class="messageSong">"<%= message.body %>"</div> 

          <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
          <br>
          <% unless message.sender_id == current_user.id %>
            <li class="messageIcons"><span class="glyphicon glyphicon-plus"></span><div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></button><ul class="dropdown-menu" role="menu" aria-labelledby="dLabel"></ul></div></li>
            <li class="messageIcons messageThumbsLi"><span class="glyphicon glyphicon-thumbs-up messageThumbs"></span></li>
            <div class="hiddenActivityID"><%= PublicActivity::Activity.where(trackable_type: "Song", trackable_id: message.subject[2..-1] ).first.id %></div>
            <li class="messageIcons" id="makeJamLi"><div class="jamID"><%= Song.find(songID).content %></div>
            <div class="hiddenSongID"><%= songID %></div> 
              
            <% songs = Song.where(content: songContent) %>
            <% songs.each do |song| %>
              <% song.liked_by?(@user) %>
              <% if song.liked_by?(@user) == true %>
                <div class="likeTrue">true</div>
              <% end %>
            <% end %>
            <div class="jamTitle"><%= songName %></div>
            </li>

            <li class="messageIcons csImgMsg" id="csImgLi"><%= image_tag "ResnateShareIcon.png", id: "csImg", "data-toggle" => "modal", "data-target" => "#shareModal" %></li>
          <% end %>
        </div>     

        <% elsif message.subject[0] == 'P' %>
          <% imgAndTitle = message.subject[2..-1].split(',') %>

          <% unless Playlist.find_by_id(imgAndTitle[0]).nil? %>

          <div class="inboxYT playlistInfo" >
            <div class="hiddenPlaylistID"><%= imgAndTitle[0] %></div>

              <% img1 = "a" %>
              <% JSON.parse(Playlist.find(imgAndTitle[0]).content)[0].each do |k, v| %>
                <% img1 = v %>
              <% end %>
              <img src="https://img.youtube.com/vi/<%= img1 %>/hqdefault.jpg" class="playlistImg feedPlaylist" >
          </div>

          <div class="messageDetails">
            <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div><div class="hiddenID" style="display:none"><%= message.sender_id %></div> shared
            <div class="messageSong playlistTitle"><%= title = imgAndTitle[1] %></div>
            <div>with 
              <% conversation.participants.each do |participant| %>
                <% if participant != User.find(message.sender_id) %>
                  <div class="profilePlusID"><div class="profileNameMsg"><%= participant.name %></div><div class="hiddenID" style="display:none"><%= participant.id %></div></div>
                <% end %>
              <% end %>
            </div>
             <br>
            <div class="messageSong">"<%= message.body %>"</div>

            <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
            <br>

            <% if current_user.follows?(Playlist.find(imgAndTitle[0])) %>
              <div class="msgButtons">
                <li class="messageIcons"><%= button_to "Unfollow", playlists_unfollow_path(playlist: Playlist.find(imgAndTitle[0])) , remote: true, method: :get, class: "msgUnfollow", style: "display: inline" %></li>
                <li class="messageIcons"><%= button_to "Follow", playlists_follow_path(playlist: Playlist.find(imgAndTitle[0])) , remote: true, method: :get, class: "msgFollow", style: "display: none" %><div class="sharePlaylistID" style="display:none"><%= imgAndTitle[0] %></div></li>
            <% elsif current_user.follows?(Playlist.find(imgAndTitle[0])) == false && current_user.id != Playlist.find(imgAndTitle[0]).user_id %>
              <div class="msgButtons">
                <li class="messageIcons"><%= button_to "Follow", playlists_follow_path(playlist: Playlist.find(imgAndTitle[0])) , remote: true, method: :get, class: "msgFollow", style: "display: inline" %></li>
                <li class="messageIcons"><%= button_to "Unfollow", playlists_unfollow_path(playlist: Playlist.find(imgAndTitle[0])) , remote: true, method: :get, class: "msgUnfollow", style: "display: none" %></li>
            <% elsif current_user.id == Playlist.find(imgAndTitle[0]).user_id %>
              <div class="msgButtons">
            <% end %>
                <div class="sharePlaylistID" style="display:none"><%= imgAndTitle[0] %></div>
                <div class="sharePlaylistName" style="display:none"><%= imgAndTitle[1] %></div>
                <li class="messageIcons csImgMsgPlaylist" id="csImgLi"><%= image_tag "ResnateShareIcon.png", id: "csImg", "data-toggle" => "modal", "data-target" => "#shareModal" %></li>
              </div>
          </div>

          <% else %>

          <div class="messageDetails">
            <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div><div class="hiddenID" style="display:none"><%= message.sender_id %></div> shared
            a playlist
            <div>with 
              <% conversation.participants.each do |participant| %>
                <% if participant != User.find(message.sender_id) %>
                  <div class="profilePlusID"><div class="profileNameMsg"><%= participant.name %></div><div class="hiddenID" style="display:none"><%= participant.id %></div></div>
                <% end %>
              <% end %>
            </div>
            but has since deleted it.
          </div>

          <% end %>

          <% elsif message.subject[0] == 'G' %>

            <a href="https://www.songkick.com/concerts/<%= Gig.find(message.subject[2..-1]).songkick_id %>" target="_blank"><img src="https://api.songkick.com/api/3.0/events/<%= Gig.find(message.subject[2..-1]).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="msgGigs"></a>

            <div class="messageDetails">
              <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div><div class="hiddenID" style="display:none"><%= message.sender_id %></div> shared
              <div class="uberdate myDates msgDates">
                <li class="datewrapLi"><div class="date-wrap"><span class="month msgMonth"></span><span class="day msgDay"></span></div></li> 
                <li class="gigName"><a href="https://www.songkick.com/concerts/<%= Gig.find(message.subject[2..-1]).songkick_id %>" target="_blank" class="msgGigLink"><span class="msgGigName"></span></a>
                <br>
                <span class="msgGigLocation"></span></li><div class="hiddenGigID"> <%= Gig.find(message.subject[2..-1]).songkick_id %></div>
              </div>
              <div>with 
              <% conversation.participants.each do |participant| %>
                <% if participant != User.find(message.sender_id) %>
                  <div class="profilePlusID"><div class="profileNameMsg"><%= participant.name %></div><div class="hiddenID" style="display:none"><%= participant.id %></div></div>
                <% end %>
              <% end %>
              </div>
              <div class="messageSong">"<%= message.body %>"</div>
              
              <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
              <br>
              <div class="msgButtons">
                <% unless message.sender_id == current_user.id %>
                  <li class="messageIcons messageThumbsLi">
                  <% if @likedGigs.include?(Integer(message.subject[2..-1])) %>
                    <span class="glyphicon glyphicon-thumbs-up msgGigThumb liked"></span>
                  <% else %>
                    <span class="glyphicon glyphicon-thumbs-up msgGigThumb"></span>
                  <% end %>
                  <div class="hiddenActivityID"><%= PublicActivity::Activity.where(trackable_type: "Gig", trackable_id: message.subject[2..-1] ).first.id %></div>
                  <div class="hiddenGigID"> <%= message.subject[2..-1] %></div><div class="hiddenID"> <%= message.sender_id %></div></li>
                  <li class="messageIcons csImgMsgPlaylist" id="csImgLi"><%= image_tag "ResnateShareIcon.png", class: "shareGig", "data-toggle" => "modal", "data-target" => "#shareModal" %><div class="hiddenGigID"> <%= message.subject[2..-1] %></div></li>
                  
                <% end %>
              </div>
            </div>

          <% elsif message.subject[0] == 'R' %>
            <% if Review.where(id: message.subject[2..-1]).count == 1 %>
              <% review = Review.find(message.subject[2..-1]) %>
              <% if review.reviewable_type == "PastGig" %>
                <img src="https://api.songkick.com/api/3.0/events/<%= PastGig.find(Review.find(message.subject[2..-1]).reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="msgReviews">
                <div class="messageDetails">
                  <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div><div class="hiddenID" style="display:none"><%= message.sender_id %></div> shared
                  <% if message.sender_id == Review.find(message.subject[2..-1]).user_id %>
                    <div class="reviewerName">their </div>
                  <% else %>
                    <div class="reviewerName"><%= User.find(Review.find(message.subject[2..-1]).user_id).name %>'s </div>
                  <% end %>
                  review of
              <% elsif  review.reviewable_type == "Song" %>
                <img src="https://api.songkick.com/api/3.0/events/<%= Song.find(Review.find(message.subject[2..-1]).reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="msgReviews">
                <div class="messageDetails">
                  <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div><div class="hiddenID" style="display:none"><%= message.sender_id %></div> shared
                  <% if message.sender_id == Review.find(message.subject[2..-1]).user_id %>
                    <div class="reviewerName">their </div>
                  <% else %>
                    <div class="reviewerName"><%= User.find(Review.find(message.subject[2..-1]).user_id).name %>'s </div>
                  <% end %>
              <% end %>
                <span class="msgReviewName" ></span>
                <div class="msgReviewContent">
                  <%= Review.find(message.subject[2..-1]).content %>
                </div>
                <div class="hiddenReviewID"><%= message.subject[2..-1] %></div>
              </div>
            <% else %>
              <div class="messageDetails">
                  <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div><div class="hiddenID" style="display:none"><%= message.sender_id %></div> shared a review but has since deleted it.
              </div>
            <% end %>
          <% end %>

        </div>


        <% end %> <!-- receipts -->

        
        
    <% end %>


<div class="genericInfinite-scrolling">
   <%= will_paginate @convos, renderer: BootstrapPagination::Rails %>
 </div>
        
        <script type="text/javascript">


         var urls = [];

  for(j=0; j<$('.msgGigs').length; j++){
    urls.push($('.msgGigs').eq(j).attr('src'));
  }



  for(j=0; j<$('.msgGigs').length; j++){
    $.ajax({
      url: urls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.msgGigs').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                            $('.msgMonth').eq(i).html(moment(data.resultsPage.results.event.start.date).format("MMM"));

                            $('.msgDay').eq(i).html(moment(data.resultsPage.results.event.start.date).format("DD"));

                            $('.msgGigName').eq(i).html(data.resultsPage.results.event.displayName);

                            $('.msgGigLocation').eq(i).html(data.resultsPage.results.event.venue.metroArea.displayName);

                          
                    }
        
      }
    });
    
    
  }

  var reviewUrls = [];

  for(j=0; j<$('.msgReviews').length; j++){
    reviewUrls.push($('.msgReviews').eq(j).attr('src'));
  }  

   for(j=0; j<$('.msgReviews').length; j++){
    $.ajax({
      url: reviewUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.msgReviews').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                            $('.msgReviewName').eq(i).html(data.resultsPage.results.event.displayName);

                          
                    }
        
      }
    });
    
    
  }


        $('#resultDiv').val($('#recCount').html());

        $('#recCount').addClass('invisCount');

        $('.csImgMsg').click(function(){
        $('#messageURL').val('S#' + $(this).siblings('#makeJamLi').find('.hiddenSongID').html());
  });

        $('.profileImg, .profileNameMsg').click(function(){
            var userSearch = "/" + $(this).siblings('.hiddenID').html() + '/profile';
  $.get(userSearch, function(result){
  $('#box2').html(result);});
  $('#genericModal').modal('hide');
    $('#container').animate({
        top: '-100%'
    });
        });


      $('.likeTrue').each(function(){
    $(this).parents('#makeJamLi').siblings('.messageThumbsLi').find('.glyphicon-thumbs-up').addClass('liked');
    $(this).siblings('.messageGigIcons').find('.glyphicon-thumbs-up').addClass('liked');
});

      $('.message').on('click', '.messageThumbs', function(){
  if($(this).hasClass('liked')){
    $(this).removeClass('liked');
 $.post("/"+$(this).parent().siblings('#makeJamLi').find('.hiddenSongID').html().trim()+"/unlike");

 $.post("/"+$(this).parent().siblings('.hiddenID').html().trim()+"/pointMinus5");


 } else {
  $(this).addClass('liked');
  $.post("/"+$(this).parent().siblings('#makeJamLi').find('.hiddenSongID').html().trim()+"/like");
  $.post("/"+$(this).parent().siblings('.hiddenID').html().trim()+"/point1");

  $('#shareCurrentID').val($(this).parent().siblings('.hiddenID').html().trim());
  $('#messageURL').val('S|'+$(this).parent().siblings('#makeJamLi').find('.hiddenSongID').html().trim());
  $('.shareTextarea').val($(this).parent().siblings('.hiddenActivityID').html().trim());
  $('#shareSubmit').click();
  $('#messageURL').val('');
  $('.shareTextarea').val('Check this out!');
 }
});


      $('.message').on('click', '.msgGigThumb', function(){
  if($(this).hasClass('liked')){
    $(this).removeClass('liked');
 $.post("/"+$(this).siblings('.hiddenGigID').html().trim()+"/gigs/unlike");
 }

  else {
  $(this).addClass('liked');
  $.post("/"+$(this).siblings('.hiddenGigID').html().trim()+"/gigs/like");
  $.post("/"+$(this).siblings('.hiddenID').html().trim()+"/point5");

  $('#shareCurrentID').val($(this).siblings('.hiddenID').html().trim());
  $('#messageURL').val('G|'+$(this).siblings('.hiddenGigID').html().trim());
  $('.shareTextarea').val($(this).siblings('.hiddenActivityID').html().trim());
  $('#shareSubmit').click();
  $('#messageURL').val('');
  $('.shareTextarea').val('Check this out!');
 }

 });




        </script>
        
<% end %>