<% if @notifications.count == 0 %>
        <div id="noMessages">No notifications.<br>Share some music with your friends!</div>
<% else %>
	<% @notifications.each do |notification| %>
         
      
    <% receipts = notification.receipts_for current_user %>
      <% receipts.each do |receipt|%>
      		<% notification.mark_as_read(current_user) %>
          <% unless receipt.message.sender_id == current_user.id %>
      		<% message = receipt.message %>
          <div class="notification">

            <% if message.subject[0..1] == 'B|' %>
              <img src="https://graph.facebook.com/<%= receipt.receiver.uid %>/picture?width=200&height=200" class="profileImg">
                <div class="notificationMsg">
                  <div class="notificationDetails">
                    <div class="hiddenID" style="display:none"><%= receipt.receiver_id %></div>
                    <div class="profileNameMsg"><%= User.find(receipt.receiver_id).name %></div>
                    <div class="activityName levelNtf"><%= message.body[0..-1] %></div>
                    <br>
                  <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
                  </div>
                  <% unless Merit::Badge.by_name(message.subject[2..-1]).first.nil? %>
                    <%= image_tag (Merit::Badge.by_name(message.subject[2..-1]).first.custom_fields[:image]), class: 'feedBadge' %>
                  <% end %>
                </div>

              
            <% elsif message.subject[0..1] == 'S|' %>
              <% songID = message.subject[2..-1] %>
              <% songName = Song.find(songID).name %>
              <% songContent = Song.find(songID).content %>
              <img src="https://graph.facebook.com/<%= message.sender.uid %>/picture?width=200&height=200" class="profileImg">
              <div class="notificationMsg">
                <div class="notificationDetails">
                  <div class="hiddenID" style="display:none"><%= message.sender_id %></div>
                  <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div>
                  <span> liked </span>
                  <div class="activityName songName" src="https://img.youtube.com/vi/<%= songContent %>/hqdefault.jpg"><%= songName %></div>
                  <br>
                  <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
                </div>
                <img src="https://img.youtube.com/vi/<%= songContent %>/hqdefault.jpg" class="inboxSong">
                <p class="jamTitle"><%= songName %></p>

              </div>

            <% elsif message.subject[0..1] == 'P|' %>
              <img src="https://graph.facebook.com/<%= message.sender.uid %>/picture?width=200&height=200" class="profileImg">
              <div class="notificationMsg">
                <div class="notificationDetails">
                  <div class="hiddenID" style="display:none"><%= message.sender_id %></div>
                  <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div>
                  <span class=""><%= message.body[0..16] %></span>
                  <div class="activityName playlistInfo"><%= message.body[18..-1] %><div class="hiddenPlaylistID"><%= message.subject[2..-1] -%></div></div>
                  <br>
                  <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
                </div>
                <% img1 = "v" %>
                <% JSON.parse(Playlist.find(message.subject[2..-1]).content)[0].each do |k, v| %>
                  <% img1 = v %>
                <% end %>
                <img src="https://img.youtube.com/vi/<%= img1 %>/hqdefault.jpg" class="notificationYTimg">
              </div>

            <% elsif  message.subject[0..1] == 'G|' %>
              <img src="https://graph.facebook.com/<%= message.sender.uid %>/picture?width=200&height=200" class="profileImg">
              <div class="notificationMsg">
                <div class="notificationDetails">
                  <div class="hiddenID" style="display:none"><%= message.sender_id %></div>
                  <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div>
                  <span> liked </span>
                  <div class="uberdate">
                    <li class="datewrapLi">
                      <div class="date-wrap"><span class="month msgMonth"></span><span class="day msgDay"></span>
                      </div>
                    </li> 
                    <li class="gigName">
                      <a href="https://www.songkick.com/concerts/<%= Gig.find(message.subject[2..-1]).songkick_id %>" target="_blank" class="msgGigLink"><span class="msgGigName"></span>
                      </a>
                      <br>
                      <span class="msgGigLocation"></span>
                    </li>
                    <div class="hiddenGigID"> <%= Gig.find(message.subject[2..-1]).songkick_id %></div>
                  </div>
                  <br>
                  <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
                </div>
                <span class="msgGigImgSpan">
                    <a href="https://www.songkick.com/concerts/<%= Gig.find(message.subject[2..-1]).songkick_id %>" target="_blank">
                      <img src="https://api.songkick.com/api/3.0/events/<%= Gig.find(message.subject[2..-1]).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="msgGigs">
                    </a>
              </span>
              </div>

              <% elsif  message.subject[0..1] == 'U|' %>
              <img src="https://graph.facebook.com/<%= message.sender.uid %>/picture?width=200&height=200" class="profileImg">
              <div class="notificationMsg">
                <div class="notificationDetails">
                  <div class="hiddenID" style="display:none"><%= message.sender_id %></div>
                  <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div>
                  <span><%= message.body[0..-1] %></span>
                  <br>
                  <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
                </div>

              </div>

              <% elsif  message.subject[0..1] == 'R|' %>
              <img src="https://graph.facebook.com/<%= message.sender.uid %>/picture?width=200&height=200" class="profileImg">
              <div class="notificationMsg">
                <div class="notificationDetails">
                  <div class="hiddenID" style="display:none"><%= message.sender_id %></div>
                  <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div>
                  <span><%= message.body[0..-1] %> review of</span> 
                  <span class="activityName msgReviewName"></span>!
                  <span class="hiddenReviewID"><%= message.subject[2..-1] %></span>
                  <br>
                  <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
                </div>
                <img src="https://api.songkick.com/api/3.0/events/<%= PastGig.find(Review.find(message.subject[2..-1]).reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="msgReviews">
                <span class="hiddenReviewID"><%= message.subject[2..-1] %></span>

              </div>

            <% elsif  message.subject[0..1] == 'C|' %>
              <img src="https://graph.facebook.com/<%= message.sender.uid %>/picture?width=200&height=200" class="profileImg">
              <div class="notificationMsg">
                <div class="notificationDetails">
                  <div class="hiddenID" style="display:none"><%= message.sender_id %></div>
                  <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div>
                  <span>commented on </span>
                  <% if  message.subject[2] == 'S' %>
                    <div class="activityName commentActivity"><%= Song.find(message.subject[3..-1]).name %></div>
                    
                  <% elsif  message.subject[2] == 'P' %>
                    <div class="activityName commentActivity"><%= Playlist.find(message.subject[3..-1]).name %></div>
                    
                  <% elsif  message.subject[2] == 'R' %>
                  <% end %>
                  <br>
                  <div class="activityLink">/activities/<%= message.body.split('/')[2] %></div>
                  <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
                </div>
                <% if  message.subject[2] == 'S' %>
                  <img src="https://img.youtube.com/vi/<%= Song.find(message.subject[3..-1]).content %>/hqdefault.jpg" class="inboxSong">
                <% elsif  message.subject[2] == 'P' %>
                  <% unless Playlist.find(message.subject[3..-1]).content.nil? %>
                    <% img1 = "v" %>
                    <% JSON.parse(Playlist.find(message.subject[3..-1]).content)[0].each do |k, v| %>
                      <% img1 = v %>
                    <% end %>
                    <img src="https://img.youtube.com/vi/<%= img1 %>/hqdefault.jpg" class="notificationYTimg">
                  <% end %>
                <% end %>
              </div>

            <% end %>
                
          </div>

      	
        <% end %>
      
      <% end %>
    <% end %>
<% end %>
<div class="genericInfinite-scrolling">
   <%= will_paginate @notifications, renderer: BootstrapPagination::Rails %>
 </div>

<script type="text/javascript">

$('.commentActivity').click(function(){
  $.get($(this).siblings('.activityLink').html(), function(result){
  $('.modal').modal('hide');
  $('#box2').html('<div class="modal-body">'+result+'</div>');});
  $('#container').animate({
        top: '-100%'
    });
});

$('.reviewName, .msgReviews').click(function(){
  $.get('/reviews/' + $(this).siblings('.hiddenReviewID').html(), function(result){
  $('.modal').modal('hide');
  $('#box2').html('<div class="modal-body">'+result+'</div>');
  });
  $('#container').animate({
        top: '-100%'
  });
});

$('#pointDiv').val($('#pointCount').html());

$('#pointCount').addClass('invisCount');

var urls = [];

  for(j=0; j<$('.msgGigs').length; j++){
    urls.push($('.msgGigs').eq(j).attr('src'));
  }



  for(j=0; j<$('.msgGigs').length; j++){
    $.ajax({
      url: urls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.msgGigs').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                            $('.msgMonth').eq(i).html(moment(data.resultsPage.results.event.start.date).format("MMM"));

                            $('.msgDay').eq(i).html(moment(data.resultsPage.results.event.start.date).format("DD"));

                            $('.msgGigName').eq(i).html(data.resultsPage.results.event.displayName);

                            $('.msgGigLocation').eq(i).html(data.resultsPage.results.event.venue.metroArea.displayName);

                          
                    }
        
      }
    });
    
    
  }

  var reviewUrls = [];

  for(j=0; j<$('.msgReviews').length; j++){
    reviewUrls.push($('.msgReviews').eq(j).attr('src'));
  }



  for(j=0; j<$('.msgReviews').length; j++){
    $.ajax({
      url: reviewUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.msgReviews').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                            $('.msgReviewName').eq(i).html(data.resultsPage.results.event.displayName);

                          
                    }
        
      }
    });
    
    
  }

</script>

