<% if @notifications.count == 0 %>
        <div id="noMessages">No notifications.<br>Share some music with your friends!</div>
<% else %>
	<% @notifications.each do |notification| %>
         
      
    <% receipts = notification.receipts_for current_user %>
      <% receipts.each do |receipt|%>
      		<% notification.mark_as_read(current_user) %>
          <% unless receipt.message.sender_id == current_user.id %>
      		<% message = receipt.message %>
          <div class="notification">

            <% if message.subject[0..1] == 'B|' %>
              <img src="https://graph.facebook.com/<%= receipt.receiver.uid %>/picture?width=200&height=200" class="profileImg">
                <div class="notificationMsg">
                  <div class="notificationDetails">
                    <div class="hiddenID" style="display:none"><%= receipt.receiver_id %></div>
                    <div class="profileNameMsg"><%= User.find(receipt.receiver_id).name %></div>
                    <div class="activityName levelNtf"><%= message.body[0..-1] %></div>
                    <br>
                  <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
                  </div>
                  <% unless Merit::Badge.by_name(message.subject[2..-1]).first.nil? %>
                    <%= image_tag (Merit::Badge.by_name(message.subject[2..-1]).first.custom_fields[:image]), class: 'feedBadge' %>
                  <% end %>
                </div>

            <% else %>
            <img src="https://graph.facebook.com/<%= message.sender.uid %>/picture?width=200&height=200" class="profileImg">
              <div class="notificationMsg">
                <div class="notificationDetails">
                  <div class="hiddenID" style="display:none"><%= message.sender_id %></div>
                  <div class="profileNameMsg"><%= User.find(message.sender_id).name %></div>

                  <% if message.subject[0..1] == 'S|' %>
                    <% activityID = message.subject[2..-1] %>
                    <% songID = PublicActivity::Activity.find(activityID).trackable_id %>
                    <% songName = Song.find(songID).name %>
                    <% songContent = Song.find(songID).content %>
                    <span> liked </span>
                    <div class="activityName songName" src="https://img.youtube.com/vi/<%= songContent %>/hqdefault.jpg"><%= songName %></div>

                  <% elsif message.subject[0..1] == 'P|' %>
                    <span> is now following </span>
                    <div class="activityName playlistInfo"><%= Playlist.find(message.subject[2..-1]).name %><div class="hiddenPlaylistID"><%= message.subject[2..-1] -%></div></div>

                  <% elsif  message.subject[0..1] == 'G|' %>
                    <% activityID = message.subject[2..-1] %>
                    <% gigID = PublicActivity::Activity.find(activityID).trackable_id %>
                    <span> liked </span>
                    <div class="uberdate">
                      <li class="datewrapLi">
                        <div class="date-wrap"><span class="month msgMonth"></span><span class="day msgDay"></span></div>
                      </li> 
                      <li class="gigName">
                        <a href="https://www.songkick.com/concerts/<%= Gig.find(gigID).songkick_id %>" target="_blank" class="msgGigLink"><span class="msgGigName"></span></a>
                        <br>
                        <span class="msgGigLocation"></span>
                      </li>
                      <div class="hiddenGigID"> <%= Gig.find(gigID).songkick_id %></div>
                    </div>

                  <% elsif  message.subject[0..1] == 'U|' %>
                    <span> is now followng you.</span>

                  <% elsif  message.subject[0..1] == 'R|' %>
                    <% review = Review.find(message.subject[2..-1])  %>
                    <% reviewable_type = review.reviewable_type %>
                    <span> liked your review of </span>
                    <% if reviewable_type == "PastGig" %>
                      <span class="activityName msgReviewName msgReviewGigName"></span>!
                    <% elsif reviewable_type == "Song" %>
                      <span class="activityName msgReviewName"><%= Song.find(review.reviewable_id).name %></span>!
                    <% end %>
                    <span class="hiddenReviewID"><%= message.subject[2..-1] %></span>


                  <% elsif  message.subject[0..1] == 'C|' %>
                    <% if  message.subject[2] == 'R' %>
                      <span>commented on your review of </span>
                    <% else %>
                      <span>commented on </span>
                    <% end %>
                    <% activityID = message.body %>
                    <% trackable_id = PublicActivity::Activity.find(activityID).trackable_id %>
                    <div class="activityLink"><%= activityID %></div>
                    <% if  message.subject[2] == 'S' %>
                      <div class="activityName commentActivity"><%= Song.find(trackable_id).name %></div>
                    <% elsif  message.subject[2] == 'P' %>
                      <div class="activityName commentActivity"><%= Playlist.find(trackable_id).name %></div>
                    <% elsif  message.subject[2] == 'R' %>
                      <% review = Review.find(activityID) %>
                      <% reviewable_type = review.reviewable_type %>
                      <% reviewable_id = review.reviewable_id %>
                      <% if reviewable_type == "Song" %>
                        <div class="activityName msgReviews"><%= Song.find(reviewable_id).name %></div>
                      <% elsif reviewable_type == "PastGig" %>
                        <div class="activityName msgReviews"><%= Song.find(reviewable_id).name %></div>
                      <% end %>
                      <span class="hiddenReviewID"><%= activityID %></span>
                    <% end %>



                  <% end %>
                <% end %>
                  <br>
                  <div class="createdAt"><%= time_ago_in_words(DateTime.parse(message.created_at.to_s)) %> ago</div>
                </div>
              </div>
            </div>
        <% end %>
    <% end %>
  <% end %>
<% end %>

<div class="genericInfinite-scrolling">
  <%= will_paginate @notifications, renderer: BootstrapPagination::Rails %>
</div>

<script type="text/javascript">

$('.commentActivity').click(function(){
  $.get( '/activites/' + $(this).siblings('.activityLink').html(), function(result){
  $('.modal').modal('hide');
  $('#box2').html('<div class="modal-body">'+result+'</div>');});
  $('#container').animate({
        top: '-100%'
    });
});

$('.reviewName, .msgReviews').click(function(){
  $.get('/reviews/' + $(this).siblings('.hiddenReviewID').html(), function(result){
  $('.modal').modal('hide');
  $('#box2').html('<div class="modal-body">'+result+'</div>');
  });
  $('#container').animate({
        top: '-100%'
  });
});

$('#pointDiv').val($('#pointCount').html());

$('#pointCount').addClass('invisCount');

var urls = [];

  for(j=0; j<$('.msgGigs').length; j++){
    urls.push($('.msgGigs').eq(j).attr('src'));
  }



  for(j=0; j<$('.msgGigs').length; j++){
    $.ajax({
      url: urls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.msgGigs').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                            $('.msgMonth').eq(i).html(moment(data.resultsPage.results.event.start.date).format("MMM"));

                            $('.msgDay').eq(i).html(moment(data.resultsPage.results.event.start.date).format("DD"));

                            $('.msgGigName').eq(i).html(data.resultsPage.results.event.displayName);

                            $('.msgGigLocation').eq(i).html(data.resultsPage.results.event.venue.metroArea.displayName);

                          
                    }
        
      }
    });
    
    
  }

  var reviewUrls = [];

  for(j=0; j<$('.msgReviews').length; j++){
    reviewUrls.push($('.msgReviews').eq(j).attr('src'));
  }



  for(j=0; j<$('.msgReviews').length; j++){
    $.ajax({
      url: reviewUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.msgReviews').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                            $('.msgReviewGigName').eq(i).html(data.resultsPage.results.event.displayName);

                          
                    }
        
      }
    });
    
    
  }

</script>

