<table class="gigUberTable">
  <div id="reviewForm"></div>
<% @userCalendar.each do |pastGig| %>
  
    <% artistImage = pastGig["performance"][0]["artist"]["id"] %>
    <tr class="pastGigsRows"><td class="artistImageTd"><a href="<%= pastGig["uri"] %>" target="_blank"><img src="https://ssl.sk-static.com/images/media/profile_images/artists/<%= artistImage %>/large_avatar" class="artistImages"></a></td>
    <td class="gigDetailsTd">
      
    <% d = (pastGig["start"]["date"]).to_date %>
    <div class="uberdate userDates"><li><div class="date-wrap"><span class="month"><%= Date::ABBR_MONTHNAMES[d.mon] %></span><span class= "day"><%= d.day %></span></div> 
    <a href="<%= pastGig["uri"] %>" target="_blank"><%= pastGig["displayName"] %></a><br>
    <%= cityName = pastGig["venue"]["metroArea"]["displayName"] %>
    <% pastGig["performance"][0]["artist"]["displayName"] %>
    <% pastGigDate = Date.parse(pastGig["start"]["date"]).strftime("%d-%m-%Y") %>
    
    
    <% artistName = (pastGig["performance"][0]["artist"]["displayName"]) %>
    
    <% setlistURL = "https://api.setlist.fm/rest/0.1/search/setlists.json?artistName=" + artistName + "&cityName=" + cityName + "&date=" + pastGigDate +"&apikey=ece37fb8-74e5-40e1-b04a-a0c4f23b732d" %>

    <% url = URI.parse(setlistURL.gsub(" ", "+")) %>
    <% request = Net::HTTP.get_response(url) %>

    <br></li></div><br>


    <% if request.body.include?("not found") || request.body.include?('"sets":""') %>
      <div class="setlistDiv"> No setlist found </div>
      
    <% else %>
      
      
      <% isArray = JSON.parse(request.body)["setlists"]["setlist"].kind_of?(Array) %>
      <% if isArray == false %>
      <% result = JSON.parse(request.body)["setlists"]["setlist"]["sets"]["set"] %>
      <div class="setlistDiv">
      <li class="setlistList">
        <ol class="setlistHeader">Setlist</ol>
      <% setsLength = result.length-1 %>
      <% for i in 0..setsLength %>
        <% if setsLength == 0 %>
          <% allSets = result["song"] %>
        <% else %>
          <% allSets = result[i]["song"] %>
        <% end %>
        <% setLength = allSets.length-1 %>
        
        <% for j in 0..setLength %>
          <% if allSets[j].nil? %>
            <ol class="setlist"><li><%= allSets["@name"] %></li></ol>
            <% break %>
          <% else %>
            <ol class="setlist"><li><%= allSets[j]["@name"] %></li></ol>
          <% end %>
        <% end %>

      <% end %>
      </li></div>
      <% else %>
      <div class="setlistDiv">
        <% JSON.parse(request.body)["setlists"]["setlist"].each do |show| %>
        
          <li class="setlistHeader">Setlist
          <% setsLength = show["sets"]["set"].length-1 %>
          <% for i in 0..setsLength %>
        <% if setsLength == 0 %>
          <% allSets = show["sets"]["set"]["song"] %>
        <% else %>
          <% allSets = show["sets"]["set"][i]["song"] %>
        <% end %>
        <% setLength = allSets.length-1 %>
        
        <% for j in 0..setLength %>
          <% if allSets[j].nil? %>
            <ol class="setlist"><li><%= allSets["@name"] %></li></ol>
            <% break %>
          <% else %>
            <ol class="setlist"><li><%= allSets[j]["@name"] %></li></ol>
          <% end %>
        <% end %>

      <% end %>
        </li><br>
        <% end %></div>
      <% end %>

<% end %>



      <% unless PastGig.where(songkick_id: pastGig["id"], user_id: @user.id ).first.oneliner == 'One liner about the show.' && PastGig.where(songkick_id: pastGig["id"], user_id: @user.id ).first.review == 'Geek out to your heart\'s content (as long as it\'s less than 2000 characters)' && current_user != @user %>
      <div class="review">
        <div class="reviewHeader">Review</div>

        
          <div class="reviewGigID"><%= pastGig["id"] %></div>
          
          <div class="reviewOneliner">
            <%= best_in_place_if current_user == @user, PastGig.where(songkick_id: pastGig["id"], user_id: @user.id ).first, :oneliner, :type => :input %>
          </div>
          <% unless PastGig.where(songkick_id: pastGig["id"], user_id: @user.id ).first.review == 'Geek out to your heart\'s content (as long as it\'s less than 2000 characters)' && current_user != @user %>
          <div class="reviewFull">
            <%= best_in_place_if current_user == @user, PastGig.where(songkick_id: pastGig["id"], user_id: @user.id ).first, :review, :type => :textarea, :display_with => :simple_format %>
          </div>
            <% if current_user != @user %>
                <% if current_user.likes?(PastGig.where(songkick_id: pastGig["id"], user_id: @user.id ).first) %>
                  <span class="glyphicon glyphicon-thumbs-up reviewThumb liked"></span>
                <% else %>
                  <span class="glyphicon glyphicon-thumbs-up reviewThumb"></span>
                <% end %>

                
              
            <% end %>

            <% likeTotal = 0 %>
    <% likerNames = [] %>
    <% pastGig = PastGig.where(songkick_id: pastGig["id"], user_id: @user.id ).first %>
    <% likeTotal += pastGig.likers(User).count %>
    <% pastGig.likers(User). each do |liker| %>
      <% if liker == current_user %>
        <% likerNames.unshift("You") %>
      <% else %>
        <% likerNames.push(liker.name) %>
      <% end %>
    <% end %>
    <% if likeTotal == 1 %>
        <% if likerNames[0] == "You" %>
        <%= likerNames[0] %> like this.
        <% else %>
        <%= likerNames[0] %> likes this.
        <% end%>
      <% elsif likeTotal == 2 %>
      <%= likerNames[0] %> and <%= likerNames[1] %> like this.
      <% elsif likeTotal == 3 %>
      <%= likerNames[0] %>, <%= likerNames[1] %> and <%= likerNames[2] %> like this.
      <% elsif likeTotal > 3 %>
      <%= likerNames[0] %>, <%= likerNames[1] %> and <%= likeTotal -2 %> others like this.
      <% end %>
          
         
          <% end %>
        
      </div>

      <div class="photos">
        <div class="photosHeader">Photos & Videos</div>
        <div class="photoContent">Share Imgur Photos</div>
        <div class="videoContent">Share YouTube Videos</div>
      </div>


      
    <% end %>
    </td></tr>
    
  <% end %>


  <tr class="pastGigsRows"><td><%= will_paginate @userCalendar, renderer: BootstrapPagination::Rails %></td></tr>
</table>
<script type="text/javascript">

$(function(){
  $('.best_in_place').bind('ajax:success', function(){ this.innerHTML = this.innerHTML.replace(/\n/g, '<p>') });
});


$('.setlistHeader').on('click', function(){
          $(this).siblings('.setlist').toggle();
        });

$('.reviewThumb').on('click', function(){


if($(this).hasClass('liked')) {
      $(this).removeClass('liked');
} 

  else {
    $(this).addClass('liked');
    var reviewLink = '/' + $(this).siblings('.reviewGigID').html() + '/<%= @user.id %>/reviewLike';
    $.get(reviewLink, function(){

    });

    $('#shareCurrentID').val('<%= @user.id %>');
    $('#messageURL').val('R|');
    $('.shareTextarea').val('<%= current_user.name %> liked your review of ' + $(this).parents('.gigDetailsTd').find('a').text());
    $('#shareSubmit').click();
    $('#messageURL').val('');
    $('.shareTextarea').val('Check this out!');
  }
          
        });

</script>