<div class="hiddenUserID"><%= @user.id %></div>
<div class="callbackID"></div>

<% @pastGigs.each do |pg| %>

        <div class="pastGigsRows">
          <div class="artistImageDiv">
            <a href="https://www.songkick.com/concerts/<%= pg.songkick_id %>" target="_blank">
              <img src="https://api.songkick.com/api/3.0/events/<%= pg.songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="hugeArtistImages">
            </a>
          </div>
          
          
            <% d = pg.gig_date.to_date %>
            <div class="pgInfo">
            <div class="uberdate">
              <div class="date-wrap">
                <span class="month"><%= Date::ABBR_MONTHNAMES[d.mon] %></span>
                <span class= "day"><%= d.day %></span>
              </div> 

              <div class="gigName">
                <a href="https://www.songkick.com/concerts/<%= pg.songkick_id %>" target="_blank" class="pgA">
                </a>
                <br>
                <span class="profileGigLocation"></span>
              </div>
    
            </div>
            
     
            <div class="setlistButton" data-toggle="modal" data-target="#setlistModal" >Setlist</div>

            <span class="hiddenGigDate"><%= pastGigDate = Date.parse(pg.gig_date).strftime("%d-%m-%Y") %></span>
            <span class="hiddenArtistName"></span>
            <span class="hiddenGigLocation"></span>     
        
        <div class="pgID"><%= pg.id %></div>
        <% if pg.review.nil? && current_user.id == @user.id %>
        <div class="reviewButton writeReview" data-toggle="modal" data-target="#reviewModal">Write a Review</div>
        <% elsif pg.review.present?%>
        <div class="pgReviewID"><%= pg.review.id %></div>
        <div class="reviewButton reviewPresent" data-toggle="modal" data-target="#reviewModal">Review</div>
        <% end %>

</div>
          
        </div>
<% end %> 

</div>



<div class="genericInfinite-scrolling">
   <%= will_paginate @pastGigs, renderer: BootstrapPagination::Rails %>
 </div>

 <script type="text/javascript">

var gigUrls = [];

 

    

   for(j=0; j<$('.hugeArtistImages').length; j++){
    gigUrls.push($('.hugeArtistImages').eq(j).attr('src'));
  }



  for(j=0; j<$('.hugeArtistImages').length; j++){
    $.ajax({
      url: gigUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.hugeArtistImages').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/huge_avatar');

                            $('.gigName a').eq(i).text(data.resultsPage.results.event.displayName);

                            $('.profileGigLocation').eq(i).html(data.resultsPage.results.event.venue.metroArea.displayName);

                            $('.hiddenArtistName').eq(i).html(data.resultsPage.results.event.performance[0].artist.displayName);

                            

                            
                            

                            
                            

                            


                            
                    }
      }
    });
  }

  $('.setlistButton').click(function(){
    $.get('/' + $(this).siblings('.hiddenArtistName').html().replace("/", "%2f") + ',' + $(this).siblings('.uberdate').find('.profileGigLocation').html() + ',' + $(this).siblings('.hiddenGigDate').html() + '/setlist', function(re){

                              $('.setlistBody').html(re);

                            });
  });

  $('.reviewPresent').click(function(){
    $.get('/reviews/' + $(this).siblings('.pgReviewID').html(), function(review){
      $('.reviewModalBody').html(review);
    });
  });

  $('.writeReview').click(function(){
    $.get( $(this).siblings('.pgID').html() + '/writeGigReview/', function(review){
      $('.reviewModalBody').html(review);
    });
  });

 </script>