<div class="mobileDivider">
			<%= image_tag "https://graph.facebook.com/#{@user.uid}/picture?width=200&height=200", class: "mobileProfilePic" %>
			<div class="mobileGeneralInfo">
				<div><%= @user.name %></div>
				<div><%= @user.level_name %></div>
				<div><%= @user.points %> points</div>
			</div>
		</div>
		<div class="mobileDivider" id="mobileBadges">
			<% @user.badges.reverse.take(3).each do |badge| %>
            <%= image_tag (badge.custom_fields[:image]), class: 'mobileBadgeImg' %>
          
        <% end %>
		</div>
		<div class="followersNfollowees">
			<div id="follows">
      <h4>Following</h4>
      <h5> <%= @user.followees(User).count %></h5>
    </div>

    <div id="followers">
      <h4>Followers</h4>
      <h5><%= @user.followers(User).count %></h5>
    </div>
		</div>
		<% unless @reviews.count == 0 %>
		<div class="mobileDivider" id="mobileReviews">
				<% if @review.reviewable_type == "PastGig" %>
					<img src="https://api.songkick.com/api/3.0/events/<%= PastGig.find(@review.reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="mobileProfileSKImgs">
				<% else %>
					<img src="https://img.youtube.com/vi/<%= Song.find(@review.reviewable_id).content %>/hqdefault.jpg" class="mobileReviewImg">
				<% end %>
				<div class="mobileInfo">
					<%= @user.first_name %>'s Reviews
				</div>
		</div>
		<% end %>
		<% if @user.songkickID.nil? %>
			<div class="mobileInputDivider" id="mobileInputSKID">
				<% if current_user == @user %>
				Enter your Songkick ID (or <a href="https://www.songkick.com/signup" target="_blank" style="font-weight:bold">sign up to Songkick</a>)
				<%= form_for(@user) do |f| %>
        			<%= f.text_field :songkickID, placeholder: "Get your Upcoming and Past Gigs" %>
        			<%= f.submit "Add Songkick ID", id: "mobileSKIDSubmit" %>
      			<% end %>
				<% else %>
					<%= @user.first_name %> has no Songkick account to display past and upcoming gigs, tell them to sign up at <a href="https://www.songkick.com" target="_blank">songkick.com</a>!
				<% end %>
			</div>
		<% else %>
			<% if @pastGigs.count > 0 %>
			<div class="mobileDivider" id="pastGigs">
				<% pg = @pastGigs.first %>
              	<img src="https://api.songkick.com/api/3.0/events/<%= pg.songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="mobileProfileSKImgs">
              	<div class="mobileInfo">
						Past Gigs & Reviews
				</div>
			</div>
			<% end %>
			<% if @gigs.count > 0 %>
			<div class="mobileDivider" id="upcomingGigs">
				<% g = @gigs.first %>
              	<img src="https://api.songkick.com/api/3.0/events/<%= g.songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="mobileProfileSKImgs">
              	<div class="mobileInfo">
              		Upcoming Gigs
              	</div>
			</div>
			<% end %>
		<% end %>
		<% if @user.playlists.count > 0 %>
		<div class="mobileDivider">
			<% playlist = @user.playlists.first %>
      				<% unless playlist.content.nil? %>
      					<% img1 = "a" %>
            			<% JSON.parse(playlist.content)[0].each do |k, v| %>
              				<% img1 = v %>
            			<% end %>
            			<img src="https://img.youtube.com/vi/<%= img1 %>/hqdefault.jpg">
      				<% end %>
      				<div class="mobileInfo">
						<%= @user.first_name %>'s Playlists
					</div>
		</div>
		<% end %>

<script type="text/javascript">

$('#followers').click(function(){  
  $.get("<%= @user.id %>/followers", function(result){
  	$('#mobileMainBody').html(result);
  });
});

$('#follows').click(function(){  
  $.get("<%= @user.id %>/followees", function(result){
  	$('#mobileMainBody').html(result);
  });
});


  var gigUrls = [];

  for(j=0; j<$('.mobileProfileSKImgs').length; j++){
    gigUrls.push($('.mobileProfileSKImgs').eq(j).attr('src'));
  }



  for(j=0; j<$('.mobileProfileSKImgs').length; j++){
    $.ajax({
      url: gigUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.mobileProfileSKImgs').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');
                    }
      }
    });
  }

  $('#mobileReviews').click(function(){ 

  $.get("<%= @user.id %>/userReviews", function(result){
  	$('#mobileMainBody').html('<div class="mobilePageHeader" id="mobileReviewsHeader"><%= @user.first_name%>\'s Reviews</div>' + result);
  	$('#mobileMainBody').css('overflow', 'hidden');
		$('#mobileMainBody').scrollTop(0);
		$('#mobileMainBody').css('overflow', 'scroll');
  });
});

  $('#mobileMainBody').on('click', '#mobileReviewsHeader', function(){
  	$.get("<%= @user.id %>/userReviews", function(result){
  		$('.mobileReviewDivider, .mobileReviewBody').remove();
  		$('#mobileReviewsHeader').after(result);
  		$('#mobileMainBody').scrollTop(0);
  	});
  });

  $('#pastGigs').click(function(){
  $.get("<%= @user.id %>/pastGigs", function(result){
    $('#mobileMainBody').html(result);
  });
 });

$('#upcomingGigs').click(function(){
  $.get("<%= @user.id %>/upcomingGigs", function(result){
  	$('#mobileMainBody').html(result);
  });
 });
  

</script>