
  <!--<div class="gigBlocks" >
    <h4 id="getLikes" data-toggle="modal" data-target="#genericModal" onclick="getLikes">
      Artists <%=@user.first_name%> Likes
    </h4>
  <ul>
    <% unless @user.musicLikes.nil? %>
      <% @user.musicLikes.take(6).each do |ml| %>
        <li class="ml">
          <h5 class="mlSpan"><%= ml %></h5>
            <img class="mlImg" src="https://api.songkick.com/api/3.0/search/artists.json?query=<%= ml %>&apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?">
        </li>
      <% end %>
    <% end %>
  </ul>
  </div>-->

  <div class="profileActivity">
    

    <%= image_tag "https://graph.facebook.com/#{@user.uid}/picture?width=200&height=200", id: "profilePicBig" %>
    <h4 class="profileNameBig"><%= @user.name %></h4>
    <% if @user.level_name == "Filthy Casual" %>   
      <div class="levelName filthy">
      <%= @user.level_name %>
      </div>

    <% else %> 
    <%= image_tag "#{@user.level_name}.png", class: "hipsterSwag" %>

    <% end %>
    <div class="points profilePoints"><%= @user.points %></div>
    

      <% if current_user == @user %>

      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
      </div>

    <% end %>

    <div id="followsAndButtons">
    <div id="follows" data-toggle="modal" data-target="#genericModal">
      <h4>Following</h4>
      <h5> <%= @user.followees(User).count %></h5>
    </div>

    <div id="followers" data-toggle="modal" data-target="#genericModal">
      <h4>Followers</h4>
      <h5><%= @user.followers(User).count %></h5>
    </div>

    <% if current_user.follows?(@user) %>
  
      <%= button_to "Unfollow", unfollow_path(user: @user.id) , remote: true, method: :post , class: "unfollow", style: "display: block" %>
      <%= button_to "Follow", follow_path(user: @user.id) , remote: true, method: :post , class: "follow", style: "display: none" %>
      <!-- <span class="glyphicon glyphicon-envelope privateMsg" data-toggle="modal" data-target="#genericModal" ></span> -->

    <% else %>
      <% unless current_user == @user %>
  
        <%= button_to "Follow", follow_path(user: @user.id) , remote: true, method: :post , class: "follow", style: "display: block" %>
        <%= button_to "Unfollow", unfollow_path(user: @user.id) , remote: true, method: :post , class: "unfollow", style: "display: none" %>
        <span class="hiddenID"><%= @user.id %></span>
        <!-- <span class="glyphicon glyphicon-envelope privateMsg" data-toggle="modal" data-target="#genericModal" ></span> -->
      <% end %>
    <% end %>
    </div>

    <div id="userBadges">
        <h4>Badges</h4>
        <% @user.badges.reverse.take(3).each do |badge| %>
          <%= image_tag (badge.custom_fields[:image]), class: 'badgeImg' %>
        <% end %>
    </div>
  </div>


<div class="profileActivity" id="userReviews">
  <h4 id="seeAllReviews" data-toggle="modal" data-target="#genericModal"><%= @user.first_name %>'s Reviews</h4>
  <% if @reviews.count == 0 %>
    <% if @user == current_user %>
      You haven't written any reviews yet.
    <% else %>
      <%= @user.first_name %> hasn't written any reviews, share a song with them or ask them to write a review for one of their past gigs.
    <% end %>
  <% else %>
    <% @reviews.take(3).each do |review| %>
    <div>
      <% if review.reviewable_type == "PastGig" %>
        <img src="https://api.songkick.com/api/3.0/events/<%= PastGig.find(review.reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="latestImg reviewGigImgs latest">
        <div class="hiddenReviewID"><%= review.id %></div>
          <div class="latestContent">
            <span class="reviewGigName activityName"></span>
            <div class="hiddenReviewID"><%= review.id %></div>
          
      <% elsif review.reviewable_type == "Song" %>
       <img src="https://img.youtube.com/vi/<%= Song.find(review.reviewable_id).content %>/hqdefault.jpg" class="playlistImg latestImg reviewSong latest">
        <div class="hiddenReviewID"><%= review.id %></div>
          <div class="latestContent">
            <span class="activityName reviewSong"><%= Song.find(review.reviewable_id).name %></span>
            <div class="hiddenReviewID"><%= review.id %></div>
      <% end %>
      <div class="profileReview">
      <%= review.content %>
    </div>
      <% likers = review.likers(User).count %>
      <% unless likers == 0 %>
        <div class="profileLikerNumber">
              <% if likers == 1 %>
                <%= likers %> like
              <% else %>
                <%= likers %> likes
              <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <% end %>

  <% end %>
  
</div>

  

  <% if @songkickID.nil? %>
 
    <div id="noSongkick">

      <% if current_user == @user %>

      <%= form_for(@user) do |f| %>
        <%= text_field_tag :content, nil, tabindex: '-1', class: 'lol' %>
        <%= f.text_field :songkickID %>
        <%= f.submit "Songkick ID", :type => :image, :src => image_path("songkicklogo.png"), id: "skLogo" %>
      <% end %>

      <br>
      Enter your Songkick ID (or <a href="https://www.songkick.com/signup" target="_blank">sign up to Songkick</a>) to get your upcoming and past gigs, with setlists from <a href="https://www.setlist.fm" target="_blank">setlist.fm</a>.

      <% else %>
      <%= @user.first_name %> has no Songkick account to display past or upcoming gigs.
      <% end %>
    </div>

  <% elsif @pastGigs.count == 0 %>

    <% if current_user == @user %>
    
    <div id="noPastGigs" class="gigBlocks">
      No past gigs! <br> Add a few gigs you've already been to at <a href="www.songkick.com"> Songkick</a>.<br> Then this'll look awesome (instead of crappy like it does now).
    </div>

    <% else %>

    <div id="noPastGigs" class="gigBlocks"><%= @user.first_name %> has no past gigs.</div>

    <% end %>

  <% else %>

    <div id="pastGigs" class="gigBlocks">
      <table class="gigTables userInfo">
        <tr>
          <td colspan="2"><span data-toggle="modal" data-target="#genericModal" id="seeAllpast" class="seeAllpast">
            <h4>Past Gigs & Reviews</h4><h6>Click to see all</h6></span>
          </td>
        </tr>
    
      <% @pastGigs.limit(2).each do |pg| %>

        <tr class="pastGigsRows">
          <td>
            <a href="https://www.songkick.com/concerts/<%= pg.songkick_id %>" target="_blank">
              <img src="https://api.songkick.com/api/3.0/events/<%= pg.songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="artistImages latest">
            </a>
          </td>
          
          <td>
            <% d = pg.gig_date.to_date %>
            <div class="uberdate myDates">
              <div class="date-wrap">
                <span class="month"><%= Date::ABBR_MONTHNAMES[d.mon] %></span>
                <span class= "day"><%= d.day %></span>
              </div> 

              <li class="profileGigName">
                <a href="https://www.songkick.com/concerts/<%= pg.songkick_id %>" target="_blank">
                </a>
                <br>
                <span class="profileGigLocation"></span>
              </li>
    
            </div>
          </td>
        </tr>
      <% end %> 
      
      </table>
    </div>
  


  <%if @gigs.count == 0 %>

    <% if current_user == @user %>

    <div id="noUpcomingGigs" class="gigBlocks">
      No upcoming gigs! <br> Add a few gigs you're going to at <a href="www.songkick.com"> Songkick</a>.<br> Then this'll look awesome (instead of crappy like it does now).
    </div>

    <% else %>

    <div id="noUpcomingGigs" class="gigBlocks"><%= @user.first_name %> has no upcoming gigs. <br>Invite them to one!</div>

    <% end %>

  <% else %>
    <div id="goingTo" class="gigBlocks">    
      <table class="gigTables userInfo">
        <tr>
          <td colspan="2">
            <span data-toggle="modal" data-target="#genericModal" id="seeAll"><h4>Upcoming Gigs</h4><h6>Click to see all</h6></span>
          </td>
        </tr>

        <% @gigs.limit(2).each do |g| %>

        <tr>
          <td class="artistImageTd">
            <a href="https://www.songkick.com/concerts/<%= g.songkick_id %>" target="_blank">
              <img src="https://api.songkick.com/api/3.0/events/<%= g.songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="artistImages latest">
            </a>
          </td>
  
          <td>
            <% d = g.gig_date.to_date %>
            <div class="hiddenGigID"><%= g.id %></div>
            <div class="uberdate myDates">
              <div class="date-wrap">
                <span class="month"><%= Date::ABBR_MONTHNAMES[d.mon] %></span>
                <span class= "day"><%= d.day %></span>
              </div>

              <li class="profileGigName">
                <a href="https://www.songkick.com/concerts/<%= g.songkick_id %>" target="_blank">
                </a>
                <br>
                <span class="profileGigLocation"></span>
              </li>

              
            </div>

            <div class="upcomingGoingAndShare">
              <% unless @user.followees(User).count == 0 %>
              
                <% @user.followees(User).each do |friend| %>
                  <% unless  Gig.where(user_id: friend.id, songkick_id: g.songkick_id).count == 0 %>
                    <img src="https://graph.facebook.com/<%= friend.uid %>/picture?width=50&height=50" class="userImg goingImg" title="<%= friend.name %>"></img>
                    <div class="hiddenID"><%= friend.id %></div>
                  <% end %>
                <% end %>
                
              <% end %>
              <%= image_tag "ResnateShareIcon.png", class: "shareGig", "data-toggle" => "modal", "data-target" => "#shareModal" %>
              <div class="hiddenGigID"><%= g.id %></div>            
              </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <% end %> 
  <% end %>

  <% unless PublicActivity::Activity.where(owner_id: @user.id).count == 0 %>
  <div class="profileActivity">
    <span data-toggle="modal" data-target="#genericModal" id="seeAllActivity"><h4 class="historyInfo"><%= @user.first_name %>'s Activity</h4><h6>Click to see all</h6></span>

  
    <% unless PublicActivity::Activity.where(owner_id: @user.id, trackable_type: "Playlist").count == 0 %>
    <% latestPlaylist = PublicActivity::Activity.where(owner_id: @user.id, trackable_type: "Playlist").last %>
    <% unless Playlist.find(latestPlaylist.trackable_id).content.nil? %>
    <div id="latestPlaylist" class="latest">
      
      <% img1 = "a" %>
          <% JSON.parse(Playlist.find(latestPlaylist.trackable_id).content)[0].each do |k, v| %>
            <% img1 = v %>
          <% end %>
          <img src="https://img.youtube.com/vi/<%= img1 %>/hqdefault.jpg" class="playlistImg latestImg" >
          <div class="hiddenPlaylistID"><%= latestPlaylist.trackable_id %></div>
          <div class="latestContent">
            <div class="hiddenPlaylistID"><%= latestPlaylist.trackable_id %></div>
            <% if latestPlaylist.key == "playlist.create" %>
              <%= @user.first_name %> created the playlist <span class="latestPlaylistName"><%= Playlist.find(latestPlaylist.trackable_id).name %></span>
            <% elsif latestPlaylist.key == "playlist.update" %>
              <%= @user.first_name %> updated the playlist <span class="latestPlaylistName"><%= Playlist.find(latestPlaylist.trackable_id).name %></span>
            <% end %>
          </div>
    </div>
    <% end %>
    <% end %>

    <% unless PublicActivity::Activity.where(owner_id: @user.id, trackable_type: "Song").count == 0 %>
    <div id="latestSong" class="latest">
      <% latestSong = Song.find(PublicActivity::Activity.where(owner_id: @user.id, trackable_type: "Song").last.trackable_id) %>
      <img src="https://img.youtube.com/vi/<%= latestSong.content %>/hqdefault.jpg" class="playlistImg latestImg" >
      <div class="latestContent">
        <%= @user.first_name %> listened to <span class="latestSongName"><%= latestSong.name %></span>
      </div>
    </div>
    <% end %>

    <% unless PublicActivity::Activity.where(owner_id: @user.id, trackable_type: "Gig").count == 0 %>
    <div id="latestGig" class="latest">
      <% latestGig = Gig.find(PublicActivity::Activity.where(owner_id: @user.id, trackable_type: "Gig").last.trackable_id) %>
      <a href="https://www.songkick.com/concerts/<%= latestGig.songkick_id %>" target="_blank"><img src="https://api.songkick.com/api/3.0/events/<%= latestGig.songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="latestImg" id="latestGigImg">
      <div class="latestContent">
        <%= @user.first_name %> is going to <span id="latestGigDate"></span>
      </div>
      </a>
    </div>
    <% end %>

  </div>
  <% end %>


  <div id="playlists" class="gigBlocks">
    <table class="gigTables userInfo">
      <tr>
        <td colspan="2">
          <span data-toggle="modal" data-target="#genericModal" id="seePlaylists"><h4>Playlists</h4></span>
        </td>
      </tr>

    <% unless Like.where(liker_id: @user.id, likeable_type: "Song").count === 0 %>
      <tr class="likedInfo">
        <td>
          <div class="likedContent"></div>
          <img src="https://img.youtube.com/vi/<%= Song.find(Like.where(liker_id: @user.id, likeable_type: "Song").first.likeable_id).content %>/hqdefault.jpg" class="playlistImg latest" >
        </td>
        <td class="playlistName">Liked</td>
      </tr>
    <% end %>

    <% if @user.playlists.count === 0 %>
      <% if @user == current_user %>
        <tr class="playlistInfo">
          <td>
            <div id="noPlaylists">Make some playlists!</div>
          </td>
        </tr>
      <% end %>
    <% else %>
      <% @user.playlists.limit(2).each do |playlist| %>
      <% unless playlist.content.nil? %>
        <tr class="playlistInfo">
          <td>
            <div class="hiddenPlaylistID"><%= playlist.id %></div>
            <% img1 = "a" %>
            <% JSON.parse(playlist.content)[0].each do |k, v| %>
              <% img1 = v %>
            <% end %>
            <img src="https://img.youtube.com/vi/<%= img1 %>/hqdefault.jpg" class="playlistImg latest" >
          </td>
          <td class="playlistName"><%= playlist.name %></td>
        </tr>
      <% end %>
    <% end %>
    <% end %>
    </table>
  </div>



<script type="text/javascript">

$('.profileReview').succinct({
            size: 210
        });

  var gigUrls = [];

  for(j=0; j<$('#box2 .artistImages').length; j++){
    gigUrls.push($('.artistImages').eq(j).attr('src'));
  }



  for(j=0; j<$('#box2 .artistImages').length; j++){
    $.ajax({
      url: gigUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('#box2 .artistImages').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                         

                            $('.profileGigName a').eq(i).text(data.resultsPage.results.event.displayName);

                            $('.profileGigLocation').eq(i).html(data.resultsPage.results.event.venue.metroArea.displayName);
                    }
      }
    });
  }

  

  var reviewUrls = [];

  for(j=0; j<$('#box2 .reviewGigImgs').length; j++){
    reviewUrls.push($('.reviewGigImgs').eq(j).attr('src'));
  }

  for(j=0; j<$('#box2 .reviewGigImgs').length; j++){
    $.ajax({
      url: reviewUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('#box2 .reviewGigImgs').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                         

                            $('#box2 .reviewGigName').eq(i).text(data.resultsPage.results.event.displayName);
                    }
      }
    });
  }



  $('.shareGig').click(function(){
        $('#messageURL').val('G#'+$(this).parents('.uberdate').siblings('.hiddenGigID').html());
  });
  
  var urls = [];



  for(j=0; j<$('#box2 .ml').length; j++){
    urls.push($('#box2 .mlImg').eq(j).attr('src'));
  }



  for(j=0; j<$('#box2 .ml').length; j++){

    $.ajax({
      url: urls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {

                        
                            $('#box2 .mlImg').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.artist[0].id+'/large_avatar');
                          
                    }
        
      }
    });
    
    
  }



  var latestGigURL = $('#latestGigImg').attr('src');
  $.getJSON(latestGigURL, function(data){
    document.getElementById('latestGigDate').innerHTML = data.resultsPage.results.event.displayName;
    $('#latestGigImg').attr('src', 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');
  });

  $(document).on('click', '#latestSong, .userSong', function(){
    videoID = $(this).find('img').attr("src").slice(27,38);
        
        <%= render "layouts/videoClick" %>
  });

  


$('#getLikes').click(function(){

   
  
  $.get("<%= @user.id %>/artistLikes", function(result){
  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel">Artists <%=@user.first_name%> Likes</h3></div><div class="modal-body" id="getLikesBody">'+result+'</div>');});
});

$(document).on('click', '.ml, .alMl', function(){
  $('#getLikesBody').html('');
  $('.modal').modal('hide');
  $('#search_query').val($(this).find('.mlSpan').html());
  $('#newSearch').click();
  $('.ml').off('click');
});

 $('.seeAllpast').click(function(){
  
  $.get("<%= @user.id %>/pastGigs", function(result){

  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel">Past Gigs & Reviews</h3></div><div class="modal-body" id="pastGigsBody">'+result+'</div>');});

  
});


$('#seeAll').click(function(){
  
  
  $.get("<%= @user.id %>/upcomingGigs", function(result){

  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel">Upcoming Gigs</h3></div><div class="modal-body" id="upcomingGigsBody">'+result+'</div>');
});
    
  
});

$('#seeAllActivity').click(function(){ 

  $.get("<%= @user.id %>/userActivities", function(result){

  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel"><%= @user.first_name %>\'s Activity</h3></div><div class="modal-body" id="userActivityBody">'+result+'</div>');
});

});

$('#seeAllReviews').click(function(){ 

  $.get("<%= @user.id %>/userReviews", function(result){

  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel"><%= @user.first_name %>\'s Reviews</h3></div><div class="modal-body" id="userReviewsBody">'+result+'</div>');
});

});

$('.follow').click(function(){
  $(".follow").css("display", "none");
  $(".unfollow").css("display", "block");
});

$('.unfollow').click(function(){
  $(".unfollow").css("display", "none");
  $(".follow").css("display", "block");
});

$('#follows').click(function(){
  
  
  $.get("<%= @user.id %>/followees", function(result){
  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel">Following</h3></div><div class="modal-body" id="FolloweesBody">'+result+'</div>');});
});

$('#followers').click(function(){
  
  
  $.get("<%= @user.id %>/followers", function(result){
  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel">Following</h3></div><div class="modal-body" id="FollowersBody">'+result+'</div>');});
});

$('#seePlaylists').click(function(){
  
  $.get("<%= @user.id %>/userPlaylists", function(result){
  $('.genericContent').html('<div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 class="modal-title" id="myModalLabel"><%= @user.first_name %>\'s Playlists</h3></div><div class="modal-body" id="playlistsBody">'+result+'</div>');});
});





$('.likedInfo').click(function(){
  if($('#Playlist').find('#dropdownLike<%= @user.id %>').length == 0){
    $('.sideLiked').after('<li class="sideLiked"><span class="glyphicon glyphicon-thumbs-up sideGlyph"></span><span class="hiddenPlaylistID"><%= @user.id %></span><h5 class="sideLikedName"><%=@user.first_name%>\'s Liked Songs</h5><div class="dropdownLikeDiv" id="dropdownLikeDiv<%= @user.id %>"><div class="dropdownLike" id="dropdownLike<%= @user.id %>"></div></div></li>');

    $.get("<%= @user.id %>/likes", function(result){
    $('#Playlist').find('#dropdownLike<%= @user.id %>').html(result);
          $('#dropdownLikeDiv<%= @user.id %>').toggle();
    });

  } else {
    $.get("<%= @user.id %>/likes", function(result){
    $('#Playlist').find('#dropdownLike<%= @user.id %>').html(result);
          $('#dropdownLikeDiv<%= @user.id %>').toggle();
    });
  }
  
});

</script>