<% require 'songkick' %>
<% require 'json' %>
<% require 'geocoder' %>
<% client = Songkick.new("Pxms4Lvfx5rcDIuR", :json) %>
<% unless current_user.nil? || current_user != @user %>
<% unless @user.jamID == nil %>
<% jamURL = @user.jamID %>
<% matchYoutubeUrl = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/ %>
<% unless jamURL == nil || jamURL.match(matchYoutubeUrl) == nil %>
<% jamID = jamURL.match(matchYoutubeUrl)[1] %>
<% end %>
<% end %>

<div id="upperHalf">
<div class="fbLikes userInfo" >
  <h4 style="float:left" id="getLikes" data-toggle="modal" data-target="#getLikesModal" onclick="getLikes">Artists <%=@user.first_name%> Likes</h4>
  <br>
  <ul>
    <% unless @user.musicLikes.nil? %>
  <% @user.musicLikes.take(4).each do |ml| %>
  <li class="ml">
    <h5 class="mlSpan"><%= ml %></h5>
  <img class="mlImg" src="https://api.songkick.com/api/3.0/search/artists.json?query=<%= ml %>&apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?">
</li>
  <% end %>
  <% end %>
  </ul>
</div>

<% if jamID == nil %>
<div id="myJam">
  <%= image_tag "nocoversong.png", id: "noJamImg" %>
  
<% else %>
<div id="myJam"><img width="361px"height="271px" src="https://img.youtube.com/vi/<%= jamID %>/hqdefault.jpg" id="jamImg"><p class="historyPs" id="myJamText"><%= @user.jamName %></p>
<% end %>



<button id="editJam" data-toggle="modal" data-target="#myModal">Add a Cover Song</button>



<div class="userInfo" id="nameNstatus">
  
 <%= image_tag "http://graph.facebook.com/#{@user.uid}/picture?width=200&height=200", id: "profilePicBig" %>
 <h5><%= @user.name %></h5>
</div>

</div>

<script type="text/javascript">
  
  $('#myJam').hover( 
    function(){
    $("#editJam, #myJamText").css("display", "block");
  }, function(){
    $("#editJam, #myJamText").css("display", "none");
  });

    $('#jamImg').click( function() {
      var videoID = $('#myJam img').attr('src').slice(27,38);
      <%= render "layouts/videoClick" %>
      
     
    });

$('.historyImgTDs, .userHistoryImgTDs').hover( 
    function(){
    $(this).find("p").css("display", "block");
  }, function(){
    $(this).find("p").css("display", "none");
  });




</script>
<% songkickID = @user.songkickID %>


<div id="followsAndBadges">
  <div id="follows" data-toggle="modal" data-target="#FolloweesModal"><h4>Following</h4>
   <h5> <%= @user.followees(User).count %></h5>
  </div>
  <div id="followers" data-toggle="modal" data-target="#FollowersModal"><h4>Followers</h4>
    <h5>
    <%= @user.followers(User).count %></h5>
  </div>

<% if @user.level_name == "Filthy Casual" %>   
<div class="levelName filthy">
  <%= @user.level_name %>
</div>
<% elsif @user.level_name == "Hipster" %>   
<div class="levelName hipster">

  <%= @user.level_name %>
</div>
<% elsif @user.level_name == "ÜberHipster" %>   
<div class="levelName uberHipster">
  <%= @user.level_name %>
</div>
<% elsif @user.level_name == "Groupie" %>   
<div class="levelName groupie">
  <%= @user.level_name %>
</div>

<% elsif @user.level_name == "SuperGroupie" %>   
<div class="levelName superGroupie">
  <%= @user.level_name %>
</div>
<% elsif @user.level_name == "Rock Star" %>   
<div class="levelName rockStar">
  <%= @user.level_name %>
</div>
<% elsif @user.level_name == "Rap God" %>   
<div class="levelName rapGod">
  <%= @user.level_name %>
</div>
<% elsif @user.level_name == "BIGGER THAN JESUS" %>   
<div class="levelName">
  <font color="red">BI</font><font color="orange">GG</font><font color="yellow">ER </font></font><font color="green">TH</font><font color="blue">AN </font><font color="indigo">JE</font><font color="violet">SUS</font>
</div>
<% end %>

 <h6> <%= @user.points %> points</h6>
  <div id="userBadges"><h4>Badges</h4>
    
    <% @user.badges.each do |badge| %>
    <%= image_tag (badge.custom_fields[:image]), :float => "left", class: 'badgeImg' %>
    <% end %>
  </div>
</div>



<div class="modal fade" id="FolloweesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Following</h4>
      </div>
      <div class="modal-body" id="FolloweesBody">

        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="FollowersModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Followers</h4>
      </div>
      <div class="modal-body" id="FollowersBody">

        
      </div>
    </div>
  </div>
</div>

<div id="userHistory"><h4 class="historyInfo">Listening History


  








</h4>
  <% if current_user.songs.count >= 4 %>
  <table>
    <tr><td><div class="historyImgTDs" id="hist1"><img width="361px"height="271px" src="https://img.youtube.com/vi/<%= current_user.songs[0].content %>/hqdefault.jpg" class="historyImg"><p class="historyPs"><%= current_user.songs[0].name %></p></div></td><td><div class="historyImgTDs" id="hist2"><img width="361px"height="271px" src="https://img.youtube.com/vi/<%= current_user.songs[1].content %>/hqdefault.jpg" class="historyImg"><p class="historyPs"><%= current_user.songs[1].name %></p></div></td></tr>

    <tr><td><div class="historyImgTDs" id="hist3"><img width="361px"height="271px" src="https://img.youtube.com/vi/<%= current_user.songs[2].content %>/hqdefault.jpg" class="historyImg"><p class="historyPs"><%= current_user.songs[2].name %></p></div></td><td><div class="historyImgTDs" id="hist4"><img width="361px"height="271px" src="https://img.youtube.com/vi/<%= current_user.songs[3].content %>/hqdefault.jpg" class="historyImg"><p class="historyPs"><%= current_user.songs[3].name %></p></div></td></tr>
  </table>
  <% else %>
  Listen to some songs!
  <% end %>

  
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Paste the YouTube URL here</h4>
      </div>
      <div class="modal-body">
        <%= form_for(@user, remote:true) do |f| %>
        <%= text_field_tag :content, nil, tabindex: '-1', class: 'lol' %>
      <%= f.text_field :jamID, id: "jamURL" %>
      <%= f.text_field :jamName, id: "jamName", class: "hiddenURL" %>
       <button id="saveJam" >Add</button>
        <%= f.submit "Add", id: "saveJamReal", class: "hiddenURL" %>
        <% end %>
        
      </div>
    </div>
  </div>
</div>
</div>
<br>
<br><br><br>
<div id="lowerHalf">
<% if songkickID.nil? %>
 

<div id="noSongkick">

  <%= form_for(@user) do |f| %>
  <%= text_field_tag :content, nil, tabindex: '-1', class: 'lol' %>
      <%= f.text_field :songkickID %>

      <%= f.submit "Songkick ID", :type => :image, :src => image_path("songkicklogo.png"), id: "skLogo" %>
    <% end %>

  <br>
  Enter your Songkick ID (or <a href="https://www.songkick.com/signup" target="_blank">sign up to Songkick</a>) to get your upcoming and past gigs, with setlists from <a href="http://www.setlist.fm" target="_blank">setlist.fm</a>!</div>

<% else %>

  <% if JSON.parse((client.user_calendar(songkickID)).to_json)["resultsPage"]["status"] == "error" %>
<div id="noGigs">Username is invalid, enter a valid Songkick ID.</div><br>
<div id="noSongkick">

   <%= form_for(@user) do |f| %>
   <%= text_field_tag :content, nil, tabindex: '-1', class: 'lol' %>
      <%= f.text_field :songkickID %>

      <%= f.submit "Songkick ID", :type => :image, :src => image_path("songkicklogo.png"), id: "skLogo" %>
    <% end %> 

 </div>

  <% elsif JSON.parse((client.user_calendar(songkickID)).to_json)["resultsPage"]["results"]["calendarEntry"].nil? %> <!-- 2 -->
<div id="noGigs">No gigs! <br> You just need to get a few gigs under your belt at <a href="www.songkick.com"> Songkick</a>.<br> Then this'll look awesome (instead of crappy like it does now).</div>
  <% else %>
<% calendarEntry = JSON.parse((client.user_calendar(songkickID)).to_json)["resultsPage"]["results"]["calendarEntry"] %>
<div id="pastGigs" class="gigBlocks">
  <table class="gigTables userInfo">
    <tr><td colspan="2"><span data-toggle="modal" data-target="#pastGigsModal" id="seeAllpast"><h4>Past Gigs</h4></span></td></tr>
  <% userCalendar = JSON.parse((client.gigography(songkickID)).to_json)["resultsPage"]["results"]["event"] %>
    <% for i in (0..1) %> 
  
    <% artistImage = userCalendar[i]["performance"][0]["artist"]["id"] %>
    <tr class="pastGigsRows"><td><a href="<%= userCalendar[i]["uri"] %>" target="_blank"><img src="https://ssl.sk-static.com/images/media/profile_images/artists/<%= artistImage %>/large_avatar" class="artistImages"></a></td>
    <td>
    <% d = (userCalendar[i]["start"]["date"]).to_date %>
    <div class="uberdate myDates"><li><div class="date-wrap"><span class="month"><%= Date::ABBR_MONTHNAMES[d.mon] %></span><span class= "day"><%= d.day %></span></div> 
    <a href="<%= userCalendar[i]["uri"] %>" target="_blank"><%= userCalendar[i]["displayName"] %></a><br>
    <%= cityName = userCalendar[i]["venue"]["metroArea"]["displayName"] %>
    <% userCalendar[i]["performance"][0]["artist"]["displayName"] %>
    <% pastGigDate = Date.parse(userCalendar[i]["start"]["date"]).strftime("%d-%m-%Y") %>
    
    </td></tr>
    
    <% end %> 
  
  </table>
  </div>
  

  <div id="goingTo" class="gigBlocks">
    
<table class="gigTables userInfo">
<tr><td colspan="2"><span data-toggle="modal" data-target="#upcomingGigsModal" id="seeAll"><h4>Upcoming Gigs</h4></span></td></tr>


  <% for i in (0..1) %>  

  <% if calendarEntry[i]["reason"]["attendance"] == "im_going"  %> 
  
    <% artistid = calendarEntry[i]["event"]["performance"][0]["artist"]["id"] %>
    <tr><td class="artistImageTd"><a href="<%= calendarEntry[i]["event"]["uri"] %>" target="_blank"><img src="https://ssl.sk-static.com/images/media/profile_images/artists/<%= artistid %>/large_avatar" class="artistImages"></a></td>
  
    <td>
      
    <% d = (calendarEntry[i]["event"]["start"]["date"]).to_date %>
    <div class="hiddenGigID"><%= ds = calendarEntry[i]["event"]["id"] %></div>
    <div class="uberdate myDates">
      <li class="datewrapLi"><div class="date-wrap"><span class="month"><%= Date::ABBR_MONTHNAMES[d.mon] %></span><span class= "day"><%= d.day %></span></div>

      <li class="gigName"><a href="<%= calendarEntry[i]["event"]["uri"] %>" target="_blank"><%= calendarEntry[i]["event"]["displayName"] %></a>
        <br>
        <%= calendarEntry[i]["event"]["venue"]["metroArea"]["displayName"] %></li>
        <% unless @user.friends.count == 0 %>
         <% @user.friends.each do |friend| %>
         <% unless User.find_by_uid(friend).nil? %>
    <% unless  Gig.where(user_id: User.find_by_uid(friend).id).nil? || Gig.where(user_id: User.find_by_uid(friend).id).count == 0 %>
    <% gigs = Gig.where(user_id: User.find_by_uid(friend).id) %>
    <% gigs.each do |gig| %>
    <% if gig.songkick_id == ds %>
    <img src="http://graph.facebook.com/<%= friend %>/picture?width=50&height=50" class="userImg goingImg" title="<%= User.find_by_uid(friend).name %>"></img><div class="followerID"><%= User.find_by_uid(friend).id %></div>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
    <% end %>
    <li class="shareGigLi"><%= image_tag "ResnateShareIcon.png", class: "shareGig", "data-toggle" => "modal", "data-target" => "#shareModal" %></li>

      </div></div>
    
    
    
    
  <% end %> 
  </td></tr>
  <% end %> 
  </table>

</div>

<% end %>

<% end %>

<div id="playlists" class="gigBlocks">
  <table class="gigTables userInfo">
<tr><td colspan="2"><span data-toggle="modal" data-target="#playlistsModal" id="seePlaylists"><h4>Playlists</h4></span></td></tr>


<% if Like.where(liker_id: @user.id).count === 0 %>
<tr><td><div id="noLikes">Like some songs!</div></td></tr>
<% else %>
<tr class="likedInfo"><td>
<div class="likedContent">



</div>
<img src="https://img.youtube.com/vi/<%= Song.find(Like.find_by_liker_id(@user.id).likeable_id).content %>/hqdefault.jpg" class="playlistImg" >

</td>
<td class="playlistName">Liked</td>



</tr>
<% end %>
<% if current_user.playlists.count === 0 %>

<tr class="playlistInfo"><td>
  <br>
<div id="noPlaylists">Make some playlists!</div>
</td></tr>
<% else %>
  <tr class="playlistInfo"><td><div class="playlistContent">

  <% img1 = "a" %>
  <%= current_user.playlists.first.id %></div>
    <% JSON.parse(current_user.playlists[0].content)[0].each do |k, v| %>
      <% img1 = v %>
    <% end %>

  <img src="https://img.youtube.com/vi/<%= img1 %>/hqdefault.jpg" class="playlistImg" >

  </td>
  <td class="playlistName"><%= current_user.playlists[0].name %></td>
  </tr>
<% end %>
</table>
</div>
</div>





<script type="text/javascript">

$(function(){

  $('#saveJam').click(function(){
    expr = /(youtu\.be\/|[?&]v=)([^&]+)/;
    url = 'http://gdata.youtube.com/feeds/api/videos/' + $('#jamURL').val().match(expr)[2] + '?v=2&alt=jsonc';
    $.getJSON(url,function(json){ 
      $('#jamName').val(json["data"]["title"]);
      
      $('#saveJamReal').click();
      $('#myJamText').html(json["data"]["title"]);
      $('#jamImg').attr('src', 'https://img.youtube.com/vi/'+$('#jamURL').val().match(expr)[2]+'/hqdefault.jpg');
      $('.modal').modal('hide');
    });

  });

  $('.shareGig').click(function(){
        $('#messageURL').val('G#'+$(this).parents('.uberdate').siblings('.hiddenGigID').html());
  });
  
  var urls = [];

  for(j=0; j<$('.ml').length; j++){
    urls.push($('.mlImg').eq(j).attr('src'));
  }



  for(j=0; j<$('.ml').length; j++){
    $.ajax({
      url: urls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.mlImg').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.artist[0].id+'/large_avatar');
                          
                    }
        
      }
    });
    
    
  }

  
});

$('#getLikes').click(function(){

   $('#getLikesBody').html("<p>Loading...</p>");
  
  $.get("<%= @user.id %>/artistLikes", function(result){
  $('#getLikesBody').html(result);});
});

$('body, #getLikesBody').on('click', '.ml', function(){
  $('#getLikesBody').html('');
  $('.modal').modal('hide');
  $('#search_query').val($(this).find('.mlSpan').html());
  $('#newSearch').click();
  $('body, #getLikesBody').unbind('click')
});

$('#seeAllpast').click(function(){
  $('#pastGigsBody').html("<p>Loading...</p>");
  
  $.get("<%= current_user.id %>/pastGigs", function(result){
  $('#pastGigsBody').html(result);});

  $('#pastGigsBody').on('click', 'tr ul.pagination li a', function(ev){
    ev.preventDefault();
    $.get($(this).attr('href'), function(re){
      $('#pastGigsBody').html(re);
    });
  });
});

$('#seeAll').click(function(){
  $('#upcomingGigsBody').html("<p>Loading...</p>");
  
  $.get("<%= current_user.id %>/upcomingGigs", function(result){
  $('#upcomingGigsBody').html(result);});
  $('#upcomingGigsBody').on('click', 'tr ul.pagination li a', function(e){
    e.preventDefault();
    $.get($(this).attr('href'), function(r){
      $('#upcomingGigsBody').html(r);
    });
  });
    
  
});

$('#follows').click(function(){
  $('#FolloweesBody').html("<p>Loading...</p>");
  <% if !current_user.nil? %>
  $.get("<%= current_user.id %>/followees", function(result){
  $('#FolloweesBody').html(result);});
});

$('#followers').click(function(){
  $('#FollowersBody').html("<p>Loading...</p>");
  
  $.get("<%= current_user.id %>/followers", function(result){
  $('#FollowersBody').html(result);});
});

$('#seePlaylists').click(function(){
  $('#playlistsBody').html("<p>Loading...</p>");
  
  $.get("<%= current_user.id %>/userPlaylists", function(result){
  $('#playlistsBody').html(result);});
});
<% end %>

$('.playlistInfo').click(function(){
  $.get($(this).find('.playlistContent').html()+"/show", function(result){
    $('#Playlist').html(result);
  
});
  home();
});

$('.likedInfo').click(function(){
  $.get("<%= current_user.id %>/likes", function(result){
    $('#Playlist').html(result);
  home();
});
});

<% if current_user.songs.count >= 4 %>

$('.historyInfo').click(function(){
  $.get("<%= current_user.id %>/history", function(result){
    $('#Playlist').html(result);
  home();
});
});

$('.historyImgTDs').on( 'click', 'img', function() {
      var videoID = $(this).attr('src').slice(27,38);
      <%= render "layouts/videoClick" %>
    });

<% end %>
</script>
<% end %>