<table class="gigUberTable">
<% @gigs.each do |g| %>

        <tr>
          <td class="artistImageTd">
            <a href="https://www.songkick.com/concerts/<%= g.songkick_id %>" target="_blank">
              <img src="https://api.songkick.com/api/3.0/events/<%= g.songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="artistImages latest">
            </a>
          </td>
  
          <td>
            <% d = g.gig_date.to_date %>
            <div class="hiddenGigID"><%= g.songkick_id %></div>
            <div class="uberdate myDates">
              <div class="date-wrap">
                <span class="month"><%= Date::ABBR_MONTHNAMES[d.mon] %></span>
                <span class= "day"><%= d.day %></span>
              </div>

              <li class="gigName">
                <a href="https://www.songkick.com/concerts/<%= g.songkick_id %>" target="_blank">
                </a>
                <br>
                <span class="profileGigLocation"></span>
              </li>

              <% unless @user.followees(User).count == 0 %>
                <% @user.followees(User).each do |friend| %>
                  <% unless  Gig.find_by(user_id: friend.id, songkick_id: g.songkick_id).nil? %>
                    <img src="https://graph.facebook.com/<%= friend.uid %>/picture?width=50&height=50" class="userImg goingImg" title="<%= friend.name %>"></img>
                    <div class="hiddenID"><%= friend.id %></div>
                  <% end %>
                <% end %>
              <% end %>

              <%= image_tag "ResnateShareIcon.png", class: "shareGig", "data-toggle" => "modal", "data-target" => "#shareModal" %>
              <div class="hiddenGigID"><%= g.songkick_id %></div>
            </div>
          </td>
        </tr>
      <% end %>

</table>

<div class="genericInfinite-scrolling">
   <%= will_paginate @gigs, renderer: BootstrapPagination::Rails %>
 </div>


  <script type="text/javascript">


 var gigUrls = [];

  for(j=0; j<$('.artistImages').length; j++){
    gigUrls.push($('.artistImages').eq(j).attr('src'));
  }



  for(j=0; j<$('.artistImages').length; j++){
    $.ajax({
      url: gigUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.artistImages').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                            $('.month').eq(i).html(moment(data.resultsPage.results.event.start.date).format("MMM"));

                            $('.day').eq(i).html(moment(data.resultsPage.results.event.start.date).format("DD"));

                            $('.gigName a').eq(i).text(data.resultsPage.results.event.displayName);

                            $('.profileGigLocation').eq(i).html(data.resultsPage.results.event.venue.metroArea.displayName);
                    }
      }
    });
  }

  </script>