<div class="userUpcomingGigs">
<% @gigs.each do |g| %>
  <div class="upcomingGigDivider">

    <div class="artistImageDiv">
      <a href="https://www.songkick.com/concerts/<%= g.songkick_id %>" target="_blank">
        <img src="https://api.songkick.com/api/3.0/events/<%= g.songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="hugeArtistImages">
      </a>
    </div>

    <div class="pgInfo">
      <div class="uberdate">
        <div class="date-wrap">
          <% d = g.gig_date.to_date %>
              <span class="month"><%= Date::ABBR_MONTHNAMES[d.mon] %></span>
              <span class= "day"><%= d.day %></span>
          </div> 
          <div class="nameNlocation">
            <a href="https://www.songkick.com/concerts/<%= g.songkick_id %>" target="_blank" class="pgA">
              <div class="gigName"></div>
              <div class="profileGigLocation"></div>
            </a>
          </div>
      </div>
      <div class="goingAndSharing">
          <% unless @user.followees(User).count == 0 %>
                <% @user.followees(User).each do |friend| %>
                  <% unless  Gig.find_by(user_id: friend.id, songkick_id: g.songkick_id).nil? %>
                    <img src="https://graph.facebook.com/<%= friend.uid %>/picture?width=50&height=50" class="userImg goingImg" title="<%= friend.name %>"></img>
                    <div class="hiddenID"><%= friend.id %></div>
                  <% end %>
                <% end %>
              <% end %>

              <%= image_tag "ResnateShareIcon.png", class: "shareGig", "data-toggle" => "modal", "data-target" => "#shareModal" %>
              <div class="hiddenGigID"><%= g.id %></div>
       </div>  
      </div> 


    </div>


      <% end %>

</div>

<div class="genericInfinite-scrolling">
   <%= will_paginate @gigs, renderer: BootstrapPagination::Rails %>
 </div>


  <script type="text/javascript">


 var gigUrls = [];

  for(j=0; j<$('.hugeArtistImages').length; j++){
    gigUrls.push($('.hugeArtistImages').eq(j).attr('src'));
  }



  for(j=0; j<$('.hugeArtistImages').length; j++){
    $.ajax({
      url: gigUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.hugeArtistImages').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/huge_avatar');

                            $('.month').eq(i).html(moment(data.resultsPage.results.event.start.date).format("MMM"));

                            $('.day').eq(i).html(moment(data.resultsPage.results.event.start.date).format("DD"));

                            $('.gigName').eq(i).text(data.resultsPage.results.event.displayName);

                            $('.profileGigLocation').eq(i).html(data.resultsPage.results.event.venue.metroArea.displayName);
                    }
      }
    });
  }

  </script>