
<% @playlists.each do |p| %>
	<table>
		<tr class="playlistInfo">
			<td>
				<div class="playlistContent">
					<% img1 = "a" %>
					<%= p.id %>
				</div>
				<% JSON.parse(p.content)[0].each do |k, v| %>
					<% img1 = v %>
				<% end %>

				<img src="https://img.youtube.com/vi/<%= img1 %>/hqdefault.jpg" class="playlistImg latest playlistImgOrName" >
			</td>
			<td class="playlistName playlistImgOrName"><%= p.name %></td>
			<td class="hiddenPlaylistID"><%= p.id %></td>
			
			<% unless @user != current_user %>
			
			<td class="playlistDestroy">Delete</td>
			<% end %>
			</td>

			<% if p.followers(User).count > 0 %>
	
				<td class="playlistFollowers">
					<% p.followers(User).take(10).each do |follower| %>
						<img src="https://graph.facebook.com/<%= follower.uid %>/picture?width=50&height=50" class="userImg" title="<%= follower.name %>"></img><div class="hiddenID"><%= follower.id %></div>
					<% end %>
					<% if p.followers(User).count == 1 %>
						<span class="followersOpener" ><%= p.followers(User).count %> follower<div class="hiddenPlaylistID"><%= p.id %></div></span>
					<% else %>
						<span class="followersOpener"><%= p.followers(User).count %> followers<div class="hiddenPlaylistID"><%= p.id %></div></span>
					<% end %>
				</td>
			<% end %>
			<td class="tdDescriptP"><%= simple_format(p.description, class: "descriptP latest") %></td>
		</tr>
	</table>
<% end %>

<% if @followedPlaylists.count != 0 %>
<h4>Playlists <%= @user.first_name %> Follows</h4>
<% @followedPlaylists.each do |fp| %>
<table>
<tr class="playlistInfo"><td><div class="playlistContent">
  
<% img3 = "a" %>
<%= fp.id %></div>
<% JSON.parse(fp.content)[0].each do |k, v| %>
<% img3 = v %>
<% end %>

<img src="https://img.youtube.com/vi/<%= img3 %>/hqdefault.jpg" class="playlistImg latest playlistImgOrName" >

</td>
<td class="playlistName playlistImgOrName"><%= fp.name %></td>
<td class="hiddenPlaylistID"><%= fp.id %></td>
<td class="playlistCreator"><img src="https://graph.facebook.com/<%= User.find(fp.user_id).uid %>/picture?width=50&height=50" class="userImg" title="<%= User.find(fp.user_id).name %>"></img><div class="hiddenID"><%= User.find(fp.user_id).id %></div>
			by <span class="playlistCreatorName"><%= User.find(fp.user_id).name %></span></td>
<td class="playlistShare"><li class="playlistCsImgLi"><%= image_tag "ResnateShareIcon.png", class: "playlistCsImg", "data-toggle" => "modal", "data-target" => "#shareModal" %></li></td>
<td class="playlistFollowers">
		<% fp.followers(User).take(10).each do |follower| %>
		<td class="playlistFollower"><img src="https://graph.facebook.com/<%= follower.uid %>/picture?width=50&height=50" class="userImg" title="<%= follower.name %>"></img><div class="hiddenID"><%= follower.id %></div>
			
		<% end %>
		<% if fp.followers(User).count == 1 %>
			<span class="followersOpener" ><%= fp.followers(User).count %> follower<div class="hiddenPlaylistID"><%= fp.id %></div></span>
			<% else %>
			<span class="followersOpener"><%= fp.followers(User).count %> followers<div class="hiddenPlaylistID"><%= fp.id %></div></span>
			<% end %>

	</td>
</td>

</tr>
</table>
<% end %>
<% end %>


<script type="text/javascript">

$('.playlistCsImg').click(function(){
        $('#messageURL').val('~#' + $(this).parents('.playlistShare').siblings('.hiddenPlaylistID').html()+','+$(this).parents('.playlistShare').siblings('.playlistName').html());
  });


$('.playlistDestroy').click(function(){
	var destroyURL = '/playlists/' + $(this).siblings('.hiddenPlaylistID').html() ;
	$.ajax({
            url: destroyURL,
            type: 'DELETE'
          });
	$(this).parent().remove();
});

$('.unfollow').click(function(){
  $(this).css("display", "none");
  $(this).parents('.playlistFollowButtons').siblings(".tdFollow").find('.follow').css("display", "block");
});


 $('.followersOpener').click(function(){
  
  $.get($(this).find('.hiddenPlaylistID').html() + "/playlistFollowers", function(result){
  	
  	
  $('.genericContent').html(result);});
  $('#genericModal').modal('show');
});



</script>