<% @reviews.each do |review| %>
	<div class="mobileReviewDivider">
    <div>
      <% if review.reviewable_type == "PastGig" %>
        <img src="https://api.songkick.com/api/3.0/events/<%= PastGig.find(review.reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="mobileReviewGigImgs">
        <div class="hiddenReviewID"><%= review.id %></div>
          <div class="mobileGeneralInfo">
            <div class="mobileReviewGigName"></div>
            <div class="hiddenReviewID"><%= review.id %></div>
          
      <% elsif review.reviewable_type == "Song" %>
       <img src="https://img.youtube.com/vi/<%= Song.find(review.reviewable_id).content %>/hqdefault.jpg">
        <div class="hiddenReviewID"><%= review.id %></div>
          <div class="mobileGeneralInfo">
            <div class="mobileReviewSongName"><%= Song.find(review.reviewable_id).name %></div>
            <div class="hiddenReviewID"><%= review.id %></div>
      <% end %>
      <div class="mobileProfileReview">
        <%= review.content %>
      </div>
      <% likers = review.likers(User).count %>
      <% unless likers == 0 %>
        <div class="profileLikerNumber">
          <% if likers == 1 %>
            <%= likers %> like
          <% else %>
            <%= likers %> likes
          <% end %>
        </div>
      <% end %>
      </div>
    </div>
	</div>
	
	
<% end %>

<div class="genericInfinite-scrolling">
   <%= will_paginate @reviews, renderer: BootstrapPagination::Rails %>
 </div>

<script type="text/javascript">

$('.mobileReviewSongName, .mobileProfileReview').succinct({
            size: 60
        });

$('.mobileReviewDivider').click(function(){
  var reviewURL = '/reviews/' +$(this).find('.hiddenReviewID').html();
  $.get(reviewURL, function(result){
    $('.mobileReviewDivider, .mobileReviewBody').remove();
    $('#mobileReviewsHeader').after(result);
    $('#mobileMainBody').scrollTop(0);
  });
});


  var reviewGigUrls = [];

  for(j=0; j<$('.mobileReviewGigImgs').length; j++){
    reviewGigUrls.push($('.mobileReviewGigImgs').eq(j).attr('src'));
  }



  for(j=0; j<$('.mobileReviewGigImgs').length; j++){
    $.ajax({
      url: reviewGigUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.mobileReviewGigImgs').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                            $('.mobileReviewGigName').eq(i).text(data.resultsPage.results.event.displayName);

                            $('.mobileReviewGigName').succinct({
            size: 60
        });
                    }
      }
    });
  }


</script>