<% if @activities.count == 0 %>

	<div id="noActivities" class="noContent">
		<%= @user.first_name %> hasn't been up to much, share a playlist or review of yours with them!
	</div>

<% else %>

	<% @activities.where.not(trackable_type: "Review").each do |activity| %>
		<%if activity.trackable_type == "Gig" %>
			<div class="latest userGig">
      			<% latestGig = Gig.find(activity.trackable_id) %>
      			<a href="https://www.songkick.com/concerts/<%= latestGig.songkick_id %>" target="_blank"><img src="https://api.songkick.com/api/3.0/events/<%= latestGig.songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="latestImg latestGigImg">
      				<div class="latestContent">
        				<%= @user.first_name %> is going to <span class="latestGigDate"></span>
      				</div>
      			</a>
    		</div>

		<%elsif activity.trackable_type == "Song" %>
			<div class="latest userSong">
      			<% latestSong = Song.find(activity.trackable_id) %>
      			<img src="https://img.youtube.com/vi/<%= latestSong.content %>/hqdefault.jpg" class="playlistImg latestImg" >
      			<div class="latestContent">
        			<%= @user.first_name %> listened to <span class="latestSongName"><%= latestSong.name %></span>
      			</div>
    		</div>

    	<%elsif activity.trackable_type == "Playlist" %>
    		<div class="latest userPlaylist">
      		<% latestPlaylist = activity.trackable_id %>
      		<% img1 = "a" %>
          	<% JSON.parse(Playlist.find(latestPlaylist).content)[0].each do |k, v| %>
            	<% img1 = v %>
          	<% end %>
          		<img src="https://img.youtube.com/vi/<%= img1 %>/hqdefault.jpg" class="playlistImg latestImg" >
          		<div class="hiddenPlaylistID"><%= latestPlaylist %></div>
          		<div class="latestContent">
            		<div class="hiddenPlaylistID"><%= latestPlaylist %></div>
            		<% if activity.key == "playlist.create" %>
              			<%= @user.first_name %> created the playlist <span class="latestPlaylistName"><%= Playlist.find(latestPlaylist).name %></span>
            		<% elsif activity.key == "playlist.update" %>
              			<%= @user.first_name %> updated the playlist <span class="latestPlaylistName"><%= Playlist.find(latestPlaylist).name %></span>
            		<% end %>
          		</div>
    		</div>

    	<%elsif activity.trackable_type == "User" %>
    		<div class="latest userUser">
    			<% user = User.find(activity.trackable_id) %>
    			<img src="<%= user.image %>" class="latestImg" >
    			<div class="hiddenID"><%= user.id %></div>
    			<div class="latestContent">
    				<% if activity.parameters.nil? || activity.parameters == {} %>
    					New level: <%= user.level_name %>
    				<% else %>
    					New level: <%= Merit::Badge.find(activity.parameters[:level]).name %>
              <%= image_tag (Merit::Badge.find(activity.parameters[:level]).custom_fields[:image]), class: 'badgeImg' %>
    				<% end %>
    			</div>
    		</div>

    	<% end %>
	
	<% end %>

<% end %>

<div class="genericInfinite-scrolling">
   <%= will_paginate @activities, renderer: BootstrapPagination::Rails %>
 </div>

 <script type="text/javascript">

var latestGigUrls = [];

  for(j=0; j<$('.latestGigImg').length; j++){
    latestGigUrls.push($('.latestGigImg').eq(j).attr('src'));
  }



  for(j=0; j<$('.latestGigImg').length; j++){
    $.ajax({
      url: latestGigUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.latestGigImg').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                         

                            $('.latestGigDate').eq(i).text(data.resultsPage.results.event.displayName);
                    }
      }
    });
  }

 </script>