<div class="bigPlaylistHeader">
<% unless @playlist.content.nil? %>
	<% JSON.parse(@playlist.content).first.each do |k, v| %>
		<img class="bigPlaylistPic" src="https://img.youtube.com/vi/<%= v %>/hqdefault.jpg"></img>
	<% end %>
<% end %>

<div class="bigPlaylistInfo">
	<h1 class="bigPlaylistName"><%= @playlist.name %></h1>
	<% if current_user.id == @playlist.user_id %>
		<div class="bigEditPlaylist editDeleteBkgd">Edit</div>
		<div class="bigSavePlaylist editDeleteBkgd">Save</div>
		<div class="cancelEditingPlaylist editDeleteBkgd">Cancel</div>
		<div class="bigDeletePlaylist editDeleteBkgd">Delete</div>
		<div class="deletePlaylistPrompt">Are you sure you want to delete this playlist?</div>
		<div class="deletePlaylistYes editDeleteBkgd">Yes</div>
		<div class="deletePlaylistNo editDeleteBkgd">No</div>
	<% end %>
	<div class="description">
		<% if @playlist.description.nil? && @playlist.user_id == current_user.id %>
			<textarea class="descriptTxt" placeholder="Write about this playlist!"></textarea>
		<% else %>
			<%= simple_format(@playlist.description, class: "descriptP") %>
		<% end %>
	</div>

	<% if @playlist.followers(User).count > 0 %>
		<div class="playlistFollowers">
		<% @playlist.followers(User).take(10).each do |follower| %>
			<img src="https://graph.facebook.com/<%= follower.uid %>/picture?width=50&height=50" class="userImg" title="<%= follower.name %>"></img><div class="hiddenID"><%= follower.id %></div>
		<% end %>
		<% if @playlist.followers(User).count == 1 %>
			<span class="followersOpener" ><%= @playlist.followers(User).count %> follower<div class="hiddenPlaylistID"><%= @playlist.id %></div></span>
		<% else %>
			<span class="followersOpener"><%= @playlist.followers(User).count %> followers<div class="hiddenPlaylistID"><%= @playlist.id %></div></span>
		<% end %>
		</div>
	<% end %>
</div>
</div>
<% unless @playlist.content.nil? %>
	<% JSON.parse(@playlist.content).each do |p| %>
		<% p.each do |k, v| %>
			<li class="playlistSong playlistSongLi">

				<img class="playlistYT playlistSong" src="https://img.youtube.com/vi/<%= v %>/default.jpg"></img>
				<% if @playlist.user_id == current_user.id %>
					<span class="glyphicon glyphicon-remove"></span>
				<% end %>
				<p class="playlistSongP"><%= k %></p>

			</li>
		<% end %>
	<% end %>
<% end %>
