<% if current_user.followees(User).count == 0 %>
<div id="noFeed">
	<h3 id="followFriends"> Follow Friends.<br><br>Share Songs.<br><br>Write Reviews. </h3>

	<% unless @user.friends.nil? || @user.friends.count == 0 %>


		<% @user.friends.each do |friend| %>
  			<% unless User.find_by_uid(friend).nil? %>
        <% f = User.find_by_uid(friend) %>
        
    			<div class="feedFollowDiv">
            <%= image_tag "https://graph.facebook.com/#{f.uid}/picture?width=200&height=200", class: "feedFollowImgs" %>
            <div class="hiddenID"><%= f.id %></div>  

          <div class="feedFollowInfo">
            <div class="profileName"><%= f.name %></div>
            <div class="hiddenID"><%= f.id %></div>
            <br>
            <% unless f.badges.count == 0 %>
              <%= image_tag (f.badges.last.custom_fields[:image]), class: 'reviewerBadge' %>
            <% end %>
            <div class="reviewLevelNameNPoints">
              <%= f.level_name %> <%= f.points %> points
            </div>
            <div class="reviewFollowers">
            <% followerCount = f.followers(User).count %>
            <% if followerCount == 1 %>
              <%= followerCount %> follower
            <% elsif followerCount > 1 %>
              <%= followerCount %> followers
            <% end %>
          </div>
        </div>
      </div>
      
  		<% end %>
		<% end %>
	<% end %>
</div>

<% else %>

	<% @activities.each do |activity| %>
		<% if activity.trackable %>
			<div class="activity">
				<%= render_activity activity %>
			</div>
		<% end %>
	<% end %>

	<div class="infinite-scrolling">
		<%= will_paginate @activities, renderer: BootstrapPagination::Rails %>
	</div>

	<script type="text/javascript">

$(function(){

  autosize($('.inputComment'));

  $('.feedReview').succinct({
                 size: 100
             });

   

  $('.feedCsImg').click(function(){
     $('#messageURL').val('S#' + $(this).siblings('.hiddenSongID').html());
  });


$('.feedUnfollow.fUlUser').click(function(){
  $(this).parents('.feedShares.fUlUser').css("display", "none");
  $(this).parents('.feedShares.fUlUser').siblings('.feedShares.fFlUser').css("display", "inline-block");
});

$('.feedFollow.fFlUser').click(function(){
  $(this).parents('.feedShares.fFlUser').css("display", "none");
  $(this).parents('.feedShares.fFlUser').siblings('.feedShares.fUlUser').css("display", "inline-block");
});




});
</script>

<% end %>