
<div id="reviewBody" class="modal-body">

	
	<div class="reviewHeader">
		<div class="hiddenUserID"><%= @review.user_id%></div>
		<% if @review.reviewable_type == "PastGig" %>

		<a href="https://www.songkick.com/concerts/<%= PastGig.find(@review.reviewable_id).songkick_id %>" target="_blank"><img src="https://api.songkick.com/api/3.0/events/<%= PastGig.find(@review.reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="reviewImg reviewGigs<%= @review.id %>"></a>

		<% elsif @review.reviewable_type == "Song" %>

		<img src="https://img.youtube.com/vi/<%= Song.find(@review.reviewable_id).content %>/hqdefault.jpg" class="reviewImg reviewSongImg" >
		<p class="jamTitle"><%= Song.find(@review.reviewable_id).name %></p>

		<% end %>
		
		<div class="reviewTitle">
			<div class="reviewT">
			Review of
			<% if @review.reviewable_type == "PastGig" %>
			<div class="reviewGigName<%= @review.id %>"></div>
			<% elsif @review.reviewable_type == "Song" %>
			<div class="activityName songName" src="https://img.youtube.com/vi/<%= Song.find(@review.reviewable_id).content %>/hqdefault.jpg"><%= Song.find(@review.reviewable_id).name %></div>
			<% end %>
			
			</div>
			<%= image_tag "https://graph.facebook.com/#{User.find(@review.user_id).uid}/picture?width=200&height=200", class: "feedPic" %>
			<div class="hiddenID">
  				<%= @review.user_id %>
			</div>
			<div class="reviewerInfo">
				<div class="profileName"><%= User.find(@review.user_id).name %></div>
				<div class="hiddenID">
  					<%= @review.user_id %>
				</div>
				<br>
				<% unless User.find(@review.user_id).badges.count == 0 %>
				<%= image_tag (User.find(@review.user_id).badges.last.custom_fields[:image]), class: 'reviewerBadge' %>
				<% end %>
				<div class="reviewLevelNameNPoints">
      				<%= User.find(@review.user_id).level_name %> <%= User.find(@review.user_id).points %> points
      			</div>
      			<div class="reviewFollowers">
      			<% followerCount = User.find(@review.user_id).followers(User).count %>
      			<% if followerCount == 1 %>
      				<%= followerCount %> follower
      			<% elsif followerCount > 1 %>
      				<%= followerCount %> followers
      			<% end %>
      			</div>
			</div>
			
		</div>
		
	</div>
	
	<div class="reviewContent"><%= sanitize @review.content.gsub(/(?:\n\r?|\r\n?)/, '<br>'), tags: %w(br) %></div>
	<div class="hiddenReviewID"><%= @review.id -%></div>
	
	<% unless current_user.nil? %>
		<% if current_user.id == @review.user_id %>
			<div class="editReview editDeleteBkgd">Edit</div>
			<div class="saveReview editDeleteBkgd">Save</div>
			<div class="cancelGigReview editDeleteBkgd">Cancel</div>
			<div class="deleteReview editDeleteBkgd">Delete</div>
			<div class="deleteReviewPrompt">Are you sure you want to delete this review?</div>
			<div class="deleteReviewYes editDeleteBkgd">Yes</div>
			<div class="deleteReviewNo editDeleteBkgd">No</div>
		<% end %>
	
	<div>
	<div class="likerNumber">
		<% likers = @review.likers(User).count %>
        <% if likers == 1 %>
          <%= likers %> like
        <% else %>
          <%= likers %> likes
        <% end %>
      </div>
      <% if current_user.likes?(@review) %>
			<span class="glyphicon glyphicon-thumbs-up reviewThumb liked"></span>
		<% elsif current_user.id != @review.user_id %>
			<span class="glyphicon glyphicon-thumbs-up reviewThumb"></span>
			
		<% end %>
		<span class="hiddenID"><%= @review.user_id %></span>
		<div class="hiddenReviewID"><%= @review.id -%></div>
	</div>
	<div class="feedButtons reviewButtons">
		
      	
      	<%= image_tag "ResnateShareIcon.png", class: "shareReview", "data-toggle" => "modal", "data-target" => "#shareModal" %>
      	<a class="popup csIcons" href="https://facebook.com/sharer/sharer.php?app_id=397688387002984&u=https://www.resnate.com/reviews/<%= params[:id] %>/pl"><%= image_tag "facebook.jpg", id: "fbShareImg" %></a>
      	<a class="twitter popup csIcons" href="https://twitter.com/share?url=https://www.resnate.com/reviews/<%= params[:id] %>/pl&text=I've written a review on @resnate!"><%= image_tag "twitter.png", id: "twit" %></a>
      <div class="hiddenReviewID"><%= @review.id %></div>
      <span class="hiddenID"><%= @review.user_id %></span>
	</div>

	<div class="comments activity<%=@activity.id%>comments">
  			<% @activity.comment_threads.each do |comment| %>
  			<div class="comment">
              <img src="https://graph.facebook.com/<%= User.find(comment.user_id).uid %>/picture?width=50&height=50" class="userImg commentPic">
              <span class="hiddenID"><%= comment.user_id %></span>
              <div class="commentContent"><span class="commenterName"><%= User.find(comment.user_id).name %></span><span class="hiddenID"><%= comment.user_id %></span><%= simple_format(comment.body) %>
              </div>
              <div class="hiddenCommentID"><%= comment.id %></div>
              	<% if comment.user_id == current_user.id %>
    			<span class="glyphicon glyphicon-remove commentDelete"></span>
    			<% end %>
            </div>
  			<% end %>

  			<div class="commentURL">
    		/activity/<%=@activity.id%>/comments/
  		</div>
  			<img src="https://graph.facebook.com/<%= current_user.uid %>/picture?width=50&height=50" class="userImg goingImg">
			<textarea class="inputComment"></textarea>
	</div>
	<% end %>
</div>

<script type="text/javascript">

var url = $('.reviewGigs<%= @review.id %>').attr('src');
  $.getJSON(url, function(data){
    $('.reviewGigs<%= @review.id %>').attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/huge_avatar');

                            $('.reviewGigName<%= @review.id %>').html(data.resultsPage.results.event.displayName);
                            $('.reviewGigs<%= @review.id %>').removeClass('reviewGigs<%= @review.id %>');
  });



  

</script>