<div class="mobileReviewImgNName">
		<% if @review.reviewable_type == "PastGig" %>
        <img src="https://api.songkick.com/api/3.0/events/<%= PastGig.find(@review.reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="mobileReviewGigImgs">
        <div class="hiddenReviewID"><%= @review.id %></div>
          <div class="mobileGeneralInfo">
          	<span class="mobileReviewGigName"></span>
            <div class="hiddenReviewID"><%= @review.id %></div>
          </div>
      <% elsif @review.reviewable_type == "Song" %>
       <img src="https://img.youtube.com/vi/<%= Song.find(@review.reviewable_id).content %>/hqdefault.jpg">
        <div class="hiddenReviewID"><%= @review.id %></div>
          <div class="mobileGeneralInfo">
          	<%= Song.find(@review.reviewable_id).name %>
            <div class="hiddenReviewID"><%= @review.id %></div>
          </div>
      <% end %>
      	</div>
      	<div class="mobileReviewContent">
          <%= sanitize @review.content.gsub(/(?:\n\r?|\r\n?)/, '<br>'), tags: %w(br) %>
          <div class="hiddenReviewID"><%= @review.id -%></div>
          
          <% if current_user.id == @review.user_id %>
            <div class="editReview">Edit</div>
            <div class="deleteReview">Delete</div>
            <div class="deleteReviewPrompt">Are you sure you want to delete this review?</div>
            <div class="deleteReviewYes">Yes</div>
            <div class="deleteReviewNo">No</div>
          <% end %>
          <div>
            <div class="likerNumber">
              <% likers = @review.likers(User).count %>
              <% if likers == 1 %>
                <%= likers %> like
              <% else %>
                <%= likers %> likes
              <% end %>
            </div>
            <% if current_user.likes?(@review) %>
              <span class="glyphicon glyphicon-thumbs-up reviewThumb liked"></span>
            <% elsif current_user.id != @review.user_id %>
              <span class="glyphicon glyphicon-thumbs-up reviewThumb"></span>
            <% end %>
            <span class="hiddenID"><%= @review.user_id %></span>
            <div class="hiddenReviewID"><%= @review.id -%></div>
          </div>
        </div>
        