<div class="mobileReviewBody">
  <div class="mobileReviewImgNName">
		<% if @review.reviewable_type == "PastGig" %>
      
        <div class="mobileReviewShowGigName"></div>
        <img src="https://api.songkick.com/api/3.0/events/<%= PastGig.find(@review.reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="mobileReviewShowGigImgs mobileReviewShowImgs">
        <div class="hiddenReviewID"><%= @review.id %></div>
          
      <% elsif @review.reviewable_type == "Song" %>
        <div class="mobileReviewShowSongName"><%= Song.find(@review.reviewable_id).name %></div>
        <img src="https://img.youtube.com/vi/<%= Song.find(@review.reviewable_id).content %>/hqdefault.jpg" class="mobileReviewShowImgs">
        <div class="hiddenReviewID"><%= @review.id %></div>
          
      <% end %>
      	</div>
      	<div class="mobileReviewWrapper">
          <div class="mobileReviewContent"><%= sanitize @review.content.gsub(/(?:\n\r?|\r\n?)/, '<br>'), tags: %w(br) %></div>
          <div class="hiddenReviewID"><%= @review.id -%></div>
          
          <% if current_user.id == @review.user_id %>
            <div class="editReview">Edit</div>
            <div class="deleteReview">Delete</div>
            <div class="deleteReviewPrompt">Are you sure?</div>
            <div class="deleteReviewYes">Yes</div>
            <div class="deleteReviewNo">No</div>
            <div class="editReviewPrompt">Save changes?</div>
            <div class="editReviewYes">Yes</div>
            <div class="editReviewNo">No</div>
          <% end %>
          <div class="likesNcomments">
            <div class="numberNthumb">
            <div class="likerNumber">
              <% likers = @review.likers(User).count %>
              <% if likers == 1 %>
                <%= likers %> like
              <% else %>
                <%= likers %> likes
              <% end %>
            </div>
            <% if current_user.likes?(@review) %>
              <span class="glyphicon glyphicon-thumbs-up reviewThumb liked"></span>
            <% elsif current_user.id != @review.user_id %>
              <span class="glyphicon glyphicon-thumbs-up reviewThumb"></span>
            <% end %>
            </div>
            <span class="hiddenID"><%= @review.user_id %></span>
            <div class="hiddenReviewID"><%= @review.id -%></div>
            <div class="reviewButtons">
              <%= image_tag "ResnateShareIcon.png", class: "shareReview", "data-toggle" => "collapse", "href" => "#shareAccordion" %>
              <a class="popup csIcons" href="https://facebook.com/sharer/sharer.php?app_id=397688387002984&u=https://www.resnate.com/reviews/<%= params[:id] %>/pl" target="_blank"><%= image_tag "facebook.jpg", id: "fbShareImg" %></a>
              <a class="twitter popup csIcons" href="https://twitter.com/share?url=https://www.resnate.com/reviews/<%= params[:id] %>/pl&text=I've written a review on @resnate!" target="_blank"><%= image_tag "twitter.png", id: "twit" %></a>
              <div class="hiddenReviewID"><%= @review.id %></div>
              <span class="hiddenID"><%= @review.user_id %></span>
            </div>
          </div>
        </div>
</div>

<script type="text/javascript">

var reviewShowUrls = [];

  for(j=0; j<$('.mobileReviewShowGigImgs').length; j++){
    reviewShowUrls.push($('.mobileReviewShowGigImgs').eq(j).attr('src'));
  }



  for(j=0; j<$('.mobileReviewShowGigImgs').length; j++){
    $.ajax({
      url: reviewShowUrls[j],
      indexValue: j,
      async: false,
      dataType: 'json',
      success: function(json) {
        
        image_link(json , this.indexValue);

                    function image_link(data, i) {
                        
                            $('.mobileReviewShowGigImgs').eq(i).attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/huge_avatar');

                            $('.mobileReviewShowGigName').eq(i).text(data.resultsPage.results.event.displayName);
                    }
      }
    });
  }

  $('.editReview').click(function(){
    var reviewContent = $(this).siblings('.mobileReviewContent').html();
    $(this).siblings('.mobileReviewContent').replaceWith('<textarea class="updateReview">' + reviewContent.replace(/(<br>)|(<br \/>)|(<p>)|(<\/p>)/g, "\r\n") + '</textarea>');
    autosize($('.updateReview'));
    $('.deleteReviewPrompt, .deleteReviewYes, .deleteReviewNo').hide();
    $('.editReviewPrompt, .editReviewYes, .editReviewNo').css('display', 'inline-block');

    $('.editReviewNo, .deleteReview').click(function(){
      $('.editReviewPrompt, .editReviewYes, .editReviewNo').hide();
      $('.updateReview').replaceWith('<div class="mobileReviewContent">'+reviewContent+'</div>');
    });

    $('.editReviewYes').click(function(){
      $('.editReviewPrompt, .editReviewYes, .editReviewNo').hide();
      var contentText = $('.updateReview').val();
      var ID = $(this).siblings('.hiddenReviewID').html();
      var updateURL = "/reviews/" + ID;
      $.ajax({
        url: updateURL,
        method: "PUT",
        data: { content : contentText }
      });
      $('.updateReview').replaceWith('<div class="mobileReviewContent">' + contentText.replace(/\r?\n|\r/g, "<br>") + '</div>');
    });
  });

$('.deleteReview').click(function(){
  $('.editReviewPrompt, .editReviewYes, .editReviewNo').hide();
  $('.deleteReviewPrompt, .deleteReviewYes, .deleteReviewNo').css('display', 'inline-block');

  $('.deleteReviewNo').click(function(){
      $('.deleteReviewPrompt, .deleteReviewYes, .deleteReviewNo').hide();
    });

});


</script>
        