<%= image_tag "https://graph.facebook.com/#{activity.owner.uid}/picture?width=200&height=200", class: "feedPic" %>
<div class="hiddenID">
  <%= activity.owner.id %>
</div>

<% if Review.find(activity.trackable_id).reviewable_type == "PastGig" %>

<img src="https://api.songkick.com/api/3.0/events/<%= PastGig.find(Review.find(activity.trackable_id).reviewable_id).songkick_id %>.json?apikey=Pxms4Lvfx5rcDIuR&jsoncallback=?" class="feedReviewGigs feedReviewGigs<%= Review.find(activity.trackable_id).reviewable_id %>">

<% elsif Review.find(activity.trackable_id).reviewable_type == "Song" %>

<% song = Song.find(Review.find(activity.trackable_id).reviewable_id) %>

<img src='https://img.youtube.com/vi/<%= song.content %>/hqdefault.jpg' class="feedYT" >
<p class="hiddenYTName">
  <%= song.name %>
</p>

<% end %>

<div class="feedButtons">
  <% if current_user.likes?(Review.find(activity.trackable_id)) %>
    <span class="glyphicon glyphicon-thumbs-up feedShares feedThumbs reviewThumb liked"></span>
  <% elsif current_user.likes?(Review.find(activity.trackable_id)) == false && current_user.id != activity.owner.id %>
    <span class="glyphicon glyphicon-thumbs-up feedShares feedThumbs reviewThumb"></span>
  <% end %>
  <%= image_tag "ResnateShareIcon.png", class: "shareReview", "data-toggle" => "modal", "data-target" => "#shareModal" %>
  <div class="hiddenReviewID"><%= activity.trackable_id %></div>
  <div class="hiddenID"><%= activity.owner.id %></div>
</div>

<div class="activityInfo">
  <div class="activityDetails">
    <div class="profileName"><%= activity.owner.name if activity.owner %></div>
    <div class="hiddenID"><%= activity.owner.id %></div>
    <div class="verb">wrote a review for</div>

    <% if Review.find(activity.trackable_id).reviewable_type == "PastGig" %>

      <span class="feedReviewGigName feedGigName<%= Review.find(activity.trackable_id).reviewable_id %>"></span>

    <% elsif Review.find(activity.trackable_id).reviewable_type == "Song" %>

      <% song = Song.find(Review.find(activity.trackable_id).reviewable_id) %>

    <div class="activityName"><%= song.name %></div>
    <div class="hiddenYTID" style="display:none"><%= song.content %></div>

<% end %>
    <div class="feedReview" data-toggle="modal" data-target="#genericModal">
      <%= Review.find(activity.trackable_id).content %>
    </div>
    <div class="hiddenReviewID"><%= activity.trackable_id %></div>
    <div class="createdAt"><%= time_ago_in_words(DateTime.parse(activity.trackable.created_at.to_s)) %> ago</div>
  </div>



  <div class="likesNcomments">
    <div class="likers">
      <% likeTotal = 0 %>
        <% likerNames = [] %>
        <% review = Review.find(activity.trackable_id) %>
        <% likeTotal += review.likers(User).count %>
        <% review.likers(User). each do |liker| %>
            <% if liker == current_user %>
              <% likerNames.unshift("You") %>
            <% else %>
              <% likerNames.push(liker.name) %>
            <% end %>
        <% end %>
        <% if likeTotal == 1 %>
            <% if likerNames[0] == "You" %>
              <%= likerNames[0] %> like this.
            <% else %>
              <%= likerNames[0] %> likes this.
            <% end%>
          <% elsif likeTotal == 2 %>
            <%= likerNames[0] %> and <%= likerNames[1] %> like this.
          <% elsif likeTotal == 3 %>
            <%= likerNames[0] %>, <%= likerNames[1] %> and <%= likerNames[2] %> like this.
          <% elsif likeTotal > 3 %>
            <%= likerNames[0] %>, <%= likerNames[1] %> and <%= likeTotal -2 %> others like this.
          <% end %>
    </div>

    <div class="comments activity<%=activity.id%>comments">
        <% activity.comment_threads.each do |comment| %>
          <div class="comment">
            <img src="https://graph.facebook.com/<%= User.find(comment.user_id).uid %>/picture?width=50&height=50" class="userImg commentPic">
            <span class="hiddenID"><%= comment.user_id %></span>
            <div class="commentContent"><span class="commenterName"><%= User.find(comment.user_id).name %></span><span class="hiddenID"><%= comment.user_id %></span><%= simple_format(comment.body) %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="commentURL">
        /activity/<%=activity.id%>/comments/
      </div>


    <img src="https://graph.facebook.com/<%= @user.uid %>/picture?width=50&height=50" class="userImg goingImg">

    <textarea class="inputComment"></textarea>
  </div>
</div>

<script type="text/javascript">

$(function(){
  var url = $('.feedReviewGigs<%= Review.find(activity.trackable_id).reviewable_id %>').attr('src');
  $.getJSON(url, function(data){
    $('.feedReviewGigs<%= Review.find(activity.trackable_id).reviewable_id %>').attr("src", 'https://ssl.sk-static.com/images/media/profile_images/artists/'+data.resultsPage.results.event.performance[0].artist.id+'/large_avatar');

                            $('.feedReviewGigName<%= Review.find(activity.trackable_id).reviewable_id %>').html(data.resultsPage.results.event.displayName);
  });
  
});
                        
                            

                          

</script>