<!DOCTYPE html>
<html>
  <head>
    <a href="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"></a>
    <meta property="og:description" content="The Music Social Network." />
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= favicon_link_tag 'favicon2.ico' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="fb-root"></div>
<script>

<% if !current_user.nil? %>


$(function(){

  $(document).on({
    mouseenter: function () {
        $( this ).animate({ "top": "-=3px" }, 250);
    },
    mouseleave: function () {
        $( this ).animate( { "top": "+=3px" }, 250);
    }
}, '.glyphicon, .feedShares, .shareGig, .csIcons');


  $.get("/<%= current_user.id %>/recCount", function(result){
      $('#resultDiv').val(result);
    });

    $.get("/<%= current_user.id %>/pointCount", function(result){
      $('#pointDiv').val(result);
    });
  
    setTimeout(updateInbox, 10000);

    function updateInbox(){
      $.get("/<%= current_user.id %>/recCount", function(result){
        if(result != 0) {
          $('#recCount').html(result);
          $('#recCount').removeClass('invisCount');
          
          if($('#recCount').html() != parseInt($('#resultDiv').val())) {
            <%= add_gritter("This is a notification just for you!", title: "New Message!") %>  
            $('#resultDiv').val($('#recCount').html());
          }
          
        }});

      setTimeout(updateInbox, 10000);
    }

    setTimeout(updatePoints, 10000);

    function updatePoints(){
      $.get("/<%= current_user.id %>/pointCount", function(result){
        if(result != 0) {
          $('#pointCount').html(result);
          $('#pointCount').removeClass('invisCount');
          
          if($('#pointCount').html() != parseInt($('#pointDiv').val())) {
            <%= add_gritter("Yay!", title: "You Got Points!") %>  
            $('#pointDiv').val($('#pointCount').html());
          }
          
        }});

      setTimeout(updatePoints, 10000);
    }
     
  

    $('#Welcome').css("display", "none");
    $("#YTtest, #searchNsee").fadeIn().css("display","inline-block");
    



var users = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  limit: 10,
  prefetch: {
    ttl: 1,
    url: '../autocomplete.json',

  }
});
 
users.initialize();

$('#search_user').typeahead(
{
  hint: false
}
  , {
  name: 'users',
  displayKey: 'name',
  source: users.ttAdapter(),
  templates: {
    empty: [
      '<div class="empty-message">',
      'Unable to find any users',
      '</div>'
    ].join('\n'),
    suggestion: Handlebars.compile('<p class="userSuggestions"><img src="http://graph.facebook.com/{{uid}}/picture?width=50&height=50" class="dropdownImg"></img><strong>{{name}}</strong></p>')
  }
});

$("#search_user").on("typeahead:selected typeahead:autocompleted", function(e,datum) { 
$('#userId').val(datum.id);
$('#userButton').trigger('click');
})

$("#search_user").keydown(function(event){
  if(event.keyCode==13){
       $('#userButton').trigger('click');
    }
});

});

function searchUser(){
  var userSearch = "/" + $('#userId').val();
  $.get(userSearch, function(result){
  $('#box3').html(result);});
    $('#container').animate({
        left: '100%',
        top: '-100%'
    });
}

function amazonIntl(){
  var userSearch = $('#search_query').val();
   <% if current_user.country == "United Kingdom" %>
       $("#moreMerch").html('<a href="http://www.amazon.co.uk/s/ref=sr_nr_n_8?rh=n%3A83450031%2Ck%3A&keywords=' + userSearch + '" target="_blank">More Merch at Amazon</a>');
   <% elsif current_user.country == "France" %>
       $("#moreMerch").html('<a href="http://www.amazon.fr/s/ref=sr_nr_n_8?url=search-alias%3Dclothing&field-keywords=' + userSearch + '" target="_blank">More Merch at Amazon</a>');
   <% else %>
       $("#moreMerch").html('<a href="http://www.amazon.com/s/ref=sr_nr_n_8?url=search-alias%3Dapparel&field-keywords=' + userSearch + '" target="_blank">More Merch at Amazon</a>');
   <% end %>
}



<% end %>

</script>
<% if signed_in? %>
   
  	<nav class="navbar navbar-default navbar-static-top" role="navigation">
      <form action="/resnate_pages/AmazonStore" method='GET' target="AmazonResults">
        <input type="text" class="lol">
      <input id="search_query" class="search" name="search_query" placeholder="Search Artists" type="text" maxlength="128"
              class="navbar-form navbar-left">
              <input id="song_query" class="search" placeholder="Song/Album" type="text" maxlength="128"
              class="navbar-form navbar-left" >
                <button name="searchButton" id="newSearch" type="submit" 
                class="navbar-form navbar-left"
                   onclick="ytSearch(); merchNgigsSearch(); abracadabra(); home(); amazonIntl(); friendsLikeArtist()"><span class="glyphicon glyphicon-search" ></span></button>
                 </form>
        <ul class="nav navbar-nav">
        
        <li id="navID"></li>
        <li id="navTitle"></li>

        <li id="navButtons"></li>
      </ul>
     
        <ul class="nav navbar-nav navbar-right">
          
          <li id="custom-templates"><input id="search_user" class="typeahead" placeholder="Search People" type="text" autocomplete="off" >
            <input type="hidden" name="resultDiv" id="resultDiv" />
            <input type="hidden" name="pointDiv" id="pointDiv" />
            <input type="hidden" name="userId" id="userId" value="" />
          <input id="userButton" type="submit" onclick="searchUser()"></li>
          <% recCount = 0 %>
          <% current_user.mailbox.conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for current_user %>
            <% receipts.each do |receipt|%>
            <% unless receipt.message.subject[1] == "|" %>
                <% if receipt.is_unread?%>
                <% recCount += 1 %>
                <% end %>
            <% end %>
            <% end %>
          <% end %>
         <li><span><span class="glyphicon glyphicon-envelope" data-toggle="modal" data-target="#inboxModal" onclick="getConvos()" ></span>
          <% if recCount == 0 %>
          <div id="recCount" class="invisCount"><%= recCount %></div>
          <% else %>
          <div id="recCount"><%= recCount %></div>
          <% end %>
        </span></li>

        <% pointCount = 0 %>
          <% current_user.mailbox.conversations.each do |conversation| %>
          <% receipts = conversation.receipts_for current_user %>
            <% receipts.each do |receipt|%>
            <% if receipt.message.subject[1] == "|" %>
                <% if receipt.is_unread?%>
                <% pointCount += 1 %>
                <% end %>
            <% end %>
            <% end %>
          <% end %>

         <li><span><span class="glyphicon glyphicon-bell" data-toggle="modal" data-target="#pointsModal" onclick="getPoints()"></span>


          <% if pointCount == 0 %>
          <div id="pointCount" class="invisCount"><%= pointCount %></div>
          <% else %>
          <div id="pointCount"><%= pointCount %></div>
          <% end %>



         </span></li>
          


        
         <li><span class="glyphicon glyphicon-home" onclick="feed()"></span></li>
          

          
          <li><img src="http://graph.facebook.com/<%=current_user.uid%>/picture?width=100&height=100" id="profilePic" onclick="profile()"></li>
          
    <!--<li id="currentUser" class="currentUserInfo"><strong><%= current_user.name %></strong></li>-->
    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
  
        </ul>
</nav>
<% end %>
    <%= yield %>
  </body>
</html>