     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <% setlistURL = "http://api.setlist.fm/rest/0.1/search/setlists.json?artistName=" + @artistName + "&cityName=" + @cityName + "&date=" + @pastGigDate +"&apikey=ece37fb8-74e5-40e1-b04a-a0c4f23b732d" %>
<%= setlistURL %>
    <% url = URI.parse(setlistURL.gsub(" ", "+")) %>
    <% request = Net::HTTP.get_response(url) %>
<%= request.body %>
    <% if request.body.include?("not found") || request.body.include?('"sets":""') %>
      <div class="setlistList"> No setlist found </div>
      
    <% else %>
      
      
      <% isArray = JSON.parse(request.body)["setlists"]["setlist"].kind_of?(Array) %>
      <% if isArray == false %>
      <% result = JSON.parse(request.body)["setlists"]["setlist"]["sets"]["set"] %>
      
      <div class="setlistList">

      <% setsLength = result.length-1 %>
      <% for i in 0..setsLength %>
        <% if setsLength == 0 %>
          <% allSets = result["song"] %>
        <% else %>
          <% allSets = result[i]["song"] %>
        <% end %>
        <% setLength = allSets.length-1 %>
        
        <% for j in 0..setLength %>
          <% if allSets[j].nil? %>
            <div class="setlist"><div><%= allSets["@name"] %></div></div>
            <% break %>
          <% else %>
            <div class="setlist"><div><%= allSets[j]["@name"] %></div></div>
          <% end %>
        <% end %>

      <% end %>
      </div>
      <% else %>
        <% JSON.parse(request.body)["setlists"]["setlist"].each do |show| %>
        
          <div class="setlistList">
        <div class="setlistHeader">Setlist</div>
          <% setsLength = show["sets"]["set"].length-1 %>
          <% for i in 0..setsLength %>
        <% if setsLength == 0 %>
          <% allSets = show["sets"]["set"]["song"] %>
        <% else %>
          <% allSets = show["sets"]["set"][i]["song"] %>
        <% end %>
        <% setLength = allSets.length-1 %>
        
        <% for j in 0..setLength %>
          <% if allSets[j].nil? %>
            <div class="setlist"><div><%= allSets["@name"] %></div></div>
            <% break %>
          <% else %>
            <div class="setlist"><div><%= allSets[j]["@name"] %></div></div>
          <% end %>
        <% end %>

      <% end %>
        </div><br>
        <% end %>
      <% end %>

      <% end %>


